<% parent = Coin.symbol(coin.symbol[1..-1]) if coin.name.starts_with?('Aave ') %>
<td data-sort="<%=parent ? parent.market_cap_rank : coin.market_cap_rank%>">
  <% if parent %>
    #<%=parent.market_cap_rank%>/
  <% end %>
  <% if coin.market_cap_rank %>
    #<%=coin.market_cap_rank%>
  <% end %>
</td>
<td>
  <% if current_account %>
    <% if !coin.starred %>
      <a class="pagelet-trigger" href="/coins/<%=coin.slug%>/star"><i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i></a>
    <% else %>
      <a class="pagelet-trigger" href="/coins/<%=coin.slug%>/unstar"><i class="fas fa-star" style="color: #FAC84F"></i></a>
    <% end %>
  <% else %>
    <% if !coin.starred %>
      <i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i>
    <% else %>
      <i class="fas fa-star" style="color: #FAC84F"></i>
    <% end %>
  <% end %>
</td>
<td style="white-space: nowrap">
  <a target="_blank" href="<%=coin.website%>"><%=coin.name%> (<%=coin.symbol%>)</a>
  <a target="_blank" href="https://coingecko.com/en/coins/<%=coin.slug%>">
    <i data-toggle="tooltip" title="Coingecko" class="fas fa-chevron-right"></i>
  </a>
  <% if coin.symbol == 'ETH' || coin.eth? %>
    <a target="_blank" href="https://etherscan.io/token/<%=coin.contract_address%>">
      <i data-toggle="tooltip" title="Ethereum" style="color: #A68DFB" class="fab fa-ethereum"></i>
    </a>
    <script>
      $(function() {
        $('[data-pagelet-url^="/coins/<%=coin.slug%>"]').css({backgroundColor: '#F5F2FA'})
      })
    </script>
  <% end %>
  <% if current_account && (asset = Asset.find_by(ticker: coin.symbol)) %>
    <small>
      <a class="text-dark" target="_blank" href="https://www.iconomi.com/asset/<%=coin.symbol%>">
        ICONOMI
      </a>
    </small>
    <div style="display: inline" data-pagelet-url="/assets/<%=asset.id%>/multiplier?badge_class=badge-secondary"></div>
  <% end %>
  <% if %w[starred gainers].include?(params[:tag]) %>
    <span class="badge badge-primary"><%=coin.tag%></span>
  <% end %>
</td>
<td class="holding" data-sort="<%= coin.units ? (coin.units * coin.current_price) : 0 %>">
  <% if coin.units %>
    <% if coin.units == 0 %>
      <i class="far fa-question-circle"></i>
    <% else %>
      <i class="fas fa-spin fa-circle-notch"></i>
    <% end %>
  <% end %>
</td>
<td>
  <%=number_to_currency coin.current_price%>
</td>
<td class="rg">
  <% if coin.price_change_percentage_1h_in_currency %>
    <%=number_with_precision coin.price_change_percentage_1h_in_currency, precision: 2%>%
  <% end %>
</td>
<td class="rg">
  <% if coin.price_change_percentage_24h_in_currency %>
    <%=number_to_percentage coin.price_change_percentage_24h_in_currency, precision: 2%>
  <% end %>
</td>
<td class="rg">
  <% if coin.price_change_percentage_7d_in_currency %>
    <%=number_to_percentage coin.price_change_percentage_7d_in_currency, precision: 2%>
  <% end %>
</td>
<td>
  <% if coin.twitter_followers %>
    <a target="_blank" href="https://twitter.com/<%=coin.twitter_username%>"><%= number_with_precision coin.twitter_followers, precision: 0, delimiter: ',' %></a>
  <% end %>
</td>
<td>
  <% if coin.market_cap > 0 %>
    <%= number_to_percentage 100*(coin.total_volume.to_f/coin.market_cap), precision: 0%>
  <% end %>
</td>
<% if current_account %>
  <td>
    <a class="btn btn-sm btn-danger" href="javascript:;" onclick="$.get('/coins/<%=coin.slug%>/hide');$(this).closest('tr').remove()"><i class="fas fa-times"></i></a>
  </td>
<% end %>
