<td data-sort="<%=coin.parent ? coin.parent.market_cap_rank : coin.market_cap_rank%>">
  <% if coin.parent %>#<%=coin.parent.market_cap_rank%>/<% end %><% if coin.market_cap_rank %>#<%=coin.market_cap_rank%><% end %>
</td>
<td>
  <% if current_account %>
    <% if !coin.starred %>
      <a class="pagelet-trigger" href="/coins/<%=coin.slug%>/star"><i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i></a>
    <% else %>
      <a class="pagelet-trigger" href="/coins/<%=coin.slug%>/unstar"><i class="fas fa-star" style="color: #FAC84F"></i></a>
    <% end %>
  <% else %>
    <% if !coin.starred %>
      <i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i>
    <% else %>
      <i class="fas fa-star" style="color: #FAC84F"></i>
    <% end %>
  <% end %>
</td>
<td style="white-space: nowrap" data-symbol="<%=(coin.parent || coin.symbol.starts_with?('$')) ? coin.symbol[1..-1] : coin.symbol%>">
  <a target="_blank" href="<%=coin.parent ? coin.parent.website : coin.website%>"><%=coin.name%> (<%=coin.symbol%>)</a>
  <a target="_blank" href="https://coingecko.com/en/coins/<%=coin.parent ? coin.parent.slug : coin.slug%>">
    <i data-toggle="tooltip" title="Coingecko" class="fas fa-chevron-right"></i>
  </a>
  <% if coin.eth? %>
    <a target="_blank" href="https://etherscan.io/token/<%=coin.contract_address%>">
      <i data-toggle="tooltip" title="Etherscan" style="color: #A68DFB" class="fab fa-ethereum"></i>
    </a>
    <script>
      $(function() {
        $('[data-pagelet-url^="/coins/<%=coin.slug%>"]').css({backgroundColor: '#F5F2FA'})
      })
    </script>
  <% end %>
  <% if current_account && (asset = Asset.find_by(ticker: coin.parent ? coin.parent.symbol : coin.symbol)) %>
    <small>
      <a class="text-dark" target="_blank" href="https://www.iconomi.com/asset/<%=coin.symbol%>">
        ICONOMI
      </a>
    </small>
  <% end %>
  <% if %w[holding watching 24h 7d uniswap].include?(params[:tag]) %>
    <%= tag_badge coin.tag %>
  <% end %>
</td>
<td class="holding" data-sort="<%= (coin.holding < 1e-6 ? 0 : coin.holding) * ENV['PRICE_FACTOR'].to_i  %>">
  <% if current_account %>
    <a target="_blank" href="/admin/edit/Coin/<%=coin.id%>">
    <% end %>
    <div class="p">
      <% if coin.starred %>
        <% if coin.all_units %>
          <% if coin.holding < 1e-6 %>
            <i data-toggle="tooltip" style="cursor: pointer" class="far fa-question-circle"></i>
          <% else %>
            <i class="fas fa-spin fa-circle-notch"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if current_account %>
    </a>
  <% end %>
</td>
<td>
  <% if coin.staked_units %>
    <i data-toggle="tooltip" title="Staked" class="fas fa-check-circle"></i>
  <% end %>
</td>
<% coin = coin.parent ? coin.parent : coin %>
<td class="rg" <% if params[:tag] == '7d' %> style="opacity: 0.5" <% end %> >
  <% unless coin.tag.try(:name) == 'efi' %>
    <% if coin.price_change_percentage_24h_in_currency %>
      <%=number_to_percentage coin.price_change_percentage_24h_in_currency, precision: 2%>
    <% end %>
  <% end %>
</td>
<td class="rg" <% unless params[:tag] == '7d' %> style="opacity: 0.5" <% end %>>
  <% unless coin.tag.try(:name) == 'efi' %>
    <% if coin.price_change_percentage_7d_in_currency %>
      <%=number_to_percentage coin.price_change_percentage_7d_in_currency, precision: 2%>
    <% end %>
  <% end %>
</td>
<td class="rg" style="opacity: 0.5">
  <% unless coin.tag.try(:name) == 'efi' %>
    <% if coin.price_change_percentage_1h_in_currency %>
      <%=number_with_precision coin.price_change_percentage_1h_in_currency, precision: 2%>%
    <% end %>
  <% end %>
</td>
<td>
  <% if coin.twitter_followers %>
    <a target="_blank" class="text-dark" href="https://twitter.com/<%=coin.twitter_username%>"><%= number_with_precision coin.twitter_followers, precision: 0, delimiter: ',' %></a>
  <% end %>
</td>
<td data-sort="<%= coin.uniswap_volume || 0 %>">
  <% if coin.uniswap_volume %>
    #<%= Coin.where(:uniswap_volume.ne => nil).order('uniswap_volume desc').pluck(:slug).index(coin.slug)+1 %>
  <% end %>
</td>
<td>
  <% if coin.market_cap > 0 %>
    <%= number_to_percentage 100*(coin.total_volume.to_f/coin.market_cap), precision: 0%>
  <% end %>
</td>
<% if current_account %>
  <td>
    <a class="btn btn-sm btn-danger" href="javascript:;" onclick="$.get('/coins/<%=coin.slug%>/hide');$(this).closest('tr').remove()"><i class="fas fa-times"></i></a>
  </td>
<% end %>
