<td data-sort="<%=coin.market_cap_rank%>">
  #<%=coin.market_cap_rank%>
</td>
<td>
  <% if !coin.bought %>
    <a class="pagelet-trigger" href="/coins/<%=coin.slug%>/bought"><i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i></a>
  <% else %>
    <a class="pagelet-trigger" href="/coins/<%=coin.slug%>/sold"><i class="fas fa-star" style="color: #FAC84F"></i></a>
  <% end %>
</td>
<td style="white-space: nowrap">
  <a target="_blank" href="<%=coin.website%>"><%=coin.name%> (<%=coin.symbol.upcase%>)</a>
  <a target="_blank" href="https://coingecko.com/en/coins/<%=coin.slug%>">
    <i data-toggle="tooltip" title="Coingecko" class="fas fa-chevron-right"></i>
  </a>
  <% if coin.eth? %>
    <i data-toggle="tooltip" title="Ethereum" style="color: #A68DFB" class="fab fa-ethereum"></i>
  <% end %>
  <% if (asset = Asset.find_by(ticker: coin.symbol.upcase)) %>
    <small>
      <a class="text-dark" target="_blank" href="https://www.iconomi.com/asset/<%=coin.symbol.upcase%>">
        ICONOMI
      </a>
    </small>
    <div style="display: inline" data-pagelet-url="/assets/<%=asset.id%>/multiplier?badge_class=badge-secondary"></div>
  <% end %>
</td>
<td>
  <% if coin.twitter_followers %>
    <a target="_blank" href="https://twitter.com/<%=coin.twitter_username%>"><%= number_with_precision coin.twitter_followers, precision: 0, delimiter: ',' %></a>
  <% end %>
</td>
<td>
  <%=number_to_currency coin.current_price%>
</td>
<td>
  <%=number_to_currency coin.market_cap, precision: 0%>
</td>
<td>
  <%=number_to_currency coin.total_volume, precision: 0%>
</td>
<td>
  <%= number_to_percentage 100*(coin.total_volume.to_f/coin.market_cap), precision: 0%>
</td>
<td class="rg">
  <% if coin.price_change_percentage_1h_in_currency %>
    <%=number_with_precision coin.price_change_percentage_1h_in_currency, precision: 2%>%
  <% end %>
</td>
<td class="rg">
  <% if coin.price_change_percentage_24h_in_currency %>
    <%=number_to_percentage coin.price_change_percentage_24h_in_currency, precision: 2%>
  <% end %>
</td>
<td class="rg">
  <% if coin.price_change_percentage_7d_in_currency %>
    <%=number_to_percentage coin.price_change_percentage_7d_in_currency, precision: 2%>
  <% end %>
</td>
<td>
  <a class="btn btn-sm btn-danger" href="javascript:;" onclick="$.get('/coins/<%=coin.slug%>/hide');$(this).closest('tr').remove()"><i class="fas fa-times"></i></a>
</td>
