<td style="opacity: 0.5"></td>
<td data-sort="<%=coin.market_cap_rank%>">
  <% if coin.market_cap_rank %>
    #<%=coin.market_cap_rank%>
  <% end %>
</td>
<td>
  <% if current_account %>
    <% if !coin.starred %>
      <a class="pagelet-trigger" href="/coins/<%=coin.slug%>/star"><i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i></a>
    <% else %>
      <a class="pagelet-trigger" href="/coins/<%=coin.slug%>/unstar"><i class="fas fa-star" style="color: #FAC84F"></i></a>
    <% end %>
  <% else %>
    <% if !coin.starred %>
      <i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i>
    <% else %>
      <i class="fas fa-star" style="color: #FAC84F"></i>
    <% end %>
  <% end %>
</td>
<td style="white-space: nowrap" data-symbol="<%=coin.symbol.starts_with?('$') ? coin.symbol[1..-1] : coin.symbol%>">
  <a target="_blank" href="<%=coin.website || %Q{https://coingecko.com/en/coins/#{coin.slug}}%>"><%=coin.name%> (<%=coin.symbol%>)</a>
  <a target="_blank" href="https://coingecko.com/en/coins/<%=coin.slug%>">
    <i data-toggle="tooltip" title="Coingecko" class="fas fa-chevron-right"></i>
  </a>
  <% if coin.erc20? %>
    <a target="_blank" href="https://etherscan.io/token/<%=coin.contract_address%>">
      <i data-toggle="tooltip" title="Etherscan" style="color: #A68DFB" class="fab fa-ethereum"></i>
    </a>
  <% end %>
  <% if current_account && (asset = Asset.find_by(ticker: coin.symbol)) %>
    <small>
      <a class="text-dark" target="_blank" href="https://iconomi.com/asset/<%=coin.symbol%>">
        ICONOMI
      </a>
    </small>
  <% end %>
  <% if %w[holding watching watching-less-core 24h 7d market-cap-24h uniswap sushiswap defi-pulse].include?(params[:tag]) %>
    <%= tag_badge coin.tag %>
  <% end %>
</td>
<td class="holding" data-sort="<%= (coin.holding < 1e-6 ? 0 : coin.holding) * ENV['PRICE_FACTOR'].to_i  %>">
  <% if current_account %>
    <a target="_blank" href="/admin/edit/Coin/<%=coin.id%>">
    <% end %>
    <div class="p">
      <% if coin.starred %>
        <% if coin.all_units %>
          <% if coin.holding < 1e-6 %>
            <i data-toggle="tooltip" <% if current_account %> style="cursor: pointer" <% end %> class="far fa-question-circle"></i>
          <% else %>
            <i class="fas fa-spin fa-circle-notch"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if current_account %>
    </a>
  <% end %>
</td>
<td>
  <% if coin.staked_units %>
    <i data-toggle="tooltip" title="Staked" class="fas fa-check-circle"></i>
  <% end %>
</td>
<td data-sort="<%=coin.market_cap_change_prediction%>">
  <% if coin.market_cap_change_prediction; p = coin.market_cap_change_prediction.round %>
    <a href="javascript:;" style="color: #FAC84F; text-decoration: none" data-toggle="tooltip" title="<%=p%>x"><% p.times do %><i class="fa fa-moon"></i> <% end %></a>
  <% end %>
</td>
<td class="rg" <% if params[:tag] == '7d' %> style="opacity: 0.5" <% end %> >
  <% if coin.price_change_percentage_24h_in_currency %>
    <%=number_to_percentage coin.price_change_percentage_24h_in_currency, precision: 2%>
  <% end %>
</td>
<td class="rg" <% unless params[:tag] == '7d' %> style="opacity: 0.5" <% end %>>
  <% if coin.price_change_percentage_7d_in_currency %>
    <%=number_to_percentage coin.price_change_percentage_7d_in_currency, precision: 2%>
  <% end %>
</td>
<td class="rg" style="opacity: 0.5">
  <% if coin.price_change_percentage_1h_in_currency %>
    <%=number_with_precision coin.price_change_percentage_1h_in_currency, precision: 2%>%
  <% end %>
</td>
<td class="rg" data-sort="<%= coin.market_cap_change_percentage_24h || 0 %>">
  <% if coin.market_cap_change_percentage_24h %>
    <%=number_with_precision coin.market_cap_change_percentage_24h, precision: 2%>%
  <% end %>
</td>
<td>
  <% if coin.twitter_followers %>
    <a target="_blank" class="text-dark" href="https://twitter.com/<%=coin.twitter_username%>"><%= number_with_precision coin.twitter_followers, precision: 0, delimiter: ',' %></a>
  <% end %>
</td>
<td data-sort="<%= coin.uniswap_volume || 0 %>">
  <% if coin.uniswap_volume %>
    #<%= Coin.where(:uniswap_volume.ne => nil).order('uniswap_volume desc').pluck(:slug).index(coin.slug)+1 %>
  <% end %>
</td>
<td data-sort="<%= coin.sushiswap_volume || 0 %>">
  <% if coin.sushiswap_volume %>
    #<%= Coin.where(:sushiswap_volume.ne => nil).order('sushiswap_volume desc').pluck(:slug).index(coin.slug)+1 %>
  <% end %>
</td>
<td data-sort="<%= coin.tvl || 0 %>">
  <% if coin.tvl %>
    #<%= Coin.where(:tvl.ne => nil).order('tvl desc').pluck(:slug).index(coin.slug)+1 %>
  <% end %>
</td>
<td>
  <% if coin.market_cap && coin.market_cap > 0 %>
    <%= number_to_percentage 100*(coin.total_volume.to_f/coin.market_cap), precision: 0%>
  <% end %>
</td>
<% if coin.holding && coin.holding > 1e-6 && coin.market_cap && coin.market_cap > 0 %>
  <td data-sort="<%=sprintf('%.18f', coin.holding.to_f/coin.market_cap)%>">
    <%= BigDecimal.new((coin.holding.to_f*100)/coin.market_cap, 2).to_f %>%
  </td>
<% else %>
  <td></td>
<% end %>
<td data-sort="<%=coin.market_cap_rank_prediction%>">
  <% if current_account %>
    <% form_tag "/coins/#{coin.slug}/market_cap_rank_prediction" do %>

      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text">#</span>
        </div>
        <%= number_field_tag :p, :value => coin.market_cap_rank_prediction, :class => 'form-control', :style => 'width: 5em;', :onblur => '$(this.form).submit()' %>
      </div>
    <% end %>
  <% else %>
    <% if coin.market_cap_rank_prediction %>
      #<%=coin.market_cap_rank_prediction%>
    <% end %>
  <% end %>
</td>
<td data-sort="<%=coin.market_cap_rank_prediction_conviction%>">
  <% if current_account %>
    <% form_tag "/coins/#{coin.slug}/market_cap_rank_prediction_conviction" do %>
      <%= number_field_tag :p, :value => coin.market_cap_rank_prediction_conviction, :class => 'form-control', :style => 'width: 5em;', :onblur => '$(this.form).submit()' %>
    <% end %>
  <% else %>
    <% if coin.market_cap_rank_prediction_conviction %>
      <%=coin.market_cap_rank_prediction_conviction%>
    <% end %>
  <% end %>
</td>
<% if current_account %>
  <td>
    <a class="btn btn-sm btn-danger" href="javascript:;" onclick="$.get('/coins/<%=coin.slug%>/hide');$(this).closest('tr').remove()"><i class="fas fa-times"></i></a>
  </td>
<% end %>
