<% if current_account %>
  <a href="javascript:;" onclick="$(this).hide().next().css('display', 'inline').find('input').focus().select()">
    <% if asset.multiplier %>
      <span class="badge <%= params[:badge_class] || (asset.multiplier > 1 ? 'badge-primary' : 'badge-secondary') %>"><%= asset.multiplier == asset.multiplier.to_i ? asset.multiplier.to_i : asset.multiplier %>x</span>
    <% else %>
      <span class="text-contrast">&hellip;</span>
    <% end %>
  </a>
  <% form_tag "/assets/#{asset.id}/multiplier", style: 'display: none', class: 'form-inline' do %>
    <script>
    $(function() {
      $("#asset-multiplier-<%=asset.id%>").bind('blur keydown',function(e) {
        if (e.type === 'blur' || e.keyCode === 13) {
          event.preventDefault();
          $(this.form).submit()
          event.stopPropagation();
        }
      });
    })
    </script>
    <%= number_field_tag :multiplier, id: "asset-multiplier-#{asset.id}", value: (asset.multiplier == asset.multiplier.to_i ? asset.multiplier.to_i : asset.multiplier), class: 'form-control', style: 'width: 5em', step: :any %>
  <% end %>
<% else %>
  <% if asset.multiplier && asset.multiplier != 1 %>
    <span class="badge <%= params[:badge_class] || (asset.multiplier > 1 ? 'badge-primary' : 'badge-secondary') %>"><%= asset.multiplier == asset.multiplier.to_i ? asset.multiplier.to_i : asset.multiplier %>x</span>
  <% end %>
<% end %>
