<% n = (params[:n].try(:to_i) || 10) %>
<% proposed = Hash[Strategy.proposed(n: n)] %>
<% actual = Hash[JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure'))['values'].map { |h| [h['assetTicker'], h['targetWeight']] }] %>
<% rebalanced = Hash[JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure'))['values'].map { |h| [h['assetTicker'], h['rebalancedWeight']] }] %>
<% diff = Hash[actual.map { |k,v| [k, actual[k] - rebalanced[k]] }] %>
<% y = 50000 %>

<style>
  @media(min-width: 768px) {
  td.assetName { width: 1px;  padding-left: 0; padding-right: 0;}
  #assets th { border-top: none }
  }
</style>
<script>
  $(function () {
      $('#assets').dataTable({info: false, paging: false, searching: false, order: [[4, "desc"]]})
  })
</script>
<table id="assets" class="table" style="font-size: 0.9rem; border-collapse: collapse !important" >
  <thead>
    <tr>
      <th></th>
      <th>Asset</th>
      <th></th>
      <th>Current weight</th>
      <th>Next rebalance</th>
      <th>24h</th>
      <th>7d</th>
    </tr>
  </thead>
  <% tickers = (proposed.keys + actual.keys + Asset.where(:multiplier.ne => nil).order('multiplier desc').pluck(:ticker)) %>
  <% tickers.uniq.each { |k| %>
  <% asset = Asset.find_by(ticker: k) %>
  <% coin = Coin.symbol(k) %>
  <% coin.remote_update if coin && !coin.platform %>
  <tr <% if coin && coin.erc20? %>style="background-color: #F5F2FA"<% end %>>
    <td style="vertical-align: middle; text-align: right; width: 10vw">
      <% if actual[k] %>
        <% if diff[k] < 0 %>
          <div class="d-none d-sm-inline-block" style="position:relative; top: 0.2rem; height: 1rem; background: <%= if diff[k] > 0; 'green'; elsif diff[k] < 0; 'red'; end %>; width: <%="#{100*-diff[k]/diff.values.map(&:abs).max}%"%>"></div>
        <% end %>
      <% end %>
    </td>
    <td class="assetName" style="white-space: nowrap;">
      <a target="_blank" href="<%=coin.try(:website)%>">
        <%= asset.name %> (<%= k %>)
      </a>
      <% if coin %>
        <a target="_blank" href="https://coingecko.com/en/coins/<%=coin.slug%>">
          <i data-toggle="tooltip" title="Coingecko" class="fas fa-chevron-right"></i>
        </a>
        <% if coin.erc20? %>
          <a target="_blank" href="https://etherscan.io/token/<%=coin.contract_address%>">
            <i data-toggle="tooltip" title="Etherscan" style="color: #A68DFB" class="fab fa-ethereum"></i>
          </a>
        <% end %>
      <% end %>
      <%= partial :'crypto/multiplier', locals: {asset: asset} %>
    </td>
    <td style="vertical-align: middle; width: 10vw">
      <% if actual[k] %>
        <% if diff[k] > 0 %>
          <div class="d-none d-sm-inline-block" style="position:relative; top: 0.2rem; height: 1rem; background: <%= if diff[k] > 0; 'green'; elsif diff[k] < 0; 'red'; end %>; width: <%="#{100*diff[k]/diff.values.map(&:abs).max}%"%>"></div>
        <% end %>
      <% end %>
    </td>
    <td data-sort="<%=actual[k] || 0%>" style="white-space: nowrap;">
      <% if actual[k] %>
        <%= number_to_percentage (actual[k]*100), precision: 2 %>
        <small>
          <span style="color: <%= if diff[k] > 0; 'green'; elsif diff[k] < 0; 'red'; end %>">
            <%= '+' if diff[k] > 0 %><%=(diff[k]*10000).round%>
          </span>
        </small>
      <% end %>
    </td>
    <td data-sort="<%=proposed[k] || 0%>" style="white-space: nowrap;">
      <% if proposed[k] %>
        <%= number_to_percentage (proposed[k]*100), precision: 2 %>
      <% end %>
    </td>
    <% %w[24h 7d].each { |t| %>
    <% if coin && coin.send("price_change_percentage_#{t}_in_currency") %>
      <% score, index = coin.score_index("price_change_percentage_#{t}_in_currency", Coin.where(:symbol.in => tickers)) %>
      <td data-sort="<%=score%>">
        <span class="score">
          <%= number_with_precision score, precision: 1 %>
        </span>
      </td>
    <% else %>
      <td data-sort="0"></td>
    <% end %>
    <% } %>
  </tr>
  <% } %>
</table>
