<%
client = Binance::Client::REST.new api_key: ENV['BINANCE_API_KEY'], secret_key: ENV['BINANCE_API_SECRET']
%>

<% t = 0 %>

<script>
  $(function () {
      $('#assets').dataTable({bInfo: false, paging: false, searching: false, order: [[1, "desc"]]})
  })
</script>
<table id="assets" class="table" style="margin: auto; width: auto; font-size: 0.9rem; border-collapse: collapse !important" >
  <thead>
    <tr>
      <th>
        Asset
      </th>
      <th>
        Value
      </th>
    </tr>
  </thead>
  <% client.account_info['balances'].select { |b| b['free'].to_f > 0 }.each { |b| %>
  <% coin = Coin.find_by(symbol: b['asset']) %>
  <tr <% if coin && coin.eth? %>style="background-color: #F5F2FA"<% end %>>
    <td>
      <a target="_blank" href="<%=coin.try(:website)%>">
        <%= coin.name %> (<%= coin.symbol %>)
      </a>
      <a target="_blank" href="https://coingecko.com/en/coins/<%=coin.slug%>">
        <i data-toggle="tooltip" title="Coingecko" class="fas fa-chevron-right"></i>
      </a>
    </td>
    <td>
      <% p = b['free'].to_f*coin.current_price %>
      <% t += p %>
      <%=number_to_currency p, precision: 0%>
    </td>
  </tr>
  <% } %>
</table>

<h1 class="text-center mt-3"><%=number_to_currency t, precision: 0%></h1>
