<%= partial :'crypto/nav' %>

<%= md :seeds %>

<% case params[:tag]; when nil, 'holding' %>

<div class="mt-3">
  <%= md :holding %>
</div>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
      :starred => true
    ).order('price_change_percentage_24h_in_currency desc')} %>

<% when 'watching' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
          :tag_id.ne => nil
        ).order('price_change_percentage_24h_in_currency desc')} %>

<% when 'watching-less-core' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
                  :tag_id.in => Tag.all.pluck(:id) - Tag.where(:name.in => ['core', 'fiat-pegged', 'yfi']).pluck(:id),
                ).order('price_change_percentage_24h_in_currency desc')} %>

<% when '24h' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
              :hidden.ne => true,
              :market_cap_rank.lte => ENV['MAX_MARKET_CAP_RANK'],
              :total_volume.gte => ENV['MIN_VOLUME']
            ).order('price_change_percentage_24h_in_currency desc').limit(20)} %>

<% when '7d' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
      :hidden.ne => true,
      :market_cap_rank.lte => ENV['MAX_MARKET_CAP_RANK'],
      :total_volume.gte => ENV['MIN_VOLUME']
    ).order('price_change_percentage_7d_in_currency desc').limit(20)} %>

<% when 'market-cap-24h' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
                  :hidden.ne => true,
                  :market_cap_rank.lte => ENV['MAX_MARKET_CAP_RANK'],
                  :total_volume.gte => ENV['MIN_VOLUME']
                ).order('market_cap_change_percentage_24h desc').limit(20)} %>

<% when 'uniswap' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
                  :slug.in => @uniswap,
                ).order('uniswap_volume desc').limit(20)} %>

<% when 'sushiswap' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
                          :slug.in => @sushiswap,
                        ).order('sushiswap_volume desc').limit(20)} %>

<% when 'defi-pulse' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
                                                  :slug.in => @defi_pulse,
                                                ).order('tvl desc').limit(20)} %>

<% else %>

  <div data-pagelet-url="/coins/table/<%=params[:tag]%>?add=true"></div>

<% end %>
