<%= ul_nav (
      [['holding', '/coins/tag/holding']] +
      [['watching', '/coins/tag/watching']] +
      [['uniswap', '/coins/tag/uniswap']] +
      [['sushiswap', '/coins/tag/sushiswap']] +
      [['defi-pulse', '/coins/tag/defi-pulse']] +
      [['24h', '/coins/tag/24h']] +
      [['7d', '/coins/tag/7d']] +
      [['market cap 24h', '/coins/tag/market-cap-24h']] +
      (tags = Tag.where(:id.in => Coin.pluck(:tag_id)).sort_by { |tag| -tag.holding }).map { |tag| [tag_badge(tag), "/coins/tag/#{tag.name}"] }
    ),
    ul_class: 'nav nav-tabs',
    li_class: 'nav-item',
    li_active_class: nil,
    a_class: 'nav-link',
    a_active_class: 'active',
    ul_id: 'coins-ul',
    generate_subnav_href_and_ul: false
%>

<div class="mt-3">
  <% total_holding = Tag.holding %>
  <%= tags.map { |tag|
    if tag.holding
      relative_holding = tag.holding / total_holding
      %{<a href="/coins/tag/#{tag.name}" data-toggle="tooltip" title="#{tag.name}" class="text-center d-inline-block" style="color: white; background-color: #{tag.background_color || '#6C757D'}; width: #{relative_holding*100}%"><span class="d-inline-block p-1">#{number_to_percentage relative_holding*100, precision: 1}</span></a>}
    end
}.compact.join %>
</div>

<% case params[:tag]; when nil, 'holding' %>

<%= md :seeds %>

<div class="mt-3">
  <%= md :holding %>
</div>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
      :starred => true
    ).order('price_change_percentage_24h_in_currency desc')} %>

<% when 'watching' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
          :tag_id.ne => nil
        ).order('price_change_percentage_24h_in_currency desc')} %>

<% when '24h' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
              :hidden.ne => true,
              :market_cap_rank.ne => nil,
              :market_cap.gte => 1000,
              :total_volume.gte => 1000,
            ).order('price_change_percentage_24h_in_currency desc').limit(20)} %>

<% when '7d' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
      :hidden.ne => true,
      :market_cap_rank.ne => nil,
      :market_cap.gte => 1000,
      :total_volume.gte => 1000,
    ).order('price_change_percentage_7d_in_currency desc').limit(20)} %>

<% when 'market-cap-24h' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
                  :hidden.ne => true,
                  :market_cap_rank.ne => nil,
                  :market_cap.gte => 1000,
                  :total_volume.gte => 1000,
                ).order('market_cap_change_percentage_24h desc').limit(20)} %>

<% when 'uniswap' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
                  :slug.in => @uniswap,
                ).order('uniswap_volume desc').limit(20)} %>

<% when 'sushiswap' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
                          :slug.in => @sushiswap,
                        ).order('sushiswap_volume desc').limit(20)} %>

<% when 'defi-pulse' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
                                                  :slug.in => @defi_pulse,
                                                ).order('tvl desc').limit(20)} %>

<% else %>

  <div data-pagelet-url="/coins/table/<%=params[:tag]%>?add=true"></div>

<% end %>
