<% strategies = Strategy.active_mature.order('score_fee_weighted desc') %>
<% funds = params[:funds].try(:to_i) || 5 %>
<% funds = 1 if funds < 1 %>
<% funds = 10 if funds > 10 %>
<% total = strategies[0..(funds-1)].sum { |strategy| strategy.score_fee_weighted } %>
<% investment = (params[:investment].try(:to_i) || 1000) %>


<div class="text-center">
  <%= md :iconomi %>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-6 col-lg-4 text-center">
    <% form_tag '', :method => 'get' do %>
      <label>Number of funds</label>
      <div class="range-slider">
        <input name="funds" class="range-slider__range" type="range" value="<%=funds%>" min="1" max="10" step="1" onchange="$(this.form).submit()">
        <span class="range-slider__value">0</span>
      </div>
      <label>Investment</label>
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="input-group" style="width: 10rem">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <%= number_field_tag :investment, :class => 'form-control-lg form-control', :value => investment, :onchange => '$(this.form).submit()' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card mb-3 p-3">
  <div class="card-body text-center">
    <h5 class="card-title">
      <mark>
        Not yet an ICONOMI member?
      </mark>
    </h5>
    <p class>
      Do me a favour by signing up <a href="https://www.iconomi.com/register?ref=YGnZy">via this referral link</a>.
    </p>

    <h5 class="card-title">
      <mark>
        Don't want to have to keep checking this page?
      </mark>
    </h5>
    <p class="mb-0">
      <a href="/metastrategy">Metastrategy</a> is my strategy on ICONOMI.<br />
      It's an automated strategy with daily rebalancing that is always an intelligent mix of the current top performing strategies.
    </p>
  </div>
</div>

<script>
  $(function () {
      function coinTable() {
        console.log('coinTable')
        if (!$('#iconomi').hasClass('datatabled'))
          $('#iconomi').dataTable({
            info: false,
            paging: false,
            searching: false,
            order: [
              [0, "asc"]
            ]
          }).addClass('datatabled')
      }
      $(document).ajaxStop(function() { coinTable() })
  })
</script>
<table id="iconomi" class="table" style="font-size: 0.9rem; border-collapse: collapse !important">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Score (fee weighted)</th>
      <th>Proposed position</th>
      <th></th>
      <% %w{numberOfAssets lastRebalanced monthlyRebalancedCount}.each { |x| %>
      <th><%=x%></th>
      <% } %>
      <th>24h</th>
      <th>7d</th>
      <th>1M</th>
      <th>3M</th>
      <th>6M</th>
      <th>1Y</th>
    </tr>
  </thead>
  <% strategies.each_with_index { |strategy, i| %>
    <tr data-pagelet-url="/iconomi/<%=strategy.id%>?i=<%=i%>&funds=<%=funds%>&total=<%=total%>&investment=<%=investment%>"></tr>
    <% } %>
</table>

<%= partial :course %>
