<%
strategies = Strategy.active_mature.and(:nscore_score.ne => nil).order('score_fee_weighted desc')
count = strategies.count
%>

<div class="text-center">
  <%= md :iconomi %>
</div>

<div class="row">
  <div class="col-sm-6 text-center">
    <% form_tag '', method: 'get', class: 'mb-3' do %>
      <label>Number of funds</label>
      <div class="range-slider">
        <input id="funds" name="funds" class="range-slider__range" type="range" value="5" min="1" max="10" step="1" onchange="proposedPosition()">
        <span class="range-slider__value">0</span>
      </div>
      <label>Investment</label>
      <div class="row justify-content-center">
         <div class="col-auto">
           <div class="input-group" style="width: 10rem">
             <div class="input-group-prepend">
               <span class="input-group-text">$</span>
             </div>
             <%= number_field_tag :investment, class: 'form-control-lg form-control', value: 1000, id: 'investment', onchange: 'proposedPosition()' %>
           </div>
         </div>
       </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <div class="card mb-3 p-3">
      <div class="card-body text-center">
        <h5 class="card-title">
          <mark>
            Not yet an ICONOMI member?
          </mark>
        </h5>
        <p class>
          Do me a favour by signing up <a href="https://www.iconomi.com/register?ref=YGnZy">via this referral link</a>
          or use the referral code YGnZy
        </p>

        <h5 class="card-title">
          <mark>
            Don't want to have to keep checking this page?
          </mark>
        </h5>
        <p class="mb-0">
          <a href="/metastrategy">Metastrategy</a> is my strategy on ICONOMI.<br>
          It's an automated strategy with daily rebalancing that is always an intelligent mix of the current top performing strategies.
        </p>
      </div>
    </div>
  </div>
</div>

<script>

  function proposedPosition() {
    $('#iconomi tr td:nth-child(5)').text('') // 1-index, proposed %
    $('#iconomi tr td:nth-child(6)').text('') // 1-index, proposed $
    var total = 0
    for(i=1; i<=$('#funds').val(); i++) {
      total += parseFloat($('#iconomi tr').eq(i).find('td').eq(2).text())
    }
    for(i=1; i<=$('#funds').val(); i++) {
      var p = parseFloat($('#iconomi tr').eq(i).find('td').eq(2).text()) / total * 100
      $('#iconomi tr').eq(i).find('td').eq(4).text(Math.round(p, 1) + '%') // 0-index, proposed %
      $('#iconomi tr').eq(i).find('td').eq(5).text('$' + Math.round($('#investment').val()*p/100, 2)) // 0-index, proposed $
    }
  }

  function coinTable() {

    if (!$('#iconomi').hasClass('datatabled')) {

      $('#iconomi').dataTable({
        info: false,
        paging: false,
        searching: false,
        order: [
          [2, "desc"]
        ]
      }).addClass('datatabled').on('draw.dt', function () {
        var i = 0;
        $("#iconomi td:first-child").each(function () {
          $(this).html(++i);
        })
      } ).trigger('draw.dt');

    }
  }

  $(function () {
    coinTable()
    proposedPosition()
  })
</script>

<table id="iconomi" class="table" style="font-size: 0.9rem; border-collapse: collapse !important">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Score (fee weighted)</th>
      <th>Score</th>
      <th>Proposed position</th>
      <th></th>
      <% %w[numberOfAssets lastRebalanced monthlyRebalancedCount lastPostedAt].each { |x| %>
      <th><%= x %></th>
      <% } %>
      <th>24h</th>
      <th>7d</th>
      <th>1M</th>
      <th>3M</th>
      <th>6M</th>
      <th>1Y</th>
      <th>ACS</th>
    </tr>
  </thead>
  <% strategies.each_with_index { |strategy, i| holding = strategy.holdings.order('weight desc').first; asset = holding.asset %>
    <tr>
      <td style="opacity: 0.5">
      </td>
      <td>
        <a target="_blank" href="https://iconomi.com/asset/<%= strategy.ticker %>"><%= strategy.name %></a>
        <br />
        <% if current_account %>
        <a target="_blank" href="/admin/edit/Asset/<%=asset.id%>" class="badge badge-primary"
        style="background-color: <%= asset.color ? "##{asset.color}" : asset.virtual_color %>">
          <%= asset.ticker %>
          <%= holding.percent %>
        </a>
        <% else %>
        <span class="badge badge-primary"
        style="background-color: <%= asset.color ? "##{asset.color}" : asset.virtual_color %>">
          <%= asset.ticker %>
          <%= holding.percent %>
        </span>
        <% end %>
      </td>
      <td data-sort="<%= strategy.nscore_score_fee_weighted %>">
        <span class="score">
          <%= number_with_precision strategy.nscore_score_fee_weighted, precision: 1 %>
        </span>
        <br>
        <small>
          <%= strategy.index_score_fee_weighted %>/<%= count %>
        </small>
      </td>
      <td data-sort="<%= strategy.nscore_score %>">
        <span class="score">
          <%= number_with_precision strategy.nscore_score, precision: 1 %>
        </span>
        <br>
        <small>
          <%= strategy.index_score %>/<%= count %>
        </small>
      </td>
      <td>
      </td>
      <td>
      </td>
      <% %w[numberOfAssets lastRebalanced monthlyRebalancedCount last_posted_at].each { |x| %>
      <td <% if x == 'lastRebalanced' %> data-sort="<%= strategy[x].to_i %>" <% end %>>
        <% if %w[lastRebalanced last_posted_at].include?(x) %>
          <%= time_ago_in_words strategy[x] %> ago
        <% else %>
          <%= strategy[x] %>
        <% end %>
      </td>
      <% } %>
      <% %w[day week month three_month six_month year].each { |t| %>
      <% if strategy.send("r#{t}") %>
        <td data-sort="<%= strategy.send("nscore_r#{t}") %>">
          <span class="score">
            <%= number_with_precision strategy.send("nscore_r#{t}"), precision: 1 %>
          </span>
          <br>
          <small>
            <%= strategy.send("index_r#{t}") %>/<%= count %>
          </small>
        </td>
      <% else %>
        <td class="bg-white" data-sort="0"></td>
      <% end %>
      <% } %>
      <td data-sort="<%= strategy.nscore_aum %>">
        <span class="score">
          <%= number_with_precision strategy.nscore_aum, precision: 1 %>
        </span>
        <br>
        <small>
          <%= strategy.index_aum %>/<%= count %>
        </small>
      </td>
    </tr>
  <% } %>
</table>

<%= partial :course %>
