<div class="row justify-content-center">
  <div class="col-6 col-sm-2">
    <a href="https://iconomi.com/asset/DECENTCOOP"><img class="mb-3 w-100 rounded-circle" style="box-shadow: 0 0 1rem rgba(0,0,0,0.33)" src="/images/meta-sq.jpg"></a>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-sm-9">

<p class="lead">
  <a href="https://www.iconomi.com/asset/DECENTCOOP">Metastrategy</a> is my strategy on ICONOMI.
  It's an automated strategy with daily rebalancing that is always an intelligent mix of the current top performing strategies.
  It's a great 'set-and-forget' option and is my top recommendation for those new to crypto investing.
</p>

<h2>Step-by-step guide to investing in Metastrategy</h2>
<p>
  <ol>
    <li>
      You will need a Euro-denominated bank account in your name to load your ICONOMI account.
      If you live in the UK, <a href="https://moneysavinganswers.com/personal/bank-accounts/best-euro-current-accounts/">check this page to see your options</a>,
      including <a href="https://wise.com/gb/borderless/euro-account">Wise</a>, <a href="https://www.starlingbank.com/current-account/euro-bank-account/">Starling</a> and Revolut.
    </li>
    <li>
      <a href="https://www.iconomi.com/register?ref=YGnZy">Sign up to ICONOMI via this referral link</a>
      or use the referral code YGnZy
    </li>
    <li>
      In ICONOMI, go to Money Transfer > Deposit > Clear Junction (SEPA) and load your ICONOMI account with Euros.
      Wait for the Euros to arrive (usually takes less than an hour).
    </li>
    <li>
        <a href="https://iconomi.com/asset/DECENTCOOP">Go to the Metastrategy page</a>, click Copy Strategy > My Euro balance > Preview > Place order.
        <mark>I recommend <a href="https://www.degiro.co.uk/knowledge/strategies/what-is-dollar-cost-averaging">dollar-cost averaging</a> (investing equal amounts of Euros at regular intervals) rather than going all-in.</mark>
      </li>
    </ol>
  </p>

</div>
</div>

<% strategy_live = JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure')) %>
<% strategy = Strategy.find_by(ticker: 'DECENTCOOP') %>
<% strategies = Strategy.and(:excluded.ne => true) %>

<p class="text-center">
  Rebalanced <%= timeago Time.at(strategy_live['lastRebalanced']) %>
  <% if current_account %>
    <a href="/metastrategy/<%= ENV['SITE_SECRET'] %>/rebalance">
      <i class="fas fa-sync"></i>
    </a>
  <% end %>
  <% Delayed::Job.and(handler: /method_name: :rebalance/).each { |delayed_job| %>
  &middot; Rebalancing in <abbr data-toggle="tooltip" title="<%= delayed_job.run_at %>"><%= time_ago_in_words delayed_job.run_at %></abbr>
  <% } %>
</p>

<% if Strategy.unverified.count > 0 || Asset.unverified.count > 0 %>
  <p class="text-center">

    <% if Asset.unverified.count > 0 %>
      Currently excluded coins:
      <%= Asset.unverified.map do |asset|
            %{<a class="badge badge-secondary" target="_blank" href="https://iconomi.com/asset/#{asset.ticker}">#{asset.name} (#{asset.ticker})</a>}
          end.join(' ') %>
      <br>
    <% end %>

    <% if Strategy.unverified.count > 0 %>
      Currently excluded strategies:
      <%= Strategy.unverified.map do |strategy|
            %(<a class="badge badge-secondary" target="_blank" href="https://iconomi.com/asset/#{strategy.ticker}">#{strategy.name} (#{strategy.score}) </a>)
          end.join(' ') %>
    <% end %>

  </p>
<% end %>

<table class="table mt-3" style="width: auto; margin: auto">
  <thead style="border-top: none">
    <tr>
      <th>24h</th>
      <th>7d</th>
      <th>1M</th>
      <th>3M</th>
      <th>6M</th>
      <th>1Y</th>
    </tr>
  </thead>
  <tr>
    <% %w[day week month three_month six_month year].each { |t| %>
    <td style="text-align: center">
      <% if strategy.send("r#{t}") %>
        <% nscore, index = strategy.nscore_index("r#{t}", strategies: strategies) %>
        <%= number_to_percentage 100*strategy.send("r#{t}"), precision: 0 %>
        <span class="score d-none">
          <%= number_with_precision nscore, precision: 1 %>
        </span>
        <br>
        <small>
          Top <%= number_to_percentage 100*index/strategies.count, precision: 0 %>
        </small>
      <% end %>
    </td>
    <% } %>
  </tr>
</table>

<% if Padrino.env == :development || current_account %>
  <div data-pagelet-url="/metastrategy/table" class="mb-3">
    <%= partial :'crypto/metastrategy' %>
  </div>
<% else %>
  <%= cp :'crypto/metastrategy' %>
<% end %>



<h2>How Metastrategy works</h2>
<%= md :metastrategy %>
