<div class="row justify-content-center">
  <div class="col-6 col-sm-2">
    <a href="https://iconomi.com/asset/DECENTCOOP"><img class="mb-3 w-100 rounded-circle" style="box-shadow: 0 0 1rem rgba(0,0,0,0.33)" src="/images/meta-sq.jpg" /></a>
  </div>
</div>

<p class="lead text-center">Metastrategy is my strategy on ICONOMI.</p>

<p class="lead text-center">
  Do me a favour by signing up to ICONOMI <a href="https://www.iconomi.com/register?ref=YGnZy">via this referral link</a> then <a href="https://iconomi.com/asset/DECENTCOOP">visit this page to invest in Metastrategy</a>.
</p>

<% strategy_live = JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure')) %>
<% strategy = Strategy.find_by(ticker: 'DECENTCOOP') %>
<% strategies = Strategy.all %>

<p class="text-center">
  Rebalanced <%= timeago Time.at(strategy_live['lastRebalanced']) %>
  <% if current_account %>
    <a href="/strategy/<%=ENV['SITE_SECRET']%>/rebalance">
      <i class="fas fa-sync"></i>
    </a>
  <% end %>
  <% Delayed::Job.where(handler: /method_name: :rebalance/).each { |delayed_job| %>
  &middot; Rebalancing in <abbr data-toggle="tooltip" title="<%=delayed_job.run_at%>"><%=time_ago_in_words delayed_job.run_at %></abbr>
  <% } %>
</p>


<% if Strategy::EXCLUDED_STRATEGIES.length > 0 || Strategy::EXCLUDED_ASSETS.length > 0 %>
  <p class="text-center">

    <% if Strategy::EXCLUDED_STRATEGIES.length > 0 %>
      Currently excluded strategies:
      <%= Strategy::EXCLUDED_STRATEGIES.map { |ticker|
    s = Strategy.find(ticker: ticker)
    s ? %{<a class="badge badge-secondary" target="_blank" href="https://iconomi.com/asset/#{s.ticker}">#{s.name}</a>} : %{<span class="badge badge-secondary">#{ticker}</span>}
  }.join(' ')
  %>
      <br />
    <% end %>

    <% if Strategy::EXCLUDED_ASSETS.length > 0 %>
      Currently excluded coins:
      <%= Strategy::EXCLUDED_ASSETS.map { |k|
    asset = Asset.find_by(ticker: k)
    coin = Coin.symbol(k)
    %{<a class="badge badge-secondary" target="_blank" href="#{coin.try(:website)}">#{asset.name} (#{k})</a>}
    }.join(' ')
    %>
    <% end %>
  </p>
<% end %>

<table class="table mt-3" style="width: auto; margin: auto">
  <thead style="border-top: none">
    <tr>
      <th>24h</th>
      <th>7d</th>
      <th>1M</th>
      <th>3M</th>
      <th>6M</th>
      <th>1Y</th>
    </tr>
  </thead>
  <tr>
    <% %w[day week month three_month six_month year].each { |t| %>
    <td style="text-align: center">
      <% if strategy.send(t) %>
        <% score, index = strategy.score_index(t, strategies: strategies) %>
        <span class="score">
          <%= number_with_precision score, precision: 1 %>
        </span>
        <br />
        <small>
          <%= index %>/<%=strategies.count%>
        </small>
      <% end %>
    </td>
    <% } %>
  </tr>
</table>


<div data-pagelet-url="/strategy/table" class="mb-3">
  <%= partial :'crypto/strategy_table' %>
</div>


<%= md :metastrategy %>
