<% strategy_live = JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure')) %>
<% strategy = Strategy.find_by(ticker: 'DECENTCOOP') %>
<% strategies = Strategy.and(:status => 'verified') %>
<div class="row justify-content-center text-center">
  <div class="col-6 col-lg-2 mb-4">
    <a href="https://iconomi.com/asset/DECENTCOOP?ref=YGnZy"><img class="mb-3 w-100 rounded-circle" style="box-shadow: 0 0 1rem rgba(0,0,0,1)" src="/images/meta-sq.jpg"></a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-9">
    <p class="lead">
      <a href="https://www.iconomi.com/asset/DECENTCOOP?ref=YGnZy">Metastrategy</a> is my strategy on ICONOMI.
      It's an automated strategy with daily rebalancing that is always an intelligent mix of the current top performing strategies.
      It's a great 'set-and-forget' option and is my top recommendation for those new to crypto investing.
    </p>
    <p class="lead">
      Metastrategy is currently the #<%=acs_index = strategy.nscore_index('aum', strategies: strategies)[1]%> most copied strategy on ICONOMI (by value).
    </p>
    <p class="lead">
      Of the <%=acs_index-1%> <a href="https://www.iconomi.com/strategies?ref=YGnZy&sortBy=aum&sortOrder=desc&page=1">larger strategies</a>,
      Metastrategy is <a href="/iconomi">outperforming</a> <%=(outperforming = strategies.order('aum desc').and(:aum.gt => strategy.aum).select { |other_strategy| other_strategy.score < strategy.score }).count%> of them:
      <%=outperforming.map { |strategy| strategy.name }.to_sentence(last_word_connector: ' and ')%>.
      If you're already copying these strategies, you're probably better off switching to Metastrategy.
      <a href="https://t.me/joinchat/CEMqfHYfnkAyY2U0">Join the Telegram group &rarr;</a>
    </p>
    <h2>Step-by-step guide to investing in Metastrategy</h2>
    <ol class="mt-1">
      <li>
        <a href="https://www.iconomi.com/register?ref=YGnZy">Sign up to ICONOMI via this referral link</a>
        or use the referral code <span style="border-bottom: 1px dotted">YGnZy</span>
      </li>
      <li>
        Click Deposit and load your ICONOMI account.
      </li>
      <li>
        <a href="https://iconomi.com/asset/DECENTCOOP?ref=YGnZy">Go to the Metastrategy page</a> and click Copy Strategy.
      </li>
    </ol>
    <p>
      <mark>I recommend <a href="https://www.degiro.co.uk/knowledge/strategies/what-is-dollar-cost-averaging">dollar-cost averaging</a> (investing equal amounts at regular intervals) rather than going all-in.</mark>
      This is simple to do with ICONOMI's Autocopy feature.
      Activate Autocopy on your ICONOMI dashboard, then set up a standing order/recurring payment from your bank to ICONOMI.
      Every time funds arrive in your ICONOMI account, they will automatically be used to copy Metastrategy.
    </p>
  </div>
</div>
<p class="text-center">
  Rebalanced <%= timeago Time.at(strategy_live['lastRebalanced']) %>
  <% if current_account %>
    <a href="/metastrategy/rebalance">
      <i class="fas fa-sync"></i>
    </a>
  <% end %>
  <% Delayed::Job.and(handler: /method_name: :rebalance/).each { |delayed_job| %>
  &middot; Rebalancing in <abbr data-toggle="tooltip" title="<%= delayed_job.run_at %>"><%= time_ago_in_words delayed_job.run_at %></abbr>
  <% } %>
</p>
<% if admin? %>
  <% if Strategy.and(:status.ne => 'verified').count > 0 || Asset.and(:status.ne => 'verified').count > 0 %>
    <p class="text-center">
      <% if Asset.and(:status.ne => 'verified').count > 0 %>
        Currently excluded coins:
        <%= Asset.and(:status.ne => 'verified').map do |asset|
            %{<a class="badge #{asset.status.nil? ? 'badge-secondary' : 'badge-danger'}" target="_blank" href="https://iconomi.com/asset/#{asset.ticker}?ref=YGnZy">#{asset.name} (#{asset.ticker})</a>}
          end.join(' ') %>
        <br>
      <% end %>
      <% if Strategy.and(:status.ne => 'verified').and(:ticker.ne => 'AUSTS').count > 0 %>
        Currently excluded strategies:
        <%= Strategy.and(:status.ne => 'verified').and(:ticker.ne => 'AUSTS').map do |strategy|
            %(<a class="badge #{strategy.status.nil? ? 'badge-secondary' : 'badge-danger'}" target="_blank" href="https://iconomi.com/asset/#{strategy.ticker}?ref=YGnZy">#{strategy.name} #{"(#{strategy.nscore_score})" if strategy.nscore_score} </a>)
          end.join(' ') %>
      <% end %>
    </p>
  <% end %>
<% end %>
<table class="table mt-3" style="width: auto; margin: auto">
  <thead style="border-top: none">
    <tr>
      <th style="text-align: center">24h</th>
      <th style="text-align: center">7d</th>
      <th style="text-align: center">1M</th>
      <th style="text-align: center">3M</th>
      <th style="text-align: center" >6M</th>
      <th style="text-align: center" >1Y</th>
    </tr>
  </thead>
  <tr>
    <% %w[day week month three_month six_month year].each { |t| %>
    <td style="text-align: center">
      <% if strategy.send("r#{t}") %>
        <% nscore, index = strategy.nscore_index("r#{t}", strategies: strategies) %>
        <!-- <%= number_to_percentage 100*strategy.send("r#{t}"), precision: 0 %> -->
        <span class="score d-none">
          <%= number_with_precision nscore, precision: 1 %>
        </span>
        <!-- <br> -->
        Top
        <br />
        <%= number_to_percentage 100*index/strategies.count, precision: 0 %>
      <% end %>
    </td>
    <% } %>
  </tr>
</table>
<% if Padrino.env == :development || current_account %>
  <div data-pagelet-url="/metastrategy/table" class="mb-3">
    <%= partial :'crypto/metastrategy' %>
  </div>
<% else %>
  <%= cp :'crypto/metastrategy' %>
<% end %>
<h2>How Metastrategy works</h2>
<%= md :metastrategy %>
