<div class="row justify-content-center">
  <div class="col-6 col-sm-2">
    <a href="https://iconomi.com/asset/DECENTCOOP"><img class="mb-3 w-100 rounded-circle" style="box-shadow: 0 0 1rem rgba(0,0,0,0.33)" src="/images/meta-sq.jpg" /></a>
  </div>
</div>

<p class="lead text-center"><a href="https://iconomi.com/asset/DECENTCOOP">Metastrategy</a> is my strategy on ICONOMI.</p>

<% strategy_live = JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure')) %>
<% strategy = Strategy.find_by(ticker: 'DECENTCOOP') %>

<p class="text-center">
  Rebalanced <%= timeago Time.at(strategy_live['lastRebalanced']) %>
  <% if current_account %>
    <a href="/strategy/<%=ENV['SITE_SECRET']%>/rebalance">
      <i class="fas fa-sync"></i>
    </a>
  <% end %>
  <% Delayed::Job.where(handler: /method_name: :rebalance/).each { |delayed_job| %>
  &middot; Rebalancing in <abbr data-toggle="tooltip" title="<%=delayed_job.run_at%>"><%=time_ago_in_words delayed_job.run_at %></abbr>
  <% } %>
</p>


<table class="table mt-3" style="width: auto; margin: auto">
  <thead style="border-top: none">
    <tr>
      <th>SFW</th>
      <th>S</th>
      <th>24h</th>
      <th>7d</th>
      <th>1M</th>
      <th>3M</th>
      <th>6M</th>
      <th>1Y</th>
    </tr>
  </thead>
  <tr>
    <% %w[score_fee_weighted score day week month three_month six_month year].each { |t| %>
    <td style="text-align: center">
      <% if strategy.send(t) %>
        <% score, index = strategy.score_index(t, strategies: Strategy.active_mature(mature_period: strategy.max_maturity)) %>
        <span class="score">
          <%= number_with_precision score, precision: 1 %>
        </span>
        <br />
        <small>
          <%= index %>/<%=Strategy.active_mature.count%>
        </small>
      <% end %>
    </td>
    <% } %>
  </tr>
</table>


<div data-pagelet-url="/strategy/table" class="mb-3">
  <%= partial :'crypto/strategy_table' %>
</div>


<%= md :metastrategy %>
