<% if terms.count > 0 %>
  <h2 class="regular">
    <a target="_blank" class="text-white" href="https://youtu.be/<%=video.youtube_id%>">
      <%=video.title.gsub(' - YouTube','') %>
    </a>
    <% if defined?(vtermship) %>
      <span class="badge badge-primary"><%=pluralize vtermship.weight, 'mention' %></span>
    <% else %>
      <span class="badge badge-primary"><%=number_with_delimiter video.view_count %></span>
    <% end %>
  </h2>
  <ul>
    <% terms.each { |time, line| %>
    <li><a target="_blank" class="text-body" href="https://www.youtube.com/watch?v=<%=video.youtube_id%>&t=<%=time%>s"><%=line%></a></li>
    <% } %>
  </ul>
<% end %>
