<div class="row">
  <% [@word_frequency, @phrase2_frequency].each { |h| %>
  <div class="col">
    <ol>
      <% x = 10 %>
      <% h.sort_by { |w,f| -f }.first(100).each { |w,f| %>
      <li>
        <a href="javascript:;" onclick="
        var a = this;
        $.get('/k/<%=@network.slug%>/terms/create/<%= w %>', function() { $(a).parent().remove(); });
        "
        class="text-contrast" title="<%= f %>" style="font-size: <%= em = f.to_f / x; em > 2 ? 2 : em %>em">  <%= w %>   </a>
        <label class="d-none badge badge-primary"><%=f%></label>
      </li>
      <% } %>
    </ol>
  </div>
  <% } %>
</div>
