<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item active" aria-current="page">
      <%= partial :'k/select' %>
    </li>
  </ol>
</nav>

<%= partial :'k/explain' %>

<%= partial :'k/network', locals: {vterms: @network.vterms, vedges: @network.vedges} %>

<ol class="mt-3">
  <% x = 10 %>
  <% @network.vterms.order('weight desc').each { |vterm| %>
  <li>
    <a href="/k/<%=@network.slug%>/terms/<%= vterm.term %>" class="text-contrast" style="font-size: <%= em = 1 + vterm.weight.to_f / x; em > 2 ? 2 : em %>em"><%= vterm.term %></a>
    <label class="badge badge-primary"><%=vterm.weight%></label>
  </li>
  <% } %>
</ol>
