<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href="/k/<%=@network.slug%>"><%=@network.name%></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@vterm.term%></li>
  </ol>
</nav>

<%= partial :'k/explain' %>

<div class="row mb-3">
  <div class="col-12 col-lg-6">

    <% if !@vterm.definition %>
      <p class="lead">Generating definition... <i class="fa fa-spin fa-circle-notch"></i></p>
    <% else %>
      <%= simple_format(@vterm.linked_definition).gsub('<p>', '<p class="lead">') %>
    <% end %>
  </div>
  <div class="col-12 col-lg-6">
    <%=

vedges = @network.vedges.or({source: @vterm}, {sink: @vterm})
w = vedges.pluck(:weight).sort
c = w.count
median = (w[(c - 1) / 2] + w[c / 2]) / 2.0
vedges = vedges.where(:weight.gte => median).sample(10)

vterms = @network.vterms.where(:id.in => vedges.pluck(:source_id) + vedges.pluck(:sink_id) + @vterm.see_also_ids)
vedges = @network.vedges.or({:source_id.in => vterms.pluck(:id)}, {:sink_id.in => vterms.pluck(:id)})

partial :'k/network', locals: {vterms: vterms, vedges: vedges} 

%>
  </div>
</div>

<% @videos.order('view_count desc').each { |video| %>
<% terms = video.term(@vterm.term) %>
<% if terms.count > 0 %>
  <h2 class="regular">
    <a target="_blank" class="text-white" href="https://youtu.be/<%=video.youtube_id%>">
      <%=video.title.gsub(' - YouTube','') %>
    </a>
    <span class="badge badge-primary"><%=number_with_delimiter video.view_count%></span>
  </h2>
  <ul>
    <% terms.each { |time, line| %>
    <li><a target="_blank" class="text-body" href="https://www.youtube.com/watch?v=<%=video.youtube_id%>&t=<%=time%>s"><%=line%></a></li>
    <% } %>
  </ul>
<% end %>
<% } %>

<div class="row justify-content-center">
  <div class="col-auto">
    <%= will_paginate @videos, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>
</div>
