<%= partial :'blog/create' %>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <% @blog_posts.each { |blog_post| %>
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <a class="d-block text-contrast" href="<%=blog_post.url%>" style="text-decoration: none">
          <p class="fira text-muted">
            <%= date = blog_post.created_at; date.strftime("#{date.day.ordinalize} %b %Y") %>
          </p>

          <% if blog_post.image_url %>
            <div class="mb-3" style="height: 250px; background-image: url('<%= blog_post.image_url %>'); background-size: cover; background-position: center"></div>
          <% end %>

          <h1><%= blog_post.title %></h1>
          <% if current_account %>
            <p>
              <% if @blog_post.public? %>
                <a href="<%=@blog_post.url%>/make_private">public</a>
              <% else %>
                <a href="<%=@blog_post.url%>/make_public">private</a>
              <% end %>
            </p>
          <% end %>
        </a>
      </div>
    </div>
    <% } %>
  </div>
</div>
