<%= partial :'blog/create' %>

<div class="row">
  <div class="col-lg-2">
    <div class="d-none d-lg-block" id="toc">
    </div>
  </div>
  <div class="col-lg-8">

    <div class="blog_post">
      <h1 class="post-title">
        <a class="text-contrast" href="<%= @blog_post.url %>">
          <%= @blog_post.title %>
        </a>
      </h1>

      <p class="fira text-muted mb-1">
        <%= date = @blog_post.created_at; date.strftime("#{date.day.ordinalize} %b %Y") %>
        <span style="position: relative; top: -0.2em" class="badge badge-primary"><%= @blog_post.version %></span>
      </p>

      <% if current_account %>
        <p>
          <% if @blog_post.image_word %>
            <a href="javascript:;" onclick="$(this).parent().hide();$('#image-word-form').show().find('input').select()"><%=@blog_post.image_word%></a>
            &middot;
          <% end %>
          <% if @blog_post.public? %>
            <a href="<%=@blog_post.url%>/make_private">public</a>
          <% else %>
            <a href="<%=@blog_post.url%>/make_public">private</a>
          <% end %>
          &middot;
          <a data-confirm="Are you sure you want to delete this post?" href="<%=@blog_post.url%>/destroy">destroy</a>
        </p>
        <% form_tag "#{@blog_post.url}/image_word", id: 'image-word-form', class: 'mb-3', style: 'display: none' do %>
          <%= text_field_tag :image_word, class: 'form-control', value: @blog_post.image_word %>
        <% end %>
      <% end %>

      <% if @blog_post.image_url %>
        <div class="my-3 text-center">
          <% if current_account %>
            <a href="<%=@blog_post.url%>/refresh_image">
              <img class="post-header-image" style="max-width: 100%" src="<%= @blog_post.image_url %>">
            </a>
          <% else %>
            <img class="post-header-image" style="max-width: 100%" src="<%= @blog_post.image_url %>">
          <% end %>
        </div>
      <% end %>

      <div>
        <% if @blog_post.body %>
          <%= md @blog_post.body %>
        <% else %>
          <script>
            setTimeout(function() {
              window.location.reload(1);
            }, 5000);
          </script>
          Generating, this can take up to 5 minutes... the page will refresh automatically <i class="fas fa-circle-notch fa-spin"></i>
        <% end %>
      </div>

      <% if @blog_post.public? %>
        <div class="mt-5 p-1">
          <div class="row justify-content-between">
            <% if @blog_post.previous %>
              <div class="col-auto">
                <a href="<%=@blog_post.previous.url%>" class="card text-center shadow-sm mb-1" style="text-decoration: none">
                  <div class="card-body py-1 px-3">
                    <span class="text-contrast">&larr;</span>
                    <%=@blog_post.previous.title%>
                  </div>
                </a>
              </div>
            <% end %>
            <% if @blog_post.next %>
              <div class="col-auto">
                <a href="<%=@blog_post.next.url%>" class="card text-center shadow-sm mb-1" style="text-decoration: none">
                  <div class="card-body py-1 px-3">
                    <%=@blog_post.next.title%>
                    <span class="text-contrast">&rarr;</span>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
