<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href="/metacrisis">Daniel Schmachtenberger on the Metacrisis</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="/metacrisis/terms/<%=@vedge.source.term%>"><%=@vedge.source.term%></a>
      &
      <a href="/metacrisis/terms/<%=@vedge.sink.term%>"><%=@vedge.sink.term%></a>
    </li>
  </ol>
</nav>

<div class="mb-3">
  <%=

vedges = Vedge.or({source: @vedge.source}, {sink: @vedge.source})
w = vedges.pluck(:weight).sort
c = w.count
median = (w[(c - 1) / 2] + w[c / 2]) / 2.0
vedges = vedges.where(:weight.gte => median).sample(5)

vterms_source = Vterm.where(:id.in => vedges.pluck(:source_id) + vedges.pluck(:sink_id) + @vedge.source.see_also_ids)
vedges_source = Vedge.or({:source_id.in => vterms_source.pluck(:id)}, {:sink_id.in => vterms_source.pluck(:id)})

###

vedges = Vedge.or({source: @vedge.sink}, {sink: @vedge.sink})
w = vedges.pluck(:weight).sort
c = w.count
median = (w[(c - 1) / 2] + w[c / 2]) / 2.0
vedges = vedges.where(:weight.gte => median).sample(5)

vterms_sink = Vterm.where(:id.in => vedges.pluck(:source_id) + vedges.pluck(:sink_id) + @vedge.sink.see_also_ids)
vedges_sink = Vedge.or({:source_id.in => vterms_sink.pluck(:id)}, {:sink_id.in => vterms_sink.pluck(:id)})

vterms = Vterm.where(:id.in => vterms_source.pluck(:id) + vterms_sink.pluck(:id))
vedges = Vedge.where(:id.in => vedges_source.pluck(:id) + vedges_sink.pluck(:id))

partial :'metacrisis/network', locals: {vterms: vterms, vedges: vedges} 

%>
</div>

<% @videos.order('view_count desc').each { |video| %>
<% terms = video.terms(@vedge.source.term, @vedge.sink.term) %>
<% if terms.count > 0 %>
  <h2 class="regular">
    <a target="_blank" class="text-white" href="https://youtu.be/<%=video.youtube_id%>">
      <%=video.title.gsub(' - YouTube','') %>
    </a>
    <span class="badge badge-primary"><%=number_with_delimiter video.view_count%></span>
  </h2>
  <ul>
    <% terms.each { |time, line| %>
    <li><a target="_blank" class="text-body" href="https://www.youtube.com/watch?v=<%=video.youtube_id%>&t=<%=time%>s"><%=line%></a></li>
    <% } %>
  </ul>
<% end %>
<% } %>

<div class="row justify-content-center">
  <div class="col-auto">
    <%= will_paginate @videos, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>
</div>
