<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href="/metacrisis">Daniel Schmachtenberger on the Metacrisis</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@vterm.term%></li>
  </ol>
</nav>


<div class="row justify-content-center">
  <div class="col-lg-10">
    <%= simple_format(@vterm.linked_definition).gsub('<p>', '<p class="lead">') %>
  </div>
</div>

<% Video.where(text: /#{@vterm.term}/i).order('view_count desc').each { |video| %>
<% terms = video.term(@vterm.term) %>
<% if terms.count > 0 %>
  <h2 class="regular">
    <a target="_blank" class="text-white" href="https://youtu.be/<%=video.youtube_id%>">
      <%=video.title.gsub(' - YouTube','') %>
    </a>
    <span class="badge badge-primary"><%=number_with_delimiter video.view_count%></span>
  </h2>
  <ul>
    <% terms.each { |time, line| %>
    <li><a target="_blank" class="text-body" href="https://www.youtube.com/watch?v=<%=video.youtube_id%>&t=<%=time%>s"><%=line%></a></li>
    <% } %>
  </ul>
<% end %>
<% } %>

