<% spin = 60 / Ancestry.all.count %>
<div class="row">
  <div class="col-12 col-md-6 mb-3">
    <script>
      $(function () {
        var config = {
          type: 'doughnut',
          data: {
            datasets: [{
                data: <%= Ancestry.all(sort: { 'Autonumber' => 'asc' }).map { |ancestry| ancestry['Percentage'] } %>,
                backgroundColor: <%= { 'European' => 0, 'Jewish' => 210, 'Central & South Asian' => 120, 'Unknown' => 0 }.map do |k, v|
                                       n = Ancestry.all(filter: "{Region} = '#{k}'", sort: { 'Autonumber' => 'asc' }).count; 0.upto(n - 1).map { |i| (k == 'Unknown' ? '#666' : '#2DB963'.paint.spin(v + i * spin)).to_s }
                                     end.sum %>
              }],
            labels: <%= Ancestry.all(sort: { 'Autonumber' => 'asc' }).map { |ancestry| ancestry['Name'] } %>,
          },
          options: {
            legend: {
              display: false
            },
            responsive: true,
            tooltips: {
              callbacks: {
                label: function (tooltipItem, data) {
                  try {
                    let label = ' ' + data.labels[tooltipItem.index] || '';
                    if (label) {
                      label += ': ';
                    }

                    const sum = data.datasets[0].data.reduce((accumulator, curValue) => {
                      return accumulator + curValue;
                    });
                    const value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                    label += Number((value / sum) * 100).toFixed(1) + '%';
                    return label;
                  } catch (error) {
                    console.log(error);
                  }
                }
              }
            }
          }
        };
        $(function() {
          var ctx = document.getElementById('chart-area').getContext('2d');
          window.myPie = new Chart(ctx, config);
        })
      })
    </script>
    <canvas id="chart-area"></canvas>
  </div>
  <div class="col-12 col-md-6">
    <% { 'European' => 0, 'Jewish' => 210, 'Central & South Asian' => 120, 'Unknown' => 0 }.each { |k,v| %>
    <% n = Ancestry.all(filter: "{Region} = '#{k}'", sort: { 'Autonumber' => 'asc' }).count
       Ancestry.all(filter: "{Region} = '#{k}'", sort: { 'Autonumber' => 'asc' }).each_with_index { |ancestry, i| %>
    <div class="text-white text-center" style="display: inline-block; width: 5em;  background: <%= (k == 'Unknown' ? '#666' : '#2DB963'.paint.spin(v + i * spin)).to_s %>"><%= "#{ancestry['Percentage']}%" %></div>
    <%= ancestry['Name'] %> <br>
    <% } %>
    <% } %>
  </div>
</div>
