<div class="blog_post">
  <h1><a class="text-dark" href="/blog/<%=blog_post['Slug']%>"><%=blog_post['Title']%></a></h1>
  <p class="text-muted"><%=Date.parse(blog_post['Published at']).to_s(:blog)%></p>

  <% if blog_post['Embed'] %>
    <div class="mb-3">
      <%= blog_post['Embed'] %>
    </div>
  <% elsif blog_post['Header image URL'] %>
    <div class="mb-3 text-center">
      <img style="max-width: 100%" src="<%=blog_post['Header image URL']%>" />
    </div>
  <% end %>

  <%= client = DropboxApi::Client.new; md("blog/#{blog_post['Slug']}.md")
  .gsub('{gallery}', begin; %Q{
  <div class="grid" id="lightgallery">
  #{ client.list_folder("/stephenreid.net/blog/#{blog_post['Slug']}").entries.map(&:name).shuffle.map { |image|

    path = "blog/#{blog_post['Slug']}/#{image}"
    shared_link = client.list_shared_links(path: "/stephenreid.net/#{path}").links.find { |link| link.is_a?(DropboxApi::Metadata::FileLinkMetadata) }
    if !shared_link
    shared_link = client.create_shared_link_with_settings("/stephenreid.net/#{path}")
    end
    url = shared_link.url.gsub('dl=0','dl=1')

    %Q{<div class="grid-sizer"></div>
    <a class="grid-item" href="#{url}">
    <img class="w-100" src="#{url}" />
    </a>
    }}.join
  }
  </div>     
    }; rescue; ''; end
    ) %>
</div>