<div class="blog_post">
  <h1><a class="text-dark" href="/blog/<%=blog_post['Slug']%>"><%=blog_post['Title']%></a></h1>
  <p class="text-muted"><%=Time.zone.parse(blog_post['Published at']).to_date.to_s(:blog)%></p>

  <img class="w-100 mb-3" src="<%=blog_post['Attachments'].first['url']%>" />

  <%=
  markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true);
  markdown.render(blog_post['Body'])
%>
</div>