<div class="card film shadow-sm">
  <a href="<%= film[:url] %>">
    <img onerror="this.style.display='none'" class="card-img-top" src="<%= film[:image] %>">
  </a>
  <div class="card-body">
    <h5 class="card-title mb-0">
      <a href="<%= film[:url] %>" class="text-contrast"><%= film[:name] %></a>
      <span style="opacity: 0.33">
        <%= film[:year] %>
      </span>
    </h5>
  </div>
</div>
