    <% if Padrino.env == :production %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151445443-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-151445443-1');
  </script>
<% end %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if request.path.starts_with?('/svensk') %>
  <meta name="referrer" content="no-referrer">
<% end %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

<link rel="preload" href="/fonts/ZilapEvolution/stylesheet.css" as="style">
<link href="/fonts/ZilapEvolution/stylesheet.css" rel="stylesheet">

<%= partial :'layouts/dependencies' %>

<% [
       "/stylesheets/#{@stylesheet}.css?#{@cachebuster}"
     ].each { |f| %>
<link rel="stylesheet" href="<%= f %>">
<% } %>

<%= favicon_tag @favicon || 'octopus-circle.png' %>
<title><%= t = if @full_title
                   @full_title
                 elsif @title
                   "#{@title} · Stephen Reid"
                 else
                   'Stephen Reid'
                 end %></title>
<meta property="og:title" content="<%= t %>">
<meta name="description" content="<%= @og_desc %>">
<meta property="og:image" content="<%= @og_image %>">

<% if @og_image && @og_desc %>
  <meta name="twitter:title" content="<%= t %>">
  <meta name="twitter:description" content="<%= @og_desc %>">
  <meta name="twitter:image" content="<%= @og_image %>">
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<link rel="alternate" type="application/atom+xml" title="Stephen Reid" href="/feed.rss">
<link rel="alternate" type="application/atom+xml" title="Stephen Reid's blog posts" href="/blog/feed.xml">
