<script>
  $(function () {
    map = new google.maps.Map(document.getElementById("map-canvas"), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: false,
            scaleControl: true,
            streetViewControl: false,
            maxZoom: 16,
<% if @disable_scrollwheel %>
      scrollwheel: false
<% end %>
  });
  var bounds = new google.maps.LatLngBounds();
  var points = []
<% @organisations.each { |organisation| %>
    points.push({
      lat: <%=organisation['Latitude']%>,
      lng: <%=organisation['Longitude']%>,
      color: '<%=organisation['Interest name'] == 'future' ? 'green' : 'red' %>',
      name: "<%=js_escape_html(organisation['Name'])%>",
      content: '<%=js_escape_html(partial :organisation, :object => organisation, :locals => {:include_category => true})%>'
    })
<% } %>


  var infowindow = new google.maps.InfoWindow();
  var markers = []
  for (i = 0; i < points.length; i++) {
    var point = points[i];
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(point.lat, point.lng),
      title: point.name,
      icon: { url: 'http://maps.google.com/mapfiles/ms/icons/'+ point.color +'-dot.png' }, 
      content: point.content
    });
    google.maps.event.addListener(marker, 'click', function (marker) {
      return function () {
        infowindow.setContent('<div class="infowindow">' + marker.content + '</div>');
        infowindow.open(map, marker);
      }
    }(marker));
    bounds.extend(marker.getPosition());
    markers.push(marker);
  }

  var markerClusterer = new MarkerClusterer(map, markers);
  map.fitBounds(bounds);


  }
  );</script>

<div style="position: relative">
  <div style="width: 100%; height: 35rem" id="map-canvas"></div>
</div>
