
<% if @p %>

  <h3 class="mt-5">Metastrategy</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Asset</th>
        <th>Current weight</th>
        <th>Proposed weight</th>
      </tr>
    </thead>
    <% proposed = Hash[Strategy.proposed] %>
    <% actual = Hash[JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure'))['values'].map { |h| [h['assetTicker'], h['targetWeight']] }] %>

    <% (proposed.keys + actual.keys.reject { |k| proposed.keys.include?(k) }).each { |k| %>
      <tr>
        <td>
          <%= k %>
        </td>
        <td>
          <% if actual.keys.include?(k) %>
            <%= number_to_percentage (actual[k]*100), precision: 2 %>
          <% end %>
        </td>      
        <td>
          <% if proposed.keys.include?(k) %>
            <%= number_to_percentage (proposed[k]*100), precision: 2 %>
          <% end %>
        </td>
      </tr>
    <% } %>
    <tfoot>
      <tr>
        <th></th>
        <th>
          <%= number_to_percentage (actual.map { |k,v| v }.sum*100), precision: 2 %>
        </th>
        <th>
          <%= number_to_percentage (proposed.map { |k,v| v }.sum*100), precision: 2 %>
        </th>
      </tr>
    </tfoot>
  </table>

<% end %>