<% if @p %>
  <% if assets = (params[:assets].try(:to_i) || 10) %>
    <% assets = 1 if assets < 1 %>
    <% assets = 20 if assets > 20 %>
  <% end %>
  <h1 class="text-center mt-5 mb-3" id="meta">Metastrategy</h1>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 col-lg-4 text-center">
      <% form_tag '#meta', :method => 'get' do %>
        <label>Number of assets</label>
        <div class="range-slider">
          <input name="assets" class="range-slider__range" type="range" value="<%=assets%>" min="1" max="20" step="1" onchange="$(this.form).submit()">
          <span class="range-slider__value">0</span>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Asset</th>
        <th>Current weight</th>
        <th>Proposed weight</th>
      </tr>
    </thead>
    <% proposed = Hash[Strategy.proposed(n: assets)] %>
    <% actual = Hash[JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure'))['values'].map { |h| [h['assetTicker'], h['targetWeight']] }] %>
    <% (proposed.keys + actual.keys.reject { |k| proposed.keys.include?(k) }).each { |k| %>
    <tr>
      <td>
        <a target="_blank" href="https://www.iconomi.com/asset/<%=k%>">
          <%= Asset.find_by(ticker: k).name %> (<%= k %>)
        </a>
      </td>
      <td>
        <% if actual.keys.include?(k) %>
          <%= number_to_percentage (actual[k]*100), precision: 2 %>
        <% end %>
      </td>
      <td>
        <% if proposed.keys.include?(k) %>
          <%= number_to_percentage (proposed[k]*100), precision: 2 %>
        <% end %>
      </td>
    </tr>
    <% } %>
    <tfoot>
      <tr>
        <th></th>
        <th>
          <%= number_to_percentage (actual.map { |_k,v| v }.sum*100), precision: 2 %>
        </th>
        <th>
          <%= number_to_percentage (proposed.map { |_k,v| v }.sum*100), precision: 2 %>
        </th>
      </tr>
    </tfoot>
  </table>
<% end %>
