<script>
  $(function () {

  scale = chroma.scale(['blue', 'red']);
  scale(0.5).hex(); // #FF7F7F

          node_min_width = 10
          node_min_color = 0.1
          node_color_scale = 50
          edge_min_color = 0.1
          edge_color_scale = 20
          edge_min_opacity = 0.1
          edge_opacity_scale = 20

          cy = cytoscape({

          container: $('#cy'),
                  elements: [
<% terms.each { |term| %>
                    { data: {id: '<%=term.id%>', name: '<%=term['Name']%>', weight: <%= w = (term['Posts'].try(:length) || 0)%>, width: (node_min_width +<%=w%>), color: scale(node_min_color +<%=w%> / node_color_scale).hex()} },
<% } %>
<% term_links.each { |term_link| %>
                    {
                    data: {id: '<%=term_link['Autonumber']%>', source: '<%=term_link['Source'].first%>', target: '<%=term_link['Sink'].first%>', weight: <%=w = (term_link['Posts'].try(:length) || 0)%>, color: scale(edge_min_color +<%=w%> / edge_color_scale).hex(), opacity: (edge_min_opacity +<%=w%> / edge_opacity_scale)}
                    },
<% } %>
                  ],
                  style: [// the stylesheet for the graph
                  {
                  selector: 'node',
                          style: {
                          'background-color': 'data(color)',
                                  'opacity': 0.75,
                                  'label': 'data(name)',
                                  'width': 'data(width)',
                                  'height': 'data(width)'
                          }
                  },
                  {
                  selector: 'edge',
                          style: {
//                  'width': 'data(weight)',
<% if defined?(edge_labels) %> 'label': 'data(weight)', <% end %>
                          'opacity': 'data(opacity)',
                                  'line-color': 'data(color)',
                          }
                  }
                  ],
                  layout: {
                  name: 'cola',
                          // infinite: true,
                          nodeSpacing: function(node){ return 40; },
                  }

          });
  cy.on('tap', 'node', function(){
  window.location.href = '/search?term=' + this.data('name');
  });
  cy.on('tap', 'edge', function(){
  window.location.href = '/search?source=' + this.data('source') + '&sink=' + this.data('target');
  });
  //cy.$('[weight < 2]').hide()
  cy.minZoom(0.5)
  })
</script>    
<div id="cy" class="shadow" style="height: 600px"></div>