
<div class="card">
  <a href="/posts/<%=post.id%>">
    <img class="card-img-top" src="<%= json['links']['thumbnail'].first['href'] %>">
  </a>
  <div class="card-body">
    <h5 class="card-title">
      <a href="/posts/<%=post.id%>" class="text-dark">
        <%= json['meta']['title'] %>
      </a>
    </h5>
    <% if json['meta']['description'] %>
      <p class="mb-1 card-text"><%= json['meta']['description'].truncate(150) %></p>
    <% end %>
    <div class="row justify-content-between">
      <div class="col">
        <p class="m-0">
          <small>
            <a class="text-muted" style="text-decoration: none" href="<%=post['Link']%>" target="_blank">
              <% if json['links']['icon'] %>
                <img style="max-height: 20px" src="<%= json['links']['icon'].first['href'] %>">
              <% end %>
              <% if json['meta']['site'] %>
                <% case json['meta']['site']; when 'the Guardian'; %>
                  The Guardian                    
                <% when 'BBC_Future' %>
                  BBC Future
                <% else %>
                  <%= json['meta']['site'] %>
                <% end %>
              <% else %>
                <%= URI(post['Link']).host.gsub('www.','') %>
              <% end %>
            </a>
          </small>
        </p>            
      </div>          
      <div class="col-auto showOnHover d-none">
        <a target="_blank" class="text-dark" style="text-decoration: none" href="<%=post['Stephen Reid In Dialogue URL']%>">
          <i class="fab fa-facebook"></i>
        </a>
        <span style="opacity: 0.3">·</span>
        <a target="_blank" class="text-dark" style="text-decoration: none" href="<%=post['Twitter URL']%>">
          <i class="fab fa-twitter"></i>
        </a>                    
      </div>          
    </div>
  </div>
</div>