
<%
json = JSON.parse(post['Iframely'])
%>

<% if json['links'] && json['links']['thumbnail'] %>
  <div class="card">
    <a href="/posts/<%=post.id%>">
      <img class="card-img-top" src="<%= json['links']['thumbnail'].first['href'] %>">
    </a>
    <div class="card-body">
      <h5 class="card-title">
        <a href="/posts/<%=post.id%>" class="text-dark">
          <%= json['meta']['title'] %>
        </a>
      </h5>
      <% if json['meta']['description'] %>
        <p class="card-text"><%= json['meta']['description'].truncate(100) %></p>
      <% end %>
    </div>
  </div>
<% else %>
  <%= json['html'] %>
<% end %>