<div class="row">
  <% products.each { |product|
  %>
    <div class="col-12 col-sm-4 text-center mb-5">
      <a title="<%=product['Name']%>"
         href="javascript:;" data-toggle="modal" data-target="#product-<%=product['Name'].parameterize%>"><img style="max-height: 300px; max-width: 100%" src="<%=product['Images'].first['url']%>"></a>

      <div class="modal fade" id="product-<%=product['Name'].parameterize%>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><%=product['Name']%></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body font-weight-normal">

              <div class="mb-3 text-center">
                <a href="<%= product['URL'] %>" target="_blank"><img style="max-height: 300px; max-width: 100%" src="<%=product['Images'].first['url']%>"/></a>
              </div>

              <p class="mb-0">
                <% if product['Notes'] %>
                  <%= product['Notes'].gsub("\n",'<br />')  %><br />
                <% end %>                              
                <a href="<%= product['URL'] %>" target="_blank"><%= product['URL'] %></a>
              </p>

            </div>
          </div>
        </div>
      </div>      


    </div>
  <% } %>
</div>