<div class="bg-dark p-3 <% unless p == 0 %> border-top border-dark<% end %>">

  <div class="row">
    <div class="col-4">
      <a href="<%= post['Link'] %>" target="_blank">
        <img class="w-100" onerror="this.style.display='none'" src="<%= json['links']['thumbnail'].first['href'] if json['links']['thumbnail'] %>">
      </a>
    </div>
    <div class="col-8">
      <h6>
        <a href="<%= post['Link'] %>" target="_blank" class="text-contrast">
          <%=h post['Title'] %>
        </a>
      </h6>
      <% if json['meta']['description'] %>
        <p class="mb-1" style="font-size: 90%;">
          <a href="<%= post['Link'] %>" target="_blank" class="text-contrast" style="text-decoration: none">
            <small class="text-muted" >
              <%= json['meta']['description'].truncate(150) %>
            </small>
          </a>
        </p>
      <% end %>

    </div>
  </div>

</div>
