<% link = !post['Essay'].blank? ? (essay = true; "/posts/#{post.id}") : (essay = false; post['Link']) %>

<div class="bg-dark p-3 <% unless p == 0 %> border-top border-dark<% end %>">

  <div class="row">
    <div class="col-3">
      <a href="<%= link %>" target="_blank">
        <img class="w-100" onerror="this.style.display='none'" src="<%= json['links']['thumbnail'].first['href'] if json['links']['thumbnail'] %>">
      </a>
    </div>
    <div class="col-9">
      <h6>
        <a href="<%= link %>" target="_blank" class="text-contrast">
          <%=h post['Title'] %>
        </a>
      </h6>
      <% if json['meta']['description'] %>
        <p class="mb-2" style="font-size: 90%;">
          <a href="<%= link %>" target="_blank" class="text-contrast" style="text-decoration: none">
            <small class="text-muted" >
              <%= json['meta']['description'].truncate(150) %>
            </small>
          </a>
        </p>
      <% end %>

      <p class="mb-0" style="font-size: 90%;">
        <small class="text-muted">
          <a class="text-muted" style="text-decoration: none" href="<%= link %>" target="_blank">
            <% if json['links']['icon'] %>
              <img onerror="this.style.display='none'" style="max-height: 20px" src="<%= json['links']['icon'].first['href'] %>">
            <% end %>
            <% if json['meta']['site'] %>
              <% case json['meta']['site']; when 'the Guardian'; %>
                The Guardian
              <% when 'BBC_Future' %>
                BBC Future
              <% when 'whatisemerging' %>
                Emerge
              <% else %>
                <%= json['meta']['site'] %>
              <% end %>
            <% else %>
              <%= URI(post['Link']).host.gsub('www.', '') %>
            <% end %>
          </a>
          <% if post['Created at'] %>
            &middot;
            <%= Time.zone.parse(post['Created at']).to_date.to_s(:post) %>
          <% end %>
        </small>
      </p>

    </div>
  </div>

</div>
