<div class="row justify-content-center">
  <div class="col-sm-6">
    <% form_tag '/search', :method => :get do %>
      <div class="input-group input-group-lg">
        <%= search_field_tag :q, :class => 'form-control', :value => params[:q], :placeholder => "Search content I've shared" %>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= Padrino.env == :production ? cp('tags') : partial(:tags) %>


<% if @full_network %>
  <div class="my-5">
    <%= partial :network, locals: {terms: Term.all, term_links: TermLink.all} %>
  </div>
<% elsif (terms = Term.find_many(@posts.map { |post| post['Terms']}.flatten)).length > 1 %>      
  <div class="my-5">
    <%= partial :network, locals: {
      term_links: TermLink.find_many(@posts.map { |post| post['Term Links']}.flatten),
      terms: terms
      }, edge_labels: true %>   
  </div>
<% end %>

<%= partial :totnes_convergence %>

<div class="row mt-5">
  <%= partial :posts %>
</div>