<div class="row justify-content-center">
  <div class="col-lg-6">
    <% form_tag '/search', method: :get do %>
      <div class="input-group input-group-lg">
        <%= search_field_tag :q, class: 'form-control', value: params[:q], placeholder: 'Search knowledgegraph' %>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= Padrino.env == :production ? cp('tags') : partial(:tags) %>
<% if @full_network %>
  <div class="my-5">
    <%= partial :network, locals: { terms: Term.all, term_links: TermLink.all } %>
  </div>
<% elsif (terms = Term.find_many(@posts.map { |post| post['Terms']}.flatten)).length > 1 %>
  <div class="my-5">
    <%= partial :network, locals: {
          term_links: TermLink.find_many(@posts.map { |post| post['Term Links'] }.flatten),
          terms: terms
        }, edge_labels: true %>
  </div>
<% end %>
<% if params[:images_only] %>
  <style>
    .grid-sizer, .grid-item {  width: 100% }
    @media(min-width: 768px) {
      .grid-sizer, .grid-item {  width: 25% }
    }
    .grid-item img { padding: 0.1rem }
  </style>
  <script>
    $(window).on('load', function () {
      $('.grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-sizer',
        percentPosition: true
      })
      $('.grid').animate({opacity: 1});
    })
  </script>
  <div class="grid mt-5" style="opacity: 0">
    <% @posts.shuffle.each { |post| json = JSON.parse(post['Iframely']); next unless json['links'] && json['links']['thumbnail'] %>
    <div class="grid-sizer"></div>
    <div class="grid-item">
      <img class="w-100" src="<%= json['links']['thumbnail'].first['href']  %>">
    </div>
    <% } %>
  </div>
<% else %>
  <div class="row mt-5">
    <%= partial :posts %>
  </div>
<% end %>
