<div class="row justify-content-center">
  <div class="col-sm-6">
    <% form_tag '/search', :method => :get do %>
      <div class="input-group input-group-lg">
        <%= search_field_tag :q, :class => 'form-control', :value => params[:q], :placeholder => "Search content I've shared" %>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <p class="text-center mb-0">
        <small>
          <strong style="font-weight: 700">Examples</strong>
          <% ['spotify.com', 'youtube.com', 'whatisemerging.com', 'medium.com'].each { |term| %>
            <a class="text-dark" style="text-decoration: none; border-bottom: 1px dotted" href="/search?q=<%=term%>"><%=term%></a>
          <% } %>
          <br />
          <% ['DAO', 'Extinction Rebellion', 'psychedelics'].each { |term| %>
            <a class="text-dark" style="text-decoration: none; border-bottom: 1px dotted" href="/search?q=<%=term%>"><%=term%></a>
          <% } %>            
        </small>
      </p>
    <% end %>
  </div>
</div>

<%= Padrino.env == :production ? cp('tags') : partial(:tags) %>


<% if @full_network %>
  <div class="my-5">
    <%= partial :network, locals: {terms: Term.all, term_links: TermLink.all} %>
  </div>
<% elsif (terms = Term.find_many(@posts.map { |post| post['Terms']}.flatten)).length > 1 %>      
  <div class="my-5">
    <%= partial :network, locals: {
      term_links: TermLink.find_many(@posts.map { |post| post['Term Links']}.flatten),
      terms: terms
      }, edge_labels: true %>   
  </div>
<% end %>

<div class="row mt-5">
  <%= partial :posts %>
</div>