
<div class="card shadow-sm">
  <a href="<%=software['URL']%>">
    <img onerror="this.style.display='none'" class="card-img-top" src="<%= software['Image URL'] %>">
  </a>
  <div class="card-body">
    <h5 class="card-title">
      <a href="<%=software['URL']%>" class="text-dark">
        <%= software['Name'] %>
      </a>
    </h5>
    <% if software['Description'] %>
      <p class="mb-1 card-text"><%= software['Description'].truncate(150) %></p>
    <% end %>
  </div>
</div>

