<dt class="col-lg-4"><%= date = Date.parse(speaking_engagement[:date]); date.strftime('%b %Y') %><% if speaking_engagement[:location] %>, <%= speaking_engagement[:location] %><% elsif speaking_engagement[:organisation_name] %>, <%= speaking_engagement[:organisation_name] %><% end %>
</dt>
<dd class="col-lg-8">
  <a href="<%= speaking_engagement[:url] %>">
    <% if speaking_engagement[:url] =~ /youtu/ %>
      <i class="bi bi-youtube"></i>
    <% elsif speaking_engagement[:url] =~ /spotify/ %>
      <i class="bi bi-spotify"></i>
    <% elsif speaking_engagement[:url] =~ /substack/ %>
      <i class="bi bi-bookmark"></i>
    <% elsif speaking_engagement[:url] =~ /google/ %>
      <i class="bi bi-google"></i>
    <% elsif speaking_engagement[:url] =~ /facebook\.com\/events\// %>
      <i class="bi bi-facebook"></i>
    <% end %>
    <%= speaking_engagement[:name] %>
  </a>
</dd>
