<div class="my-5">
  <p>
    <small>
      <strong style="font-weight: 700">AI-generated tags</strong>
      <% Term.all({filter: "{Hidden} != 1"}).map { |term| [term['Name'], term['Posts'] ? term['Posts'].length : 0] }.select { |name,c| c > 0 }.sort_by { |name,c| -c }.each { |name,c| %>
        <a class="text-dark" style="text-decoration: none; border-bottom: 1px dotted" href="/terms/<%=name%>"><%=name%></a>
        <span class="badge badge-primary badge-pill"><%=c%></span>
      <% } %>       
    </small>
  </p>

  <p>
    <small>
      <strong style="font-weight: 700">Featured publishers</strong>
      <% Organisation.all({filter: "{Domain} != ''"}).map { |organisation| [organisation['Name'], organisation['Posts'] ? organisation['Posts'].length : 0] }.select { |name,c| c > 0 }.sort_by { |name,c| -c }.each { |name,c| %>
        <a class="text-dark" style="text-decoration: none; border-bottom: 1px dotted" href="/organisations/<%=name%>"><%=name%></a>
        <span class="badge badge-primary badge-pill"><%=c%></span>
      <% } %> 
    </small>
  </p>
</div>
