<% if !defined?(text); text = t.name; end %>

<% if t.description %>
  <a href="javascript:;" data-toggle="popover">
    <% if t.is_a? TarotCard %>
      <img src="<%= t.image_url %>" />
    <% else %>
      <%=text%>
    <% end %>
  </a>
  <span style="display: none"><%=text%></span>
  <span style="display: none"><%=t.description.gsub("\n",'<br />')%></span>
<% else %>
    <% if t.is_a? TarotCard %>
      <img src="<%= t.image.url %>" style="opacity: 0.3" />
    <% else %>
      <%=text%>
    <% end %>        
<% end %>
<% if current_account %>
  <a style="opacity: 0.3" target="_blank" href="<%=t.teachmetarot_url%>"><i class="fas fa-link"></i></a>
  <a style="opacity: 0.3" target="_blank" href="<%="/admin/edit/#{t.class}/#{t.id}"%>"><i class="fas fa-edit"></i></a>
<% end %>