<% if !defined?(text); text = t['Name']; end %>

<% if t['Description'] %>
  <a href="javascript:;" data-toggle="popover">
    <% if t.is_a? TarotCard %>
      <img src="<%= t['Image'].first['url'] %>" />
    <% else %>
      <%=text%>
    <% end %>
  </a>
  <span style="display: none"><%=text%></span>
  <span style="display: none"><%=t['Description'].gsub("\n",'<br />')%></span>
<% else %>
  <% if t.is_a? TarotCard %>
    <img src="/images/card-back.jpg" onmouseover="$(this).hide().next().show()" />
    <img src="<%= t['Image'].first['url'] %>" style="display: none" onmouseout="$(this).hide().prev().show()" />
  <% else %>
    <%=text%>
  <% end %>        
<% end %>