<div class="row justify-content-center">
  <div class="col-sm-9">
    <p class="lead text-center">
      Hi! I'm Stephen.
    </p>
    <div class="row justify-content-center">
      <div class="col-6 col-sm-4 mb-3">
        <img class="w-100" src="/images/me-circle-2.png"/>
      </div>
    </div>
    <p class="lead text-center">
      I live in Totnes, Devon, UK...
    </p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2015798.3682713625!2d-4.101562806890817!3d50.320252508746925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486ce021982f9593%3A0x895d67431611ba78!2sTotnes!5e0!3m2!1sen!2suk!4v1600115448355!5m2!1sen!2suk"
      width="100%"
      height="350"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""></iframe>
    <p class="mt-3 lead text-center">
      ...half an hour from Dartmoor, and half an hour from the South Devon coast.
    </p>
    <div class="row mb-3">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <img src="/images/dartmoor.jpg" class="w-100">
      </div>
      <div class="col-sm-6">
        <img src="/images/gara.jpg" class="w-100">
      </div>
    </div>
  </div>
  <p class="lead text-center">
    These are some of the organisations I'm working with at the moment:
  </p>
</div>

<div class="row justify-content-center">
  <div class="col-sm-9">
    <div class="row align-items-center justify-content-center">
      <% Affiliation.all(filter: "AND({Current} = 1, {Order} != BLANK())", sort: { 'Order' => 'asc' }).each { |affiliation| %>
        <div class="gst col-3 col-sm-2 text-center">
          <a class="text-dark" style="text-decoration: none" target="_blank" title="<%= affiliation.organisation['Name'] %>" href="<%= affiliation.organisation['URL'] %>">
          <img class="w-100 mb-1" src="<%= affiliation.organisation['Logo'].first['url'] %>">
          <style>
          .gst {
            filter: grayscale(100%);
            transition: 0.7s;
          }
          .gst:hover {
            filter: grayscale(0%);
            transition: 0.7s;
          }
          </style>
           <br />
           <small><%= affiliation.organisation['Name'].split(' ').first %></small>
          </a>
        </div>
      <% } %>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-9">
    <p class="mt-3">
      <em>Short bio in the third person</em>
    </p>
    <div>
      <%= md :bio %>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-auto text-center">
    <p class="lead">
      Since you've come this far, I'd love to stay in touch.
    </p>
    <p>
      <a target="_blank" class="btn btn-primary btn-lg" href="https://stephenreid.substack.com/">Subscribe to my newsletter</a>
    </p>
  </div>
</div>

<%= partial :course %>

<div class="text-center">
  <h2 class="mt-5 mb-4" id="ancestry">Ancestry</h2>
</div>
<%= partial :ancestry %>

<h2 class="mt-5 mb-3" id="training">Training and teachers</h2>
<div>
  <%= md :training %>
</div>

<h2 class="mt-5" id="previous-affiliations">Previous affiliations</h2>
<ul>
  <% Affiliation.all(filter: "{Current} = ''", sort: { 'Order' => 'asc' }).each { |affiliation| %>
    <li>
      <% if affiliation.fields['Organisation'] %>
        <a href="<%= affiliation.organisation['URL'] %>"><%= affiliation.organisation['Name'] %></a>,
      <% end %>
      <%= affiliation['Position'] %>
    </li>
  <% } %>
</ul>

<h2 class="mt-5" id="speaking">Places and plans</h2>
<%= partial :places %>

<h2 class="mt-5" id="speaking">Recent speaking engagements</h2>
<dl class="row">
  <% SpeakingEngagement.all(sort: { 'Date' => 'desc' }).first(5).each { |speaking_engagement| %>
    <dt class="col-sm-3"><%= date = Date.parse(speaking_engagement['Date']); date.strftime('%b %Y') %><% if speaking_engagement['Location'] %>, <%= speaking_engagement['Location'] %><% end %></dt>
    <dd class="col-sm-9">
      <a href="<%= speaking_engagement['URL'] %>"><%= speaking_engagement['Name'] %></a>
    </dd>
  <% } %>
</dl>

<h2 class="mt-5" id="research">Peer-reviewed research</h2>
<dl class="row">
  <% Paper.all.shuffle.each { |paper| %>
    <dt class="col-sm-3"><%= date = Date.parse(paper['Date']); date.strftime('%b %Y') %>,
      <%= paper['Journal'] %></dt>
    <dd class="col-sm-9">
      <a href="<%= paper['URL'] %>"><%= paper['Name'] %></a>
    </dd>
  <% } %>
</dl>

<div class="mt-5 row justify-content-center">
  <div class="col-12 col-sm-7">
    <p class="text-center lead">
      Read my blog series on my
      <a target="_blank" href="https://medium.com/@stephenreid321/dieta-with-noya-rao-part-1-welcome-to-the-jungle-23bdefec1dad">samá (dieta) with Noya Rao</a>
    </p>
    <a target="_blank" href="https://medium.com/@stephenreid321/dieta-with-noya-rao-part-1-welcome-to-the-jungle-23bdefec1dad"><img class="w-100" src="https://miro.medium.com/max/1400/1*X7fjKFABhypYds7hLaHeaw.jpeg"></a>
  </div>
</div>

<h2 class="mt-5" id="diet">Diet</h2>
<%= md :diet %>

<h2 class="mt-5" id="habits">Habits</h2>
<p class="my-3">
  <a href="https://dandelion.earth/u/stephenreid321">Check out my Dandelion profile</a>
</p>
<iframe class="mb-3" src="https://dandelion.earth/u/stephenreid321/habits" style="border:0; width: 100%; height: 500px"></iframe>
