
<h2>Daily routine</h2>
<ul>  
  <li>Morning exercises (when I wake up, before doing anything else): leg lifts, push ups, toe touch</li>
  <li>Meditation (<a href="https://insighttimer.com/">Insight Timer</a>)</li>
  <li>Yoga (<a href="https://www.downdogapp.com/">Down Dog</a>)</li>      
  <li>Spanish:
    <ul>
      <li>
        <a href="https://www.fluencia.com/">Fluencia</a>: <%=x = ef('fluencia') %>
        <%= partial :progress, locals: {p: x.split('%').first} %>        
      </li>
      <li>
        <a href="https://ankiweb.net/shared/decks/spanish">Anki vocab</a>: <%=x = anki('vocab')%>
        <%= partial :progress, locals: {p: x.split('%').first} %>           
      </li>    
      <li>
        <a href="https://ankiweb.net/shared/decks/spanish">Anki conjugations</a>: <%=x = anki('conjugations')%>
        <%= partial :progress, locals: {p: x.split('%').first} %>             
      </li>    
    </ul>
  </li>
  <li>
    Study a tarot card
  </li>  
  <li>Cardio: skipping, swimming, squash, running, dancing, climbing, football, cycling, hiking</li>
</ul>
<hr />
<ul>
  <li>Read a book (<a href="http://goodreads.com/stephenreid321">Goodreads</a>)</li>
  <li>Watch a film (<a href="https://www.imdb.com/user/ur85653381/">IMDb</a>)</li>
  <li>Listen to a podcast</li>
</ul>
<hr />
<ul>
  <li>Work according to the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a> (<a href="http://tomighty.org/">Tomighty</a>)
  <li>Mindful use of Facebook: unfollow 1 person/day</li>    
  <li>Live with the light: wake up at sunrise, sleep at sunset. At least, no screens after 10pm, lights out by 11pm</li>
  <li>Keep a journal, including a dream log to encourage lucid dreaming</li>
</ul>

<h2>Diet</h2>

<ul>  
  <li>Plant-based vegetarian<br></li>
  <li>Low dairy<br><ul>
      <li>Cheese → <a href="http://www.onegreenplanet.org/vegan-food/how-to-add-umami-flavor-to-vegan-dishes/" target="_blank">Vegan umami flavours</a><br></li>
      <li>Milk/yoghurt → Soy/rice/nut/coconut alternatives<br></li>
      <li>Butter → Oil<br></li>
    </ul>
  </li>  
  <li>Few eggs</li>
  <li>Low sugar, complex over simple carbs</li>
  <li>Top breakfast: muesli (oats + nuts + seeds + fruit)</li>
  <li>Fast from time to time</li>
  <li>Drink plenty of water & tea, some fresh juice</li>
  <li>Coffee and alcohol only on special occasions</li>
  <li>Medicinal foods: turmeric + black pepper, lemon, ginger, garlic, green tea, cayenne, mushroom extract</li>
  <li>Living foods: probiotic yoghurt, kombucha</li>
</ul>
<hr />
<ul>  
  <li>Soap/shampoo/shaving: <a href="https://www.drbronner.com/">Dr. Bronner's</a> (shower only when necessary)</li>
  <li>Toothpaste: Ecodenta</li>
</ul>