<h2 class="mb-3" id="training">Training and teachers</h2>
<div>
  <%= md :training %>
</div>

<h2 class="mt-5" id="previous-affiliations">Previous affiliations</h2>
<ul>
  <% Affiliation.all(filter: "AND({Current} = '', {Hidden} = '')", sort: { 'Order' => 'asc' }).each { |affiliation| %>
  <li>
    <% if affiliation.fields['Organisation'] %>
      <a href="<%= affiliation.organisation['URL'] %>"><%= affiliation.organisation['Name'] %></a>,
    <% end %>
    <%= affiliation['Position'] %>
  </li>
  <% } %>
  <li>
    Digital consultancy work for organisations including Supermodular, the New Economics Foundation, 38 Degrees, the Labour Party, the Green Party, 350.org, the Living Wage Foundation, Positive Money, SumOfUs, 10:10 and Brandalism
  </li>
  <li>
    Activism with Camp for Climate Action and Extinction Rebellion, and as a co-founder of UK Uncut and The Intruders
  </li>
</ul>

<h2 class="mt-5" id="research">Peer-reviewed research</h2>
<dl class="row">
  <% Paper.all.shuffle.each { |paper| %>
  <dt class="col-lg-3"><%= date = Date.parse(paper['Date']); date.strftime('%b %Y') %>,
    <%= paper['Journal'] %></dt>
  <dd class="col-lg-9">
    <a href="<%= paper['URL'] %>"><%= paper['Name'] %></a>
  </dd>
  <% } %>
</dl>

<h2 class="mt-5" id="feedback">Feedback on my courses and events</h2>
<p class="mb-3">
  <a href="https://dandelion.events/u/stephenreid321">Check out my Dandelion profile</a>
</p>
<iframe style="overflow: scroll; border: 0; height: 100vh; width:100%;" id="dandelion-feedback" src="https://dandelion.events/u/stephenreid321/feedback?minimal=true&hide_pictures=1"></iframe>
<script>
  $(function() {
       $('#dandelion-feedback').iFrameResize({log: true, checkOrigin: false, heightCalculationMethod : 'taggedElement'})
  })
</script>