
<div class="row justify-content-center">
  <div class="col-sm-8">
    <%= partial :blog_post, :object => @blog_post %>

    <% if post = @blog_post.post %>
      <% if post['Twitter URL'] %>
        <div class="text-center mt-5">
          <a target="_blank" class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" href="<%=post['Facebook URL'] || post['Stephen Reid In Dialogue URL']%>">
            <i class="fab fa-facebook"></i> Discuss on Facebook
          </a>
          <a target="_blank" class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" href="<%=post['Twitter URL']%>">
            <i class="fab fa-twitter"></i> Discuss on Twitter
          </a>   
        </div>
      <% end %>
    <% end %>

    <%     
    blog_posts = BlogPost.all(sort: { "Published at" => "desc" })
    i = blog_posts.index(@blog_post)
    next_blog_post = blog_posts[i-1]
  %>

    <div class="mt-5 p-1 text-center card shadow-sm">
      <div class="card-body p-1">
        Next post: <a href="/blog/<%=next_blog_post['Slug']%>"><%=next_blog_post['Title']%></a>
      </div>
    </div>

    <div class="my-5">
      <%= Padrino.env == :production ? cp('full_network') : partial(:full_network) %>
    </div>

  </div>
</div>

