
<div class="row justify-content-center">
  <div class="col-sm-8">

    <%= partial :blog_post, :object => @blog_post %>

    <%     
    blog_posts = BlogPost.all(sort: { "Published at" => "desc" })
    i = blog_posts.index(@blog_post)
    next_blog_post = blog_posts[i-1] if i > 0
    prev_blog_post = blog_posts[i+1]
  %>


    <div class="mt-5 p-1">

      <div class="row justify-content-between">
        <% if prev_blog_post %>
          <div class="col-auto">
            <a href="/blog/<%=prev_blog_post['Slug']%>" class="card text-center shadow-sm mb-1">
              <div class="card-body py-1 px-3">
                <span class="text-dark">&larr;</span>              
                <%=prev_blog_post['Title']%>
              </div>            
            </a>       
          </div>
        <% end %>
        <% if next_blog_post %>
          <div class="col-auto">
            <a href="/blog/<%=next_blog_post['Slug']%>" class="card text-center shadow-sm mb-1">
              <div class="card-body py-1 px-3">
                <%=next_blog_post['Title']%>
                <span class="text-dark">&rarr;</span>
              </div>            
            </a>       
          </div> 
        <% end %>
      </div>
    </div>


  </div>
</div>

