
<%
usd_value_sum = Holding.all.map(&:usd_value).sum
gbp_value_sum = Holding.all.map(&:gbp_value).sum
data = []
labels = []
%>

<% if current_account %>
  <h1>
    <%=number_to_currency usd_value_sum, unit: '$', precision: 0 %>
    <small class="text-secondary"><%=number_to_currency gbp_value_sum, unit: '£', precision: 0 %></small>
  </h1>
<% end %>

<table class="table mt-3">
  <thead>
    <tr>
      <th style="width: 1px">#</th> 
      <th>Currency</th> 
      <th>%</th>      
      <% if current_account %>
        <th>$/unit</th>   
        <th>$</th>
        <th>£</th>
      <% end %>  
    </tr>
  </thead>
  <% Holding.pluck(:currency).uniq.sort_by { |currency| -Holding.where(currency: currency).map(&:usd_value).sum }.each_with_index { |currency, i|
    holdings = Holding.where(currency: currency)
    pc = ((holdings.map(&:usd_value).sum.to_f/usd_value_sum)*100).round;
    data << pc;
    labels << currency
  %>
    <tr>
      <td>
        <%=i+1%>
      </td>
      <td style="font-variant: small-caps">
        <%=currency.gsub('-',' ')%>
      </td>
      <td>
        <%= pc %>%
      </td>      
      <% if current_account %>
        <td>
          <%=number_to_currency holdings.first.usd_per_unit, unit: '$', precision: 2  %>
        </td>            
        <td>
          <%= number_to_currency holdings.map(&:usd_value).sum, unit: '$', precision: 0 %>
        </td>
        <td>
          <%=number_to_currency holdings.map(&:gbp_value).sum, unit: '£', precision: 0 %>
        </td>   
      <% end %>
    </tr>
  <% } %>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>      
      <% if current_account %>
        <th></th>
        <th><%=number_to_currency usd_value_sum, unit: '$', precision: 0 %></th>
        <th><%=number_to_currency gbp_value_sum, unit: '£', precision: 0 %></th>
      <% end %>
    </tr>  
  </tfoot>
</table>

<% if current_account %>
  <div class="my-3" style="max-width: 700px">
    <canvas id="canvas"></canvas>
    <script>

      colors = []

      var config = {
        type: 'pie',
        data: {
          datasets: [{
              data: <%=data%>,
              backgroundColor: <%= [
    '#4dc9f6',
    '#f67019',
    '#f53794',
    '#537bc4',
    '#acc236',
    '#166a8f',
    '#00a950',
    '#58595b',
    '#8549ba'             
    ] %>
            }],
          labels: <%=labels%>
        },
        options: {
          responsive: true,
          legend: {
            display: true
          },
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function (tooltipItem, data) {
                var label = data.labels[tooltipItem.index];
                var datasetLabel = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                return label + ': ' + datasetLabel + '%';
              }
            }
          }
        }
      };

      window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myPie = new Chart(ctx, config);
      };

    </script>
  </div>
<% end %>
