
<h1>Holdings</h1>

<table class="table">
	<thead>
		<th>Wallet</th>
		<th>Currency</th>
		<th>$/unit</th>
		<th>Units</th>
		<th>Valuation</th>
	</thead>
	<% Holding.each { |h| %>
		<tr>
			<td>
				<%=h.wallet%>
			</td>		
			<td>
				<%=h.currency%>
			</td>
			<td>
				$<%=h.usd_per_unit  %>
			</td>
			<td>
				<%=h.amount%>
			</td>
			<td>
				<%=number_to_currency h.valuation, unit: '$', precision: 0 %>
			</td>
		</tr>
	<% } %>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th><%=number_to_currency Holding.all.map(&:valuation).sum, unit: '$', precision: 0 %></th>
	</tr>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th><%=number_to_currency Holding.all.map(&:valuation).sum*Holding.gbp_per_usd, unit: '£', precision: 0 %></th>
	</tr>  
</table>