
<%
usd_value_sum = Holding.all.map(&:usd_value).sum
gbp_value_sum = Holding.all.map(&:gbp_value).sum
data = []
labels = []
%>

<% if current_account %>
  <h1>
    <%=number_to_currency usd_value_sum, unit: '$', precision: 0 %>
    <small class="text-secondary"><%=number_to_currency gbp_value_sum, unit: '£', precision: 0 %></small>
  </h1>
<% end %>

<table class="table mt-3">
  <thead>
  <% if current_account %>
    <th>Wallet</th>
  <% end %>
  <th>Currency</th> 
  <% if current_account %>
    <th>Units</th>  
    <th>$/unit</th>   
    <th>$</th>
    <th>£</th>
  <% end %>  
  <th>%</th>
</thead>
<% Holding.all.sort_by { |h| -h.usd_value }.each { |h| pc = ((h.usd_value.to_f/usd_value_sum)*100).round; data << pc; labels << "#{h.wallet}/#{h.currency}" %>
  <tr>
    <% if current_account %>
      <td>
        <%=h.wallet%>
      </td>		
    <% end %>
    <td style="font-variant: small-caps">
      <%=h.currency%>
    </td>
    <% if current_account %>
      <td>
        <%=h.units%>
      </td>    
      <td>
        <%=number_to_currency h.usd_per_unit, unit: '$', precision: 2  %>
      </td>            
      <td>
        <%= number_to_currency h.usd_value, unit: '$', precision: 0 %>
      </td>
      <td>
        <%=number_to_currency h.gbp_value, unit: '£', precision: 0 %>
      </td>   
    <% end %>
    <td>
      <%= pc %>%
    </td>
  </tr>
<% } %>
<tr>
  <% if current_account %>
    <th></th>
  <% end %>
  <th></th>
  <% if current_account %>
    <th></th>
    <th></th>
    <th><%=number_to_currency usd_value_sum, unit: '$', precision: 0 %></th>
    <th><%=number_to_currency gbp_value_sum, unit: '£', precision: 0 %></th>
  <% end %>
  <th></th>
</tr>  
</table>
