
<h1>
  <%=number_to_currency MyBinance.usd_value_sum, unit: '$', precision: 0 %>
  <small class="text-secondary"><%=number_to_currency MyBinance.gbp_value_sum, unit: '£', precision: 0 %></small>
</h1>

<% form_tag '/crypto/enter', :class => 'd-inline' do %>
  <%= submit_tag 'Enter', :class => 'btn btn-primary' %>
<% end %>

<% form_tag '/crypto/exit', :class => 'd-inline' do %>
  <%= submit_tag 'Exit', :class => 'btn btn-primary' %>
<% end %>

<table class="table mt-3">
  <thead>
    <tr>
      <th style="width: 1px">#</th> 
      <th>Currency</th> 
      <th>%</th>  
      <th>Units</th>  
      <th>$/unit</th>   
      <th>$</th>
      <th>£</th>
    </tr>
  </thead>
  <%     

  data = []
  labels = []

  MyBinance.balances.each_with_index { |balance, i|
    pc = ((balance['usd']/MyBinance.usd_value_sum)*100).round;
    data << pc;
    labels << balance['asset']
  %>
    <tr>
      <td>
        <%=i+1%>
      </td>
      <td>
        <%=balance['asset']%>
      </td>
      <td>
        <%= pc %>%
      </td>      
      <td>
        <%= balance['free'] %>
      </td>
      <td>
        <%=number_to_currency MyBinance.usd_per_asset(balance['asset']), unit: '$', precision: 2  %>
      </td>            
      <td>
        <%= number_to_currency balance['usd'], unit: '$', precision: 0 %>
      </td>
      <td>
        <%=number_to_currency balance['usd']*MyBinance.gbp_per_usd, unit: '£', precision: 0 %>
      </td>   
    </tr>
  <% } %>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>      
      <th></th>
      <th><%=number_to_currency MyBinance.usd_value_sum, unit: '$', precision: 0 %></th>
      <th><%=number_to_currency MyBinance.gbp_value_sum, unit: '£', precision: 0 %></th>
    </tr>  
  </tfoot>
</table>

<div class="my-3" style="max-width: 700px">
  <canvas id="canvas"></canvas>
  <script>

    colors = []

    var config = {
      type: 'pie',
      data: {
        datasets: [{
            data: <%=data%>,
            backgroundColor: <%= [
  '#4dc9f6',
  '#f67019',
  '#f53794',
  '#537bc4',
  '#acc236',
  '#166a8f',
  '#00a950',
  '#58595b',
  '#8549ba'             
  ] %>
          }],
        labels: <%=labels%>
      },
      options: {
        responsive: true,
        legend: {
          display: true
        },
        tooltips: {
          enabled: true,
          mode: 'single',
          callbacks: {
            label: function (tooltipItem, data) {
              var label = data.labels[tooltipItem.index];
              var datasetLabel = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
              return label + ': ' + datasetLabel + '%';
            }
          }
        }
      }
    };

    window.onload = function () {
      var ctx = document.getElementById("canvas").getContext("2d");
      window.myPie = new Chart(ctx, config);
    };

  </script>
</div>

