<style>#sidebar { display: none }</style>

<h2>
  <%=number_to_currency MyBinance.usd_value_sum, unit: '$', precision: 0 %>
</h2>

<% form_tag '/crypto/enter', :class => 'd-inline' do %>
  <%= submit_tag 'Enter', :class => 'btn btn-primary' %>
<% end %>

<% form_tag '/crypto/exit', :class => 'd-inline' do %>
  <%= submit_tag 'Exit', :class => 'btn btn-primary' %>
<% end %>

<table class="table mt-3">
  <thead>
    <tr>
      <th style="width: 1px">#</th> 
      <th>Currency</th> 
      <th>%</th>  
      <th>Units</th>  
      <th>$/unit</th>   
      <th>$</th>
    </tr>
  </thead>
  <%     

  data = []
  labels = []

  MyBinance.balances.each_with_index { |balance, i|
    pc = ((balance['usd']/MyBinance.usd_value_sum)*100).round;
    data << pc;
    labels << balance['asset']
  %>
    <tr>
      <td>
        <%=i+1%>
      </td>
      <td>
        <%=balance['asset']%>
      </td>
      <td>
        <%= pc %>%
      </td>      
      <td>
        <%= balance['free'] %>
      </td>
      <td>
        <%=number_to_currency MyBinance.usd_per_asset(balance['asset']), unit: '$', precision: 2  %>
      </td>            
      <td>
        <%= number_to_currency balance['usd'], unit: '$', precision: 0 %>
      </td>
    </tr>
  <% } %>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>      
      <th></th>
      <th><%=number_to_currency MyBinance.usd_value_sum, unit: '$', precision: 0 %></th>
    </tr>  
  </tfoot>
</table>

<%
# scores = {}
%>
<% indicator_names = Indicator.where(:name.ne => 'price').pluck(:name).uniq %>
<% timestamps = Indicator.order('timestamp desc').pluck(:timestamp).uniq %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Price</th>
      <% indicator_names.each { |indicator_name| %>
        <th><%=indicator_name%></th>
      <% } %>           
    </tr>
  </thead>
  <% timestamps.each { |t|  %>
    <tr>
      <td><%=t%></td>
      <td><%= Indicator.find_by(timestamp: t, name: 'price').value %></td>
      <% indicator_names.each { |indicator_name| %>
        <% if indicator = Indicator.find_by(timestamp: t, name: indicator_name)
          # scores[indicator_name] = 0 if !scores[indicator_name]        
          # case indicator.correct?; when true; scores[indicator_name] += 1; when false; scores[indicator_name] -= 1; end
          %>
          <td class="
          <%=
          # case indicator.correct?; when true; 'bg-success'; when false; 'bg-danger'; end
          case indicator.value; when 'Buy'; 'bg-success'; when 'Sell'; 'bg-danger'; end
          %>
              "><%= indicator.value %></td>
            <% else %>
          <td></td>
        <% end } %>      
    </tr>
  <% } %>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <%
      #indicator_names.each { |indicator_name|
      %>
      <th>
        <%=
        #scores[indicator_name]
        %>
      </th>
      <% 
      #}
      %>           
    </tr>
  </tfoot>
</table>