<style>#sidebar { display: none }</style>

<h2>
  <%=number_to_currency MyBinance.usd_value_sum, unit: '$', precision: 0 %>

  <%
  # On 15:40 on 6th April 2018, the portfolio value was $45,000 and the BTC price was $6576
  usd_ref = 45000
  usd_per_btc_ref = 6576
  btc_ref = usd_ref.to_f/usd_per_btc_ref
  hold = btc_ref*MyBinance.usd_per_asset('BTC')
  p = (((MyBinance.usd_value_sum/hold) - 1)*100).round(2)
%>
  <small class="<%= if p > 0; 'text-success'; elsif p < 0; 'text-danger'; end %> "><%="#{p}%"%></small>
</h2>


<% form_tag '/crypto/enter', :class => 'd-inline' do %>
  <%= submit_tag 'Enter', :class => 'btn btn-primary' %>
<% end %>

<% form_tag '/crypto/exit', :class => 'd-inline' do %>
  <%= submit_tag 'Exit', :class => 'btn btn-primary' %>
<% end %>

<table class="table mt-3">
  <thead>
    <tr>
      <th style="width: 1px">#</th> 
      <th>Currency</th> 
      <th>%</th>  
      <th>Units</th>  
      <th>$/unit</th>   
      <th>$</th>
    </tr>
  </thead>
  <%     

  data = []
  labels = []

  MyBinance.balances.each_with_index { |balance, i|
    pc = ((balance['usd']/MyBinance.usd_value_sum)*100).round;
    data << pc;
    labels << balance['asset']
  %>
    <tr>
      <td>
        <%=i+1%>
      </td>
      <td>
        <%=balance['asset']%>
      </td>
      <td>
        <%= pc %>%
      </td>      
      <td>
        <%= balance['free'] %>
      </td>
      <td>
        <%=number_to_currency MyBinance.usd_per_asset(balance['asset']), unit: '$', precision: 2  %>
      </td>            
      <td>
        <%= number_to_currency balance['usd'], unit: '$', precision: 0 %>
      </td>
    </tr>
  <% } %>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>      
      <th></th>
      <th><%=number_to_currency MyBinance.usd_value_sum, unit: '$', precision: 0 %></th>
    </tr>  
  </tfoot>
</table>

<% scores = {} %>
<% indicator_names = Indicator.where(:name.ne => 'price').pluck(:name).uniq %>
<% timestamps = Indicator.order('timestamp desc').pluck(:timestamp).uniq %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <% indicator_names.each { |indicator_name| %>
        <th><%=indicator_name%></th>
      <% } %>     
      <th>Price</th>
    </tr>
  </thead>
  <% timestamps.each { |t|  %>
    <tr>
      <td><%=t%></td>
      <% indicator_names.each { |indicator_name|
        if indicator = Indicator.find_by(timestamp: t, name: indicator_name)
        scores[indicator_name] = 0 if !scores[indicator_name]
        case indicator.correct?; when true; scores[indicator_name] += 1; when false; scores[indicator_name] -= 1; end
      %>
        <td class="<%=case indicator.correct?; when true; 'bg-success'; when false; 'bg-danger'; end %>"><%= indicator.value %></td>
      <% end } %>
      <td><%= Indicator.find_by(timestamp: t, name: 'price').value %></td>
    </tr>
  <% } %>
  <tfoot>
    <tr>
      <th></th>
      <% indicator_names.each { |indicator_name| %>
        <th><%=scores[indicator_name]%></th>
      <% } %>     
      <th></th>
    </tr>
  </tfoot>
</table>