
<%
s = Holding.all.map(&:valuation).sum
data = []
labels = []
%>

<table class="table mt-3">
  <thead>
  <th>Wallet</th>
  <th>Currency</th> 
  <% if current_account %>
    <th>Units</th>  
    <th>$/unit</th>   
    <th>$</th>
    <th>£</th>
  <% end %>  
  <th>% of fiat value</th>
</thead>
<% Holding.all.sort_by { |h| -h.valuation }.each { |h| pc = ((h.valuation.to_f/s)*100).round; data << pc; labels << "#{h.wallet}/#{h.currency}" %>
  <tr>
    <td>
      <%=h.wallet%>
    </td>		
    <td>
      <%=h.currency%>
    </td>
    <% if current_account %>
      <td>
        <%=h.units%>
      </td>    
      <td>
        <%=number_to_currency h.usd_per_unit, unit: '$', precision: 2  %>
      </td>            
      <td>
        <%= number_to_currency h.valuation, unit: '$', precision: 0 %>
      </td>
      <td>
        <%=number_to_currency h.valuation*Holding.gbp_per_usd, unit: '£', precision: 0 %>
      </td>   
    <% end %>
    <td>
      <%= pc %>%
    </td>
  </tr>
<% } %>
<tr>
  <th></th>
  <th></th>
  <% if current_account %>
    <th></th>
    <th></th>
    <th><%=number_to_currency s, unit: '$', precision: 0 %></th>
    <th><%=number_to_currency Holding.all.map(&:valuation).sum*Holding.gbp_per_usd, unit: '£', precision: 0 %></th>
  <% end %>
  <th></th>
</tr>  
</table>

<div class="my-3">
  <canvas id="canvas"></canvas>
  <script>

    colors = []

    var config = {
      type: 'pie',
      data: {
        datasets: [{
            data: <%=data%>,
            backgroundColor: [
              '#4dc9f6',
              '#f67019',
              '#f53794',
              '#537bc4',
              '#acc236',
              '#166a8f',
              '#00a950',
              '#58595b',
              '#8549ba'
            ]
          }],
        labels: <%=labels%>
      },
      options: {
        responsive: true,
        legend: {
          display: true
        },
        tooltips: {
          enabled: true,
          mode: 'single',
          callbacks: {
            label: function (tooltipItem, data) {
              var label = data.labels[tooltipItem.index];
              var datasetLabel = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
              return label + ': ' + datasetLabel + '%';
            }
          }
        }
      }
    };

    window.onload = function () {
      var ctx = document.getElementById("canvas").getContext("2d");
      window.myPie = new Chart(ctx, config);
    };

  </script>
</div>


