
<h1 class="mt-3">Holdings</h1>

<table class="table">
	<thead>
		<th>Wallet</th>
		<th>Currency</th>
		<th>Units</th>
		<th>$/unit</th>    
		<th>$</th>
    <th>£</th>
	</thead>
	<% Holding.all.sort_by { |h| -h.valuation }.each { |h| %>
		<tr>
			<td>
				<%=h.wallet%>
			</td>		
			<td>
				<%=h.currency%>
			</td>
			<td>
				<%=h.units%>
			</td>
			<td>
				$<%=h.usd_per_unit  %>
			</td>      
			<td>
				<%=number_to_currency h.valuation, unit: '$', precision: 0 %>
			</td>
			<td>
				<%=number_to_currency h.valuation*Holding.gbp_per_usd, unit: '£', precision: 0 %>
			</td>      
		</tr>
	<% } %>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th><%=number_to_currency Holding.all.map(&:valuation).sum, unit: '$', precision: 0 %></th>
    <th><%=number_to_currency Holding.all.map(&:valuation).sum*Holding.gbp_per_usd, unit: '£', precision: 0 %></th>
	</tr>  
</table>