<div class="row justify-content-center mb-5">
  <div class="col-auto">
    This is an AI-generated post. <a target="_blank" href="/blog/generate">Generate another</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <div class="d-none d-lg-block" id="toc">
    </div>
  </div>
  <div class="col-lg-8">

    <div class="blog_post">
      <h1 class="post-title">
        <a class="text-contrast" href="/blog/generated/<%= @blog_post.slug %>">
          <%= @blog_post.title %>
        </a>
      </h1>

      <p class="fira text-muted">
        <%= date = @blog_post.created_at; date.strftime("#{date.day.ordinalize} %b %Y") %>
      </p>

      <div class="mb-3 text-center">
        <img class="post-header-image" style="max-width: 100%" src="<%= @blog_post.image_url %>">
      </div>

      <div>
        <%= md @blog_post.body %>
      </div>

    </div>
  </div>
</div>
