<div class="row my-5">   
  <div class="col-md-3">
    <div class="row justify-content-center">   
      <div class="col-9 col-sm-12 mb-3 mb-sm-0 text-center">
        <a href="https://facebook.com/stephenreid321" target="_blank"><img src="/images/me.jpg" class="rounded-circle w-100" /></a>
      </div>
    </div>
  </div>
  <div class="col-md-9">

    <div class="row">
      <% [1,2,3].each { |tier| %>
        <% Affiliation.all(filter: "{Tier} = '#{tier}'", sort: { "Order" => "asc" }).each { |affiliation| %>
          <div class="col-4 col-sm-2 mb-3 mb-sm-0 text-center">
            <a style="text-decoration: none" class="text-dark" target="_blank" title="<%=affiliation.organisation['Name']%>" href="<%=affiliation.organisation['URL']%>">                
              <img class="w-100 mb-3" src="<%=affiliation.organisation['Image'].last['url']%>">
              <strong><%=affiliation.organisation['Name']%></strong><br /><%=affiliation['Position']%>
            </a>
          </div>
        <% } %>
      <% } %>
    </div>

  </div>  
</div>

<div id="key-info" class="my-5 text-center">

  <a class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" target="_blank" href="https://stephenreid.substack.com/"><i class="fas fa-envelope-open-text"></i> Subscribe</a>
  <a class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" target="_blank" href="https://facebook.com/stephenreid321"><i class="fab fa-facebook-square"></i> Follow</a>
  <a class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" target="_blank" href="https://t.me/stephenreid"><i class="fab fa-telegram"></i> Telegram</a>  
  <a class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" target="_blank" href="https://www.facebook.com/groups/stephen.reid.in.dialogue/"><i class="fas fa-users"></i> Facebook group</a>          
  <a class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" target="_blank" href="https://tinyurl.com/cider-warehouse"><i class="fas fa-home"></i> Stay</a>                    
  <a class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" href="/donate"><i class="fab fa-btc"></i> Donate</a>                              

</div> 

<%= partial :posts %>