
<%= Fragment.all(filter: "{Name} = 'bio'").first['Body'] %>

<div class="row justify-content-center">
  <div class="col-sm-auto text-center">
    <p class="lead">
      Since you've come this far, I'd love to stay in touch. Join my mailing list:
    </p>
    <%= partial :mailing_list %>
  </div>
</div>

<%= Fragment.all(filter: "{Name} = 'third-person'").first['Body'] %>

<h2 class="mt-5">Current affiliations</h2>

<div class="row align-items-center justify-content-center">   
  <% Affiliation.all(filter: "{Current} = 1", sort: { "Order" => "asc" }).each { |affiliation| %>
    <div class="col-sm-3 text-center py-3 px-5">
      <a style="text-decoration: none" class="text-dark" target="_blank" title="<%=affiliation.organisation['Name']%>" href="<%=affiliation.organisation['URL']%>">                
        <img class="w-100 mb-3" src="<%=affiliation.organisation['Image'].last['url']%>">
        <strong><%=affiliation.organisation['Name']%></strong><br /><%=affiliation['Position']%>
      </a>
    </div>
  <% } %>
</div>

<h2 class="mt-5">Podcast appearances</h2>

<%= partial :podcast_appearances %>

<h2 class="mt-5">Media appearances</h2>

<div class="row no-gutters">
  <% MediaAppearance.all.shuffle.each_with_index { |media_appearance,i| %>
    <div class="col-md-4 mb-3">
      <div class="<% if i % 3 == 1 %> mx-md-3 <% end %> ">
        <%= partial :media_appearance, :object => media_appearance %>
      </div>
    </div>
  <% } %>
</div>

<h2 class="mt-5">Writing</h2>

<div class="row no-gutters">
  <% Writing.all.shuffle.each_with_index { |writing,i| %>
    <div class="col-md-4 mb-3">
      <div class="<% if i % 3 == 1 %> mx-md-3 <% end %> ">
        <%= partial :writing, :object => writing %>
      </div>
    </div>
  <% } %>
</div>

<h2 class="mt-5">Speaking engagements</h2>

<dl class="row">
  <% SpeakingEngagement.all(sort: { "Month" => "desc" }).each { |speaking_engagement|
  %>
    <dt class="col-sm-3 font-weight-normal"><%=date = Date.parse(speaking_engagement['Month']); date.strftime('%b %Y')%><% if speaking_engagement['Location']%>, <%=speaking_engagement['Location']%><% end %></dt>
    <dd class="col-sm-9"><a href="<%=speaking_engagement['URL']%>"><%=speaking_engagement['Name']%></a></dd>
  <% } %>
</dl>

<h2 class="mt-5">Peer-reviewed research</h2>

<dl class="row">
  <% Paper.all.shuffle.each { |paper|
  %>
    <dt class="col-sm-3 font-weight-normal"><%=date = Date.parse(paper['Date']); date.strftime('%b %Y')%>, <%=paper['Journal']%></dt>
    <dd class="col-sm-9"><a href="<%=paper['URL']%>"><%=paper['Name']%></a></dd>
  <% } %>
</dl>


<h2 class="mt-5">Current areas of interest</h2>

<dl class="row">
  <% Metainterest.all(sort: { "Order" => "asc" }).each { |metainterest| %>
    <dt class="col-sm-3 font-weight-normal"><%=metainterest['Name'].upcase_first %></dt>
    <dd class="col-sm-9">  <p><%=metainterest.interests.shuffle.sort_by { |interest| interest['Order'].blank? ? 999 : interest['Order'] }.each_with_index.map { |interest,i| t = (i == 0 ? interest['Name'].upcase_first : interest['Name']); interest['URL'] ? %Q{<a target="_blank" href="#{interest['URL']}">#{t}</a>} : t  }.join('; ') %></p>   </dd>
  <% } %>    
</dl>

<h2 class="mt-5">Previous affiliations</h2>

<ul>
  <% Affiliation.all(filter: "{Current} = 0", sort: { "Order" => "asc" }).each { |affiliation| %>
    <li>
      <% if affiliation.fields['Organisation'] %>
        <a href="<%=affiliation.organisation['URL']%>"><%=affiliation.organisation['Name']%></a>,
      <% end %>
      <%=affiliation['Position']%>
    </li>
  <% } %>  
</ul>

<h2 class="mt-5">Education</h2>
<ul>
  <% Qualification.all(sort: { "Order" => "asc" }).each { |qualification| %>
    <li><%=qualification.organisation['Name']%>, <%=qualification['Name']%> in <%=qualification['Subject']%></li>
  <% } %> 
</ul>