<div class="row justify-content-center">
  <div class="col-auto">
    <h2 id="affiliations" style="border: none">Current affiliations</h2>
  </div>
</div>

<div class="row justify-content-center">   
  <div class="col-md-9">
    <% [1,2,3].each { |tier| %>
      <div class="row align-items-top justify-content-center">   
        <% Affiliation.all(filter: "{Tier} = '#{tier}'", sort: { "Order" => "asc" }).each { |affiliation| %>
          <div class="col-4 text-center py-3 px-3 py-sm-3 px-sm-5">
            <a style="text-decoration: none" class="text-dark" target="_blank" title="<%=affiliation.organisation['Name']%>" href="<%=affiliation.organisation['URL']%>">                
              <img class="w-100 mb-3" src="<%=affiliation.organisation['Image'].last['url']%>">
              <strong><%=affiliation.organisation['Name']%></strong><br /><%=affiliation['Position']%>
            </a>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
</div>

<div class="row mt-5">

  <div class="col-sm-auto text-center">
    <img src="/images/pentacle-sq.jpg" class="rounded-circle mb-3" style="width: 300px;" />
  </div>
  <div class="col-sm">
    <%= Fragment.all(filter: "{Name} = 'bio'").first['Body'] %>

    <div class="row justify-content-center">
      <div class="col-sm-auto text-center">
        <p class="lead">
          Since you've come this far, I'd love to stay in touch.
        </p>
        <p>
          <a target="_blank" class="btn btn-primary btn-lg" href="https://stephenreid.substack.com/">Subscribe to my newsletter</a>
        </p>
      </div>
    </div>

    <%= Fragment.all(filter: "{Name} = 'third-person'").first['Body'] %>

  </div>
</div>


<h2 class="mt-5" id="podcast-appearances">Podcast appearances</h2>

<%= partial :podcast_appearances %>

<%= partial :books %>

<h2 class="mt-5" id="writing">Writing</h2>

<div class="row no-gutters">
  <% Writing.all.shuffle.each_with_index { |writing,i| %>
    <div class="col-md-4 mb-3">
      <div class="<% if i % 3 == 1 %> mx-md-3 <% end %> ">
        <%= partial :writing, :object => writing %>
      </div>
    </div>
  <% } %>
</div>

<h2 class="mt-5" id="speaking">Speaking engagements</h2>

<dl class="row">
  <% SpeakingEngagement.all(sort: { "Date" => "desc" }).each { |speaking_engagement|
  %>
    <dt class="col-sm-3"><%=date = Date.parse(speaking_engagement['Date']); date.strftime('%b %Y')%><% if speaking_engagement['Location']%>, <%=speaking_engagement['Location']%><% end %></dt>
    <dd class="col-sm-9"><a href="<%=speaking_engagement['URL']%>"><%=speaking_engagement['Name']%></a></dd>
  <% } %>
</dl>

<h2 class="mt-5" id="research">Peer-reviewed research</h2>

<dl class="row">
  <% Paper.all.shuffle.each { |paper|
  %>
    <dt class="col-sm-3"><%=date = Date.parse(paper['Date']); date.strftime('%b %Y')%>, <%=paper['Journal']%></dt>
    <dd class="col-sm-9"><a href="<%=paper['URL']%>"><%=paper['Name']%></a></dd>
  <% } %>
</dl>

<h2 class="mt-5" id="previous-affiliations">Previous affiliations</h2>

<ul>
  <% Affiliation.all(filter: "{Tier} = ''", sort: { "Order" => "asc" }).each { |affiliation| %>
    <li>
      <% if affiliation.fields['Organisation'] %>
        <a href="<%=affiliation.organisation['URL']%>"><%=affiliation.organisation['Name']%></a>,
      <% end %>
      <%=affiliation['Position']%>
    </li>
  <% } %>  
</ul>

<h2 class="mt-5" id="education">Education</h2>
<ul>
  <% Qualification.all(filter: "{Completed} = 1", sort: { "Order" => "asc" }).each { |qualification| %>
    <li><%=qualification.organisation['Name']%>, <%=qualification['Name']%> in <%=qualification['Subject']%></li>
  <% } %> 
</ul>