
<%
topics = {'Consciousness' => 'The nature of consciousness;
  altered states of consciousness via meditation, psychedelics and dreams;  
  the placebo effect;  
  the unconscious',
  'Shamanism and magick' => %Q{
  Plant medicines;
  song;
  <a href="https://www.angsbacka.se/en/festival-program/tantra">tantra</a> and sexual shamanism;
  technoshamanism;
  breathwork;
  prayer;
  ritual magic including <a href="https://www.goodreads.com/book/show/7735637-condensed-chaos">chaos magick</a>, sex magick and metamagic;
  mythology
  },
  'The body' => '<a href="https://www.goodreads.com/book/show/22815968-the-body-keeps-the-score">Bodywork including somatic experiencing, yoga and dance</a>;
  neuro/biohacking; ayurveda',
  'Technology and systems' => %Q{<a href="https://www.goodreads.com/book/show/20787425-reinventing-organizations">Teal organisations</a>; Holocracy; workers' co-operatives;
  blockchain technology and decentralisation; Holochain; Scuttlebutt; solarpunk; digital nomadism},
  'Politics' => '<a href="https://www.goodreads.com/book/show/36107916-the-listening-society">Metamodernism</a>'
  }

%>

<div class="row">
  <div class="col-sm-6">

    <h2>Current areas of interest</h2>

    <% topics.each { |topic,desc| %>
      <h4><%=topic%></h4>
      <p><%=desc%></p>   
    <% } %>      
  </div>
  <div class="col-sm-6">

    <figure class="figure">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FPsychedelicsUK%2Fvideos%2F1484837941620397%2F&show_text=0&mute=0"style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
      <figcaption class="figure-caption mt-1">Speaking after the Psychedelic Society's Psychedelics for Mental Health campaign launch, <a href="https://www.independent.co.uk/news/long_reads/psychedelic-drugs-new-class-antidepressant-albert-hofmann-lsd-a8437201.html">as featured by the Independent</a></figcaption>
    </figure>

  </div>  
</div>

<p>Let's stay in touch! Join my mailing list below, <a href="http://facebook.com/stephenreid321">follow me on Facebook</a> or <a href="mailto:stephen@stephenreid.net">send me an email</a>.</p>

<%= partial :mailing_list %>

<h2 class="mt-5">Current affiliations</h2>


<div class="row align-items-center justify-content-center"> 
  <%[
    ['The Psychedelic Society', 'Founder and co-director', 'http://psychedelicsociety.org.uk', 'http://psychedelicsociety.org.uk/images/logo.png'],
    ['Autopo Collective', 'Founder and co-director', 'https://app.autopo.co', 'https://app.autopo.co/images/autopo-link-inverse.png'],
    ['Alter Ego', 'Co-director', 'https://anchor.fm/alterego', '/images/ae-logo.png'],
    # ['Breaking Convention Conference on Psychedelic Consciousness', 'Press officer', 'http://breakingconvention.co.uk', '/images/bc.png'],
    # ['psychedelic.community', 'Creator', 'https://psychedelic.community', '/images/psycom.png'],
    # ['La Botica Exótica', 'Co-founder', 'https://www.facebook.com/cosmicpotions/', '/images/la-botica.png'],
  # ['Metamonastery', 'Initiator', 'http://metamonastery.net/', 'http://metamonastery.net/images/share.png'],
    ].each_with_index { |org, i| name, title, url, src  = *org
  %>
    <div class="col-sm-4 text-center">
      <a style="text-decoration: none" class="text-dark" target="_blank" title="<%=name%>" href="<%=url%>">        
        <img class="w-100 mb-2" src="<%=src%>">
        <strong><%= name %></strong><br /><%= title %>
      </a>
    </div>
  <% } %>
</div>

<h2 class="mt-5">Previous affiliations</h2>

<ul>
  <li><a href="http://breakingconvention.co.uk/">Breaking Convention Conference on Psychedelic Consciousness</a>, press officer</li>
  <li><a href="http://www.greenpeace.org.uk">Greenpeace UK</a>, board member</li>
  <li><a href="http://www.neweconomyorganisers.org/">New Economy Organisers Network</a>, co-founder</li>
  <li><a href="http://facebook.com/ukuncut">UK Uncut</a>, co-founder</li>
  <li><a href="https://www.youtube.com/user/WeAreTheIntruders/videos">The Intruders</a>, co-founder</li>  
  <li>I've completed digital consultancy work for organisations including
    38 Degrees,
    the Labour Party,
    the Green Party,
    350.org,
    the Living Wage Foundation,
    Positive Money,
    SumOfUs,
    10:10
    and Brandalism.</li>
</ul>

<h2 class="mt-5">Education</h2>
<ul>
  <li>University of Oxford, MPhys (First Class) in <a href="http://www2.physics.ox.ac.uk/">Physics</a> (<a href="/reid_report_final.pdf">dissertation</a>)</li>
  <li>University of Bristol, MRes (Distinction) in <a href="http://www.bristol.ac.uk/bccs/">Complexity Sciences</a></li>
</ul>

<h2 class="mt-5">Podcast appearances</h2>

<%= partial :podcast_appearances %>

<h2 class="mt-5">Speaking engagements</h2>

<ul>
  <% %Q{Nov 2014, Conway Hall: Mainstreaming Psychedelics (launch of the Psychedelic Society) https://www.facebook.com/events/579511348820249/
Apr 2015: Launch of the Psychedelic Society of Edinburgh https://www.facebook.com/events/469141256573445/
Jun 2015: Launch of the Psychedelic Society of Manchester https://www.facebook.com/events/1441441909485474/
Jul 2015: Launch of the Psychedelic Society of Bristol https://www.facebook.com/events/680897688721957/
Feb 2016, Cambridge Union:  This House believes that taking recreational drugs is worth the risk https://cus.org/civicrm/event/info?reset=1&id=1193
Jul 2016, Conway Hall: Psychedelics and Nonduality https://www.youtube.com/watch?v=iIFkSIfbObA
Sep 2016, Beyond Psychedelics: Growing A Psychedelic Society http://beyondpsychedelics.cz/wp-content/uploads/2016/09/program.pdf
Nov 2016: Launch of the Psychedelic Society of Brighton https://www.facebook.com/events/1825383351076287/
Dec 2016, Conway Hall: The Legal Regulation of Psychedelics https://www.youtube.com/watch?v=nSz2AhQr52k
Oct 2017, New Unity: Psychedelics and Mystical Experience https://www.new-unity.org/eventslist/2017/10/22/psychedelics-and-mystical-experience
Apr 2018, LSD75: Growing A Psychedelic Society https://www.lsd75.ch/reid
May 2018, HowTheLightGetsIn: A Long Strange Trip https://hay.htlgi.iai.tv/events/a-long-strange-trip-2144
Jun 2018, Beyond Psychedelics: Psychedelics, Democracy and Reform http://beyondpsychedelics.cz/
Jul 2018: Launch of the Psychedelics for Mental Health campaign https://www.independent.co.uk/news/long_reads/psychedelic-drugs-new-class-antidepressant-albert-hofmann-lsd-a8437201.html
Jul 2018, Noisily Festival: Psychedelics, Nonduality and the Nature of Consciousness http://www.noisilyfestival.com/mind-body-and-soul/talks-and-workshops/
Jul 2018, Boom Festival: Psychedelic Integration https://www.boomfestival.org/boom2018/program/ngo-django/psychedelic-society/}.split("\n").reverse.each { |line| info, title = line.split(': ')
    parts = title.split(' '); title = parts[0..-2].join(' '); link = parts[-1]
  %>
    <li><%=info%>: <a href="<%=link%>"><%=title%></a></li>
  <% } %>
</ul>
