<style>
  table { font-size: 0.9rem }
</style>

<% reference_amount = 30000 %>
<% balances = JSON.parse(Iconomi.get('/v1/user/balance'))['daaList'] %>
<% balanceTotal = balances.sum { |b| b['value'].to_i} %>
<% n = (balanceTotal/reference_amount).round %>
<% # or %>
<% # n = 5 %>

<% strategies = Strategy.active_mature(fee_weighted: true).limit(n) %>
<% total = strategies.sum { |strategy| strategy.score_fee_weighted } %>

<% offset = 0 %>
<% spin = 180/n; %>

<h1 class="text-center mb-4"><%=number_to_currency balanceTotal, precision: 0%></h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Score (fee weighted)</th>       
      <th>Current position</th>     
      <th>Proposed position</th>       
      <% %w{numberOfAssets lastRebalanced monthlyRebalancedCount}.each { |x| %>
        <th><%=x%></th>
      <% } %>
    </tr>
  </thead>
  <% (strategies + balances.reject { |b| strategies.map { |s| s.ticker }.include?(b['ticker']) }).each_with_index { |strategy, i| %>

    <tr>
      <td>
        <% if strategy.is_a?(Strategy) %>
          <div class="text-white text-center" style="display: inline-block; width: 5em;  background: <%= '#00B963'.paint.spin(offset + i*spin) %>"><%=number_to_percentage((strategy.score_fee_weighted/total)*100, :precision => 0)%></div></td>
      <% else %>
        <% strategy = Strategy.find_by(ticker: strategy['ticker']) %>
      <% end %>
      <td>
        <a target="_blank" href="https://my.iconomi.com/asset/<%=strategy.ticker%>"><%= strategy.name %></a>
      </td>    
      <td>
        <%= number_with_precision strategy.score_fee_weighted, precision: 2 %>
      </td>      
      <td>
        <%= begin; number_to_currency balances.find { |b| b['ticker'] == strategy.ticker }['value'], precision: 0; rescue; end %>
      </td>
      <td>
        <% if strategy.is_a?(Strategy) %>
          <%= number_to_currency (strategy.score_fee_weighted/total)*balanceTotal, precision: 0 %>
        <% end %>
      </td>              
      <% %w{numberOfAssets lastRebalanced monthlyRebalancedCount}.each { |x| %>
        <td>
          <% if x == 'lastRebalanced' %>
            <%= time_ago_in_words strategy[x] %> ago
          <% else %>
            <%= strategy[x] %>
          <% end %>
        </td>            
      <% } %>
    </tr>
  <% } %> 
</table>

<table class="table">
  <thead>
    <tr>
      <th>Asset</th>
      <th>Current weight</th>
      <th>Proposed weight</th>
    </tr>
  </thead>
  <% proposed = Hash[Strategy.proposed(5, min_btc_eth: true)] %>
  <% actual = Hash[JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure'))['values'].map { |h| [h['assetTicker'], h['targetWeight']] }] %>

  <% (proposed.keys + actual.keys.reject { |k| proposed.keys.include?(k) }).each { |k| %>
    <tr>
      <td>
        <%= k %>
      </td>
      <td>
        <% if actual.keys.include?(k) %>
          <%= number_to_percentage (actual[k]*100), precision: 2 %>
        <% end %>
      </td>      
      <td>
        <% if proposed.keys.include?(k) %>
          <%= number_to_percentage (proposed[k]*100), precision: 2 %>
        <% end %>
      </td>
    </tr>
  <% } %>
  <tfoot>
    <tr>
      <th></th>
      <th>
        <%= number_to_percentage (actual.map { |k,v| v }.sum*100), precision: 2 %>
      </th>
      <th>
        <%= number_to_percentage (proposed.map { |k,v| v }.sum*100), precision: 2 %>
      </th>
    </tr>
  </tfoot>
</table>
