
<%
scores = {}
%>
<% indicator_names = Indicator.where(:name.ne => 'price').pluck(:name).uniq %>
<% timestamps = Indicator.order('timestamp desc').pluck(:timestamp).uniq.first(24*3) %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Price</th>
      <% indicator_names.each { |indicator_name| %>
        <th><%=indicator_name%></th>
      <% } %>           
    </tr>
  </thead>
  <% timestamps.each { |t|  %>
    <tr>
      <td><%=t%></td>
      <td><%= Indicator.find_by(timestamp: t, name: 'price').value %></td>
      <% indicator_names.each { |indicator_name| %>
        <% if indicator = Indicator.find_by(timestamp: t, name: indicator_name)
          #scores[indicator_name] = 0 if !scores[indicator_name]        
          #case indicator.correct?; when true; scores[indicator_name] += 1; when false; scores[indicator_name] -= 1; end
        %>
          <td class="
          <%=
          #case indicator.correct?; when true; 'bg-success'; when false; 'bg-danger'; end
          case indicator.value; when 'Buy'; 'bg-success'; when 'Sell'; 'bg-danger'; end
          %>
              "><%= indicator.value %></td>
            <% else %>
          <td></td>
        <% end } %>      
    </tr>
  <% } %>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <%
      indicator_names.each { |indicator_name|
      %>
        <th>
          <%=
          #scores[indicator_name]
        %>
        </th>
      <% 
        }
    %>           
    </tr>
  </tfoot>
</table>