<p><a class="btn btn-sm btn-secondary" href="/places-plans?map=1"><i class="fas fa-map-marker"></i> Switch to map view</a></p>

<div id="accordion" role="tablist">

  <% Organisation.categories.each { |k,v| %>    

      <div class="card mb-1">
        <div class="card-header" role="tab" id="heading-<%=v%>">
          <h4 class="mb-0">
            <a class="text-dark" data-toggle="collapse" href="#collapse-<%=v%>" role="button">
              <%=k%>
            </a>
          </h4>
        </div>      

        <div id="collapse-<%=v%>" class="collapse <%='show' if v == 'key' %>" role="tabpanel" data-parent="#accordion">
          <div class="card-body pb-0">
            <div class="row no-gutters">
              <% Organisation.all(filter: "{Interests} = '#{v}'").shuffle.each_with_index { |organisation,i| %>
                <div class="col-md-4 mb-3">
                  <div class="<% if i % 3 == 1 %> mx-md-3 <% end %> ">
                    <%= partial :organisation, :object => organisation %>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>          

    <% } %>
</div>