<p><a class="btn btn-sm btn-secondary" href="/places?map=1"><i class="fas fa-map-marker"></i> Switch to map view</a></p>

<div id="accordion" role="tablist">

  <% Place.categories.each { |k,v| %>    

    <div class="card mb-1">
      <div class="card-header" role="tab" id="heading-<%=v%>">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapse-<%=v%>" role="button">
            <%=k%>
          </a>
        </h5>
      </div>      

      <div id="collapse-<%=v%>" class="collapse <%='show' if v == 'learning' %>" role="tabpanel" data-parent="#accordion">
        <div class="card-body pb-0">
          <div class="row no-gutters">
            <% Place.where(category: v).shuffle.each_with_index { |place,i| %>
              <div class="col-md-4 mb-3">
                <div class="<% if i % 3 == 1 %> mx-md-3 <% end %> ">
                  <%= partial :place, :object => place %>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>          

  <% } %>
</div>