
<div class="row justify-content-center">

  <% if @json['links']['player'] %>
    <div class="col-sm-9">
      <%= @json['html'] %>
    </div>
  <% else %>
    <div class="col-sm-4">
      <%= partial :post, :locals => {:post => @post, :json => @json} %>
    </div>
  <% end %>

</div>

<div class="text-center mt-5">
  <% unless @json['links']['player'] %>
    <a target="_blank" class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" href="<%=@json['url']%>">
      <i class="fas fa-book-open"></i> Read the full article 
    </a>   
  <% end %>
  <% if @post['Twitter URL'] %>
    <a target="_blank" class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" href="<%=@post['Facebook URL'] || @post['Stephen Reid In Dialogue URL']%>">
      <i class="fab fa-facebook"></i> Discuss on Facebook
    </a>
    <a target="_blank" class="btn btn-lg btn-outline-primary mb-1 mb-sm-0" href="<%=@post['Twitter URL']%>">
      <i class="fab fa-twitter"></i> Discuss on Twitter
    </a>  
  <% end %>
</div>

<div class="my-5">
  <%= Padrino.env == :production ? cp('full_network') : partial(:full_network) %>
</div>