
<%
post = Post.find(params[:id]) 
agent = Mechanize.new
result = agent.get("https://iframe.ly/api/iframely?url=#{post['Link']}&api_key=d17340ff4312936660549e")
json = JSON.parse(result.body)
%>

<div class="row align-items-center">
  <div class="col-sm-4">

    <%= partial :post, :object => post %>

    <a href="<%=json['url']%>" target="_blank" class="text-dark d-block text-center my-5" style="text-decoration: none">
      <p>Read the full article on</p>
      <p>
        <img style="max-height: 50px" src="<%= json['links']['icon'].first['href'] %>">
        <%= json['meta']['site'] %>
      </p>
    </a>    

  </div>
  <div class="col-sm-8 justify-content-center">



    <div class="text-center">
      <h2>Discussion</h2>
      <div style="font-size: 3rem">
        <a target="_blank" class="text-dark p-3" href="<%=post['Stephen Reid In Dialogue URL']%>"><i class="fab fa-facebook"></i></a>
        <a target="_blank" class="text-dark p-3" href="<%=post['Twitter URL']%>"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

  </div>
</div>
