
<%
post = Post.find(params[:id]) 
json = JSON.parse(post['Iframely'])
%>

<div class="row justify-content-center">
  <div class="col-sm-4">

    <% if json['links']['player'] %>
      <%= json['html'] %>
    <% else %>
      <%= partial :post, :object => post %>
      <a href="<%=json['url']%>" target="_blank" class="text-dark d-block text-center my-5" style="text-decoration: none">
        <p>Read the full article on</p>
        <p>
          <img style="max-height: 50px" src="<%= json['links']['icon'].first['href'] %>">
          <%= json['meta']['site'] %>
        </p>
      </a>    
    <% end %>

  </div>
</div>



    <div class="text-center">
      <h2>Discuss</h2>
      <div style="font-size: 3rem;">
        <a target="_blank" class="text-dark p-3" href="<%=post['Stephen Reid In Dialogue URL']%>"><i class="fab fa-facebook"></i></a>
        <a target="_blank" class="text-dark p-3" href="<%=post['Twitter URL']%>"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

