<% hosts = {} %>
<% client = Pocket.client(access_token: ENV['POCKET_ACCESS_TOKEN']) %>
<% items = client.retrieve(detailType: :complete, count: 100)['list']; items.each do |_id, item|
                                                             puts item['resolved_url']
                                                             domain = begin; URI(item['resolved_url']).host.gsub('www.', ''); rescue; next; end
                                                             hosts[domain] = [] unless hosts[domain]
                                                             hosts[domain] << item
                                                           end %>


<% 
stops = STOPS
text = []
items.each do |_id, item|
if !item['resolved_title'].blank?
  text << item['resolved_title']
  end
  text << item['excerpt']
end
text = text.flatten.join(' ').downcase
words = text.split(' ')
@word_frequency = words.reject { |a| stops.include?(a) || a.length < 4 }.each_with_object(Hash.new(0)) { |word, counts| counts[word] += 1 }
@phrase2_frequency = words.each_cons(2).reject { |a, b| stops.include?("#{a} #{b}") || (stops.include?(a) || stops.include?(b)) || (a.length < 4 || b.length < 4) }.each_with_object(Hash.new(0)) { |word, counts| counts[word.join(' ')] += 1 }
%>


<% [@word_frequency, @phrase2_frequency].each { |h| %>
<% x = 2 %>
<div class="mb-3">
  <%= h.sort_by { |w,f| -f }.first(20).map { |w,f| %{<span title="#{f}" style="font-size: #{em = f.to_f / x; em > 2 ? 2 : em}em">#{w}</span>} }.join(' &middot; ') %>
</div>
<% } %>


<% hosts.sort_by { |_domain, items| -items.count }.each { |domain, items| %>
<h3><%= domain %>
  <span class="badge badge-primary"><%= items.count %></span>
</h3>
<ul class="list-unstyled">
  <% items.sort_by { |item| params[:order] ? item[params[:order]] : item['resolved_title'].parameterize }.each { |item| %>
  <li>
    <h4>
      <a href="<%=item['resolved_url']%>"><%= !item['resolved_title'].blank? ? item['resolved_title'] : item['resolved_url'] %></a>
      <a class="text-white" onclick="$.get('/pocket/<%= item['item_id'] %>/delete'); $(this).closest('li').remove()" href="javascript:;"><i class="fa fa-times"></i></a>
    </h4>
    <p><%=item['excerpt']%></p>
  </li>
  <% } %>
</ul>
<% } %>
