<% hosts = {} %>
<% client = Pocket.client(access_token: ENV['POCKET_ACCESS_TOKEN']) %>
<% items = client.retrieve(detailType: :complete, count: 100)['list']; items.each do |_id, item|
                                                             puts item['resolved_url']
                                                             domain = begin; URI(item['resolved_url']).host.gsub('www.', ''); rescue; next; end
                                                             hosts[domain] = [] unless hosts[domain]
                                                             hosts[domain] << item
                                                           end %>
<h1 class="text-center"><%= pluralize items.count, 'unread item' %></h1>
<p><%= items.first[1].keys.join(' ') %></p>
<% hosts.sort_by { |_domain, items| -items.count }.each { |domain, items| %>
<h3><%= domain %>
  <span class="badge badge-primary"><%= items.count %></span>
</h3>
<ul class="list-unstyled">
  <% items.sort_by { |item| params[:order] ? item[params[:order]] : item['resolved_title'].parameterize }.each { |item| %>
  <li>
    <h4>
      <a onclick="$(this).closest('li').remove()" href="/pocket/<%= item['item_id'] %>"><%= !item['resolved_title'].blank? ? item['resolved_title'] : item['resolved_url'] %></a>
    </h4>
  </li>
  <% } %>
</ul>
<% } %>
