<h2 class="mt-5 mb-5" id="banking">Banking</h2>

<%= partial :products, :locals => {:products => Product.all(filter: "{Category} = 'Bank'", sort: {'Order' => 'asc'})} %>

<h2 class="mt-5 mb-5" id="products">Supplements & soaps</h2>

<%= partial :products, :locals => {:products => Product.all(filter: "OR({Category} = 'Supplement', {Category} = 'Soap')", sort: {'Order' => 'asc'})} %>

<h2 class="mt-5 mb-5" id="products">Vaporizers</h2>

<%= partial :products, :locals => {:products => Product.all(filter: "{Category} = 'Vaporizer'", sort: {'Order' => 'asc'})} %>

<h2 class="mt-5 mb-5" id="products">Tarot decks</h2>

<%= partial :products, :locals => {:products => Product.all(filter: "{Category} = 'Tarot'", sort: {'Order' => 'asc'})} %>

<h2 class="mt-5 mb-5" id="foods">Foods</h2>

<%= partial :products, :locals => {:products => Product.all(filter: "{Category} = 'Food'", sort: {'Order' => 'asc'})} %>
