

<h2>Recommended podcasts</h2>

<ul>
  <% Podcast.all.shuffle.each_with_index { |podcast,i| %>
  <li><a target="_blank" href="<%=podcast['URL']%>"><%=podcast['Name']%></a> (<%=podcast.organisation['Name']%>)</li>
  <% } %>
</ul>

<%= partial :books %>

<%= partial :software %>