<p><% @frequency.sort_by { |w,f| -f }.each { |w,f| if w.length > 5 && f > (x=10) && !@stops.include?(w) %>
    <a href="/search?q=<%=w%>" class="text-dark" title="<%= f %>" style="font-size: <%=f.to_f/x%>em">  <%= w %> </a>
  <% end } %></p>
    
<p><% @host_frequency.sort_by { |h,f| -f }.each { |h,f| if f > (x=1) %>
  <a href="/search?q=<%=h%>" class="text-dark" title="<%= f %>" style="font-size: <%=em = f.to_f/x; em > 10 ? 10 : em%>em">  <%= h %> </a>
<% end } %></p>