<% balances = JSON.parse(Iconomi.get('/v1/user/balance'))['daaList'] %>
<% balanceTotal = balances.sum { |b| b['value'].to_i} %>
<% if assets = (params[:assets].try(:to_i) || 10) %>
  <% assets = 1 if assets < 1 %>
  <% assets = 20 if assets > 20 %>
<% end %>
<% proposed = Hash[Strategy.proposed(n: assets)] %>
<% actual = Hash[JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure'))['values'].map { |h| [h['assetTicker'], h['targetWeight']] }] %>
<% rebalanced = Hash[JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure'))['values'].map { |h| [h['assetTicker'], h['rebalancedWeight']] }] %>
<% strategy = JSON.parse(Iconomi.get('/v1/strategies/DECENTCOOP/structure')) %>
<% y = 50000 %>
<h1 class="text-center mb-4"><%=number_to_currency balanceTotal, precision: 0%></h1>
<p class="lead text-center">Rebalanced <%= time_ago_in_words strategy['lastRebalanced'] %> ago</p>
<div class="row justify-content-center mb-3">
  <div class="col-md-6 col-lg-4 text-center">
    <% if (multiplied = Asset.where(:multiplier.ne => nil)).count > 0 %>
      <div class="mb-3">
        <% multiplied.each { |asset| %>
        <a target="_blank" href="https://www.iconomi.com/asset/<%=asset.ticker%>" class="badge badge-primary">
          <%=asset.name%> (<%=asset.ticker%>)
          <%=asset.multiplier == asset.multiplier.to_i ? asset.multiplier.to_i : asset.multiplier%>x
        </a>
        <% } %>
      </div>
    <% end %>
    <% form_tag '', :method => 'get' do %>
      <label>Number of assets</label>
      <div class="range-slider">
        <input name="assets" class="range-slider__range" type="range" value="<%=assets%>" min="1" max="20" step="1" onchange="$(this.form).submit()">
        <span class="range-slider__value">0</span>
      </div>
    <% end %>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto">
    <table class="table" style="width: auto">
      <thead>
        <tr>
          <th></th>
          <th>Asset</th>
          <th></th>
          <th>Current weight</th>
          <th>Proposed weight</th>
        </tr>
      </thead>
      <% (proposed.keys + actual.keys.reject { |k| proposed.keys.include?(k) }).each { |k| %>
      <% asset = Asset.find_by(ticker: k) %>
      <tr>
        <td style="vertical-align: middle; text-align: right">
          <% if actual[k] %>
            <% d = actual[k] - rebalanced[k] %>
            <% if d < 0 %>
              <div class="d-none d-sm-inline-block" style="height: 1rem; background: <%= if d > 0; 'green'; elsif d < 0; 'red'; end %>; width: <%="#{-d*y}px"%>"></div>
            <% end %>
          <% end %>
        </td>
        <td class="assetName" style="white-space: nowrap;">
          <a target="_blank" href="https://www.iconomi.com/asset/<%=k%>">
            <%= asset.name %> (<%= k %>)
          </a>
          <% if asset.multiplier %>
            <span class="badge badge-primary"><%=asset.multiplier == asset.multiplier.to_i ? asset.multiplier.to_i : asset.multiplier%>x</span>
          <% end %>
        </td>
        <td style="vertical-align: middle">
          <% if actual[k] %>
            <% d = actual[k] - rebalanced[k] %>
            <% if d > 0 %>
              <div class="d-none d-sm-inline-block" style="display: inline-block; height: 1rem; background: <%= if d > 0; 'green'; elsif d < 0; 'red'; end %>; width: <%="#{d*y}px"%>"></div>
            <% end %>
          <% end %>
        </td>
        <td class="actual" style="white-space: nowrap;">
          <% if actual[k] %>
            <%= number_to_percentage (actual[k]*100), precision: 2 %>
            <% d = actual[k] - rebalanced[k] %>
            <small>
              <span style="color: <%= if d > 0; 'green'; elsif d < 0; 'red'; end %>">
                <%= '+' if d > 0 %><%=(d*10000).round%>
              </span>
            </small>
          <% end %>
        </td>
        <td>
          <% if proposed.keys.include?(k) %>
            <%= number_to_percentage (proposed[k]*100), precision: 2 %>
          <% end %>
        </td>
      </tr>
      <% } %>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <%= number_to_percentage (actual.map { |_k,v| v }.sum*100), precision: 2 %>
          </th>
          <th>
            <%= number_to_percentage (proposed.map { |_k,v| v }.sum*100), precision: 2 %>
          </th>
        </tr>
      </tfoot>
    </table>
    <style>
      @media(min-width: 768px) {
      td.assetName { width: 1px; }
      td.actual { width: 1px; padding-left: 0; padding-right: 0; }
      }
    </style>
  </div>
</div>
