<% if !params[:i] %>
  <div class="row justify-content-center mb-5">
    <div class="col-10 col-sm-4">
      <a target="_blank" href="https://amzn.to/30ZIpxw"><img class="w-100" src="/images/tao.jpg"/></a>
    </div>
  </div>
<% end %>

<% (params[:i] ? Verse.all(filter: "{Verse} = #{params[:i]}", sort: { 'Verse' => 'asc'}) : Verse.all(sort: { 'Verse' => 'asc'})).each_with_index { |verse,i| next if !verse['Images'] %>
<div class="row" <% unless params[:i] %>style="margin-bottom: 10rem"<% end %>>
  <div class="col-sm-9 order-sm-2 mb-3">
    <a href="/tao-te-ching/<%=verse['Verse']%>"><img src="<%= verse['Images'].first['thumbnails']['full']['url'] %>" class="w-100"></a>
  </div>
  <div class="col-sm-3 order-sm-1 mb-3" style="white-space: nowrap; z-index: 99">
    <h2 class="mb-3 regular">
      <a style="background: white" class="text-dark" href="/tao-te-ching/<%=verse['Verse']%>">Verse <%=verse['Verse']%></a>
    </h2>
    <div>
      <span style="background: white">
        <%= md(verse['Text']).gsub('<p>','').gsub('</p>','').gsub('  ','&nbsp;&nbsp;&nbsp;&nbsp;').gsub("\n\n","&nbsp;<br />#{4.times.map { '&nbsp;' }.join}<br />").gsub("\n",'&nbsp;<br />') %>
        &nbsp;
      </span>
    </div>
  </div>
</div>
<% } %>
<% if params[:i] %>
  <div class="row justify-content-between">
    <div class="col-auto">
      <% if params[:i].to_i == 1 %>
        <a href="/tao-te-ching" class="card text-center shadow-sm mb-1">
          <div class="card-body py-1 px-3">
            All chapters
          </div>
        </a>
      <% else %>
        <a href="/tao-te-ching/<%=params[:i].to_i - 1 %>" class="card text-center shadow-sm mb-1">
          <div class="card-body py-1 px-3">
            <span class="text-dark">&lArr;</span>
            Verse <%=params[:i].to_i - 1 %>
          </div>
        </a>
      <% end %>
    </div>
    <div class="col-auto">
      <% if params[:i].to_i == Verse.all(sort: { 'Verse' => 'desc'}).first['Verse'].to_i %>
        <a href="/tao-te-ching" class="card text-center shadow-sm mb-1">
          <div class="card-body py-1 px-3">
            All chapters
          </div>
        </a>
      <% else %>
        <a href="/tao-te-ching/<%=params[:i].to_i + 1 %>" class="card text-center shadow-sm mb-1">
          <div class="card-body py-1 px-3">
            Verse <%=params[:i].to_i + 1 %>
            <span class="text-dark">&rArr;</span>
          </div>
        </a>
      <% end %>
    </div>
  </div>
<% end %>


<% if params[:i] %>
  <style>
    .grid-sizer, .grid-item {  width: 100% }
    @media(min-width: 768px) {
      .grid-sizer, .grid-item {  width: 25% }
    }
    .grid-item img { padding: 0.1rem }
  </style>
  <script>
    $(window).on('load', function () {
      $('.grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-sizer',
        percentPosition: true
      })
      $('.grid').animate({opacity: 1});
    })
  </script>
  <div class="grid mt-5" style="opacity: 0">
    <% Verse.all(sort: { 'Verse' => 'asc'}).shuffle.each { |verse| next if verse['Verse'] == params[:i].to_i || !verse['Images'] %>
    <div class="grid-sizer"></div>
    <a class="grid-item" href="/tao-te-ching/<%=verse['Verse']%>">
      <img class="w-100" src="<%= verse['Images'].first['thumbnails']['large']['url']%>" />
    </a>
    <% } %>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-10 col-sm-4">
      <a href="/tao-te-ching"><img class="w-100" src="/images/tao.jpg"/></a>
    </div>
  </div>
<% end %>
