<style>
  img.tarot-card-preview { height: 183px; max-width: 100px }
  img.tarot-card-preview:hover { opacity: 1 !important }
</style>

<% tarot_suits = TarotSuit.all %>
<% tarot_numbers = TarotNumber.all %>
<% tarot_cards = TarotCard.all %>

<script>
  $(function () {
    $('#cards').stickyTableHeaders()
  })
</script>

<table class="table" id="cards">
  <thead class="bg-white">
    <tr>
      <th>number</th>
      <th>major arcana</th>
      <% TarotSuit.suits.each { |suit_name| %>
      <th>
        <% if (t = tarot_suits.find { |tarot_suit| tarot_suit['Name'] == suit_name }) %>
          <%= partial :tarot_card, locals: { t: t } %>
        <% end %>
        <i data-toggle="tooltip" title="<%= TarotSuit.icons[suit_name.to_sym][0] %>" class="fas fa-<%= TarotSuit.icons[suit_name.to_sym][1] %>"></i>
      </th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% TarotNumber.numbers.each_with_index { |n,i| %>
    <tr>
      <th>
        <% if (t = tarot_numbers.find { |tarot_number| tarot_number['Name'] == n }) %>
          <% if t['URL'] %>
            <%= partial :tarot_card, locals: { t: t, title: "#{t['Name']} #{TarotNumber.numerals[i]}" } %>
          <% else %>
            <%= t['Name'] %> <%= TarotNumber.numerals[i] %>
          <% end %>
        <% end; %>
        <% case n; when 'page/eleven' %>
        <i data-toggle="tooltip" title="air" class="fas fa-cloud"></i>
        <% when 'knight/twelve' %>
        <i data-toggle="tooltip" title="fire" class="fas fa-fire"></i>
        <% when 'queen/thirteen' %>
        <i data-toggle="tooltip" title="water" class="fas fa-tint"></i>
        <% when 'king/fourteen' %>
        <i data-toggle="tooltip" title="earth" class="fas fa-globe"></i>
      <% end %>
    </th>
    <td>
      <% if (t = tarot_cards.find { |tarot_card| tarot_card['Tarot suit name'].blank? && tarot_card['Tarot number name'] == [n] }) %>
        <%= partial :tarot_card, locals: { t: t } %>
      <% end %>
    </td>
    <% TarotSuit.suits.each { |suit_name| %>
    <td>
      <% if (t = tarot_cards.find { |tarot_card| tarot_card['Tarot suit name'] == [suit_name] && tarot_card['Tarot number name'] == [n] }) %>
        <%= partial :tarot_card, locals: { t: t } %>
      <% end %>
    </td>
    <% } %>
  </tr>
  <% } %>
</tbody>
</table>
<h2 class="mt-5 mb-5" id="products">Recommended decks</h2>
<%= partial :products, locals: { products: Product.all(filter: "{Category} = 'Tarot'", sort: { 'Order' => 'asc' }) } %>
