<% if current_account %>
  <style>
    a.not-described { opacity: 0.3 }
  </style>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><a target="_blank" href="https://teachmetarot.com/numerology-destiny-number/">number</a></th>
      <th><a target="_blank" href="https://teachmetarot.com/part-iii-major-arcana/">major arcana</a></th>
      <% TarotSuit.suits.each { |suit_name| %>
        <th>
          <% begin %>
            <% if t = TarotSuit.find_by(name: suit_name) %>
              <a class="<% if t.description%>described<% else %>not-described<% end%>" target="_blank" href="<%=t.teachmetarot_url%>"><%=t.name%></a>
              <% if current_account %>
                <a class="<% if t.description%>described<% else %>not-described<% end%>" target="_blank"  href="<%="/admin/edit/TarotSuit/#{t.id}"%>"><i class="fas fa-edit"></i></a>
              <% end %>
            <% end; rescue; end %>
          <i data-toggle="tooltip" title="<%= TarotSuit.icons[suit_name.to_sym][0] %>" class="fas fa-<%= TarotSuit.icons[suit_name.to_sym][1] %>"></i>                    
        </th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% TarotNumber.numbers.each_with_index { |n,i| %>
      <tr>
        <th>
          <% begin %>
            <% if t = TarotNumber.find_by(name: n) %>
              <% if t.teachmetarot_url %>
                <a class="<% if t.description%>described<% else %>not-described<% end%>" target="_blank" href="<%=t.teachmetarot_url%>"><%=t.name%> <%=TarotNumber.numerals[i]%></a>
                <% if current_account %>
                  <a class="<% if t.description%>described<% else %>not-described<% end%>" target="_blank"  href="<%="/admin/edit/TarotNumber/#{t.id}"%>"><i class="fas fa-edit"></i></a>
                <% end %>          
              <% else %>
                <%=t.name%> <%=TarotNumber.numerals[i]%>
              <% end %>
            <% end; rescue; end %>                    
          <% case n; when 'page/eleven' %>
            <i data-toggle="tooltip" title="air" class="fas fa-cloud"></i>                    
          <% when 'knight/twelve' %>
            <i data-toggle="tooltip" title="fire" class="fas fa-fire"></i>                    
          <% when 'queen/thirteen' %>
            <i data-toggle="tooltip" title="water" class="fas fa-tint"></i>                    
          <% when 'king/fourteen' %>
            <i data-toggle="tooltip" title="earth" class="fas fa-globe"></i>                    
          <% end %>
        </th>
        <td>
          <% begin %>
            <% if t = TarotCard.find_by(tarot_suit: nil, tarot_number: TarotNumber.find_by(name: n)) %>
              <a class="<% if t.description%>described<% else %>not-described<% end%>" target="_blank" href="<%=t.teachmetarot_url%>"><%=t.name%> <%=TarotNumber.numerals[i]%></a>
              <% if current_account %>
                <a class="<% if t.description%>described<% else %>not-described<% end%>" target="_blank"  href="<%="/admin/edit/TarotCard/#{t.id}"%>"><i class="fas fa-edit"></i></a>
              <% end %>                    
            <% end; rescue; end %>
        </td>
        <% TarotSuit.suits.each { |suit_name| %>
          <td>
            <% begin %>
              <% if t = TarotCard.find_by(tarot_suit: TarotSuit.find_by(name: suit_name), tarot_number: TarotNumber.find_by(name: n)) %>
                <a class="<% if t.description%>described<% else %>not-described<% end%>" target="_blank" href="<%=t.teachmetarot_url%>"><%=t.name%> <%=TarotNumber.numerals[i]%></a>
                <% if current_account %>
                  <a class="<% if t.description%>described<% else %>not-described<% end%>" target="_blank"  href="<%="/admin/edit/TarotCard/#{t.id}"%>"><i class="fas fa-edit"></i></a>
                  <% end %>                                
                <% end; rescue; end %>
          </td>
        <% } %>
      </tr>
    <% } %>
  </tbody>
</table>