<p class="lead my-3">I plan to add an original interpretation for every card.</p>

<% if current_account %>
  <style>
    a.not-described { opacity: 0.3 }
  </style>
<% end %>


<style>
  #cards img { max-width: 100px }
  #cards img:hover { opacity: 1 !important } 
</style>

<table class="table" id="cards">
  <thead>
    <tr>
      <th>number</th>
      <th>major arcana</th>
      <% TarotSuit.suits.each { |suit_name| %>
        <th>
          <% begin %>
            <% if t = TarotSuit.find_by(name: suit_name) %>
              <%= partial :tarot_card, :locals => {:t => t} %>
            <% end; rescue; end %>
          <i data-toggle="tooltip" title="<%= TarotSuit.icons[suit_name.to_sym][0] %>" class="fas fa-<%= TarotSuit.icons[suit_name.to_sym][1] %>"></i>                    
        </th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% TarotNumber.numbers.each_with_index { |n,i| %>
      <tr>
        <th>
          <% begin %>
            <% if t = TarotNumber.find_by(name: n) %>
              <% if t.teachmetarot_url %>
                <%= partial :tarot_card, :locals => {:t => t, :text => "#{t.name} #{TarotNumber.numerals[i]}"} %>
              <% else %>
                <%=t.name%> <%=TarotNumber.numerals[i]%>
              <% end %>
            <% end; rescue; end %>                    
          <% case n; when 'page/eleven' %>
            <i data-toggle="tooltip" title="air" class="fas fa-cloud"></i>                    
          <% when 'knight/twelve' %>
            <i data-toggle="tooltip" title="fire" class="fas fa-fire"></i>                    
          <% when 'queen/thirteen' %>
            <i data-toggle="tooltip" title="water" class="fas fa-tint"></i>                    
          <% when 'king/fourteen' %>
            <i data-toggle="tooltip" title="earth" class="fas fa-globe"></i>                    
          <% end %>
        </th>
        <td>
          <% begin %>
            <% if t = TarotCard.find_by(tarot_suit: nil, tarot_number: TarotNumber.find_by(name: n)) %>
              <%= partial :tarot_card, :locals => {:t => t} %>                 
            <% end; rescue; end %>
        </td>
        <% TarotSuit.suits.each { |suit_name| %>
          <td>
            <% begin %>
              <% if t = TarotCard.find_by(tarot_suit: TarotSuit.find_by(name: suit_name), tarot_number: TarotNumber.find_by(name: n)) %>
                <%= partial :tarot_card, :locals => {:t => t} %>                               
              <% end; rescue; end %>
          </td>
        <% } %>
      </tr>
    <% } %>
  </tbody>
</table>