<p class="lead my-3">
  My notes on the Rider Waite (Smith) tarot deck
</p>

<style>
  #cards img { max-width: 100px }
  #cards img:hover { opacity: 1 !important } 
</style>

<table class="table" id="cards">
  <thead>
    <tr>
      <th>number</th>
      <th>major arcana</th>
      <% TarotSuit.suits.each { |suit_name| %>
        <th>
          <% if (t = TarotSuit.all(filter: "{Name} = '#{suit_name}'").first) %>
            <%= partial :tarot_card, :locals => {:t => t} %>
          <% end %>
          <i data-toggle="tooltip" title="<%= TarotSuit.icons[suit_name.to_sym][0] %>" class="fas fa-<%= TarotSuit.icons[suit_name.to_sym][1] %>"></i>                    
        </th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% TarotNumber.numbers.each_with_index { |n,i| %>
      <tr>
        <th>
          <% if (t = TarotNumber.all(filter: "{Name} = '#{n}'").first) %>
            <% if t['URL'] %>
              <%= partial :tarot_card, :locals => {:t => t, :title => "#{t['Name']} #{TarotNumber.numerals[i]}"} %>
            <% else %>
              <%=t['Name']%> <%=TarotNumber.numerals[i]%>
            <% end %>
          <% end; %>                    
          <% case n; when 'page/eleven' %>
            <i data-toggle="tooltip" title="air" class="fas fa-cloud"></i>                    
          <% when 'knight/twelve' %>
            <i data-toggle="tooltip" title="fire" class="fas fa-fire"></i>                    
          <% when 'queen/thirteen' %>
            <i data-toggle="tooltip" title="water" class="fas fa-tint"></i>                    
          <% when 'king/fourteen' %>
            <i data-toggle="tooltip" title="earth" class="fas fa-globe"></i>                    
          <% end %>
        </th>
        <td>
          <% if (t = TarotCard.all(filter: "AND({Tarot suit} = '', {Tarot number} = '#{n}')").first) %>
            <%= partial :tarot_card, :locals => {:t => t} %>                 
          <% end %>
        </td>
        <% TarotSuit.suits.each { |suit_name| %>
          <td>
            <% if (t = TarotCard.all(filter: "AND({Tarot suit} = '#{suit_name}', {Tarot number} = '#{n}')").first) %>
              <%= partial :tarot_card, :locals => {:t => t} %>                               
            <% end %>
          </td>
        <% } %>
      </tr>
    <% } %>
  </tbody>
</table>

<h2 class="mt-5 mb-5" id="products">Recommended decks</h2>

<%= partial :products, :locals => {:products => Product.all(filter: "{Category} = 'Tarot'", sort: {'Order' => 'asc'})} %>