<table class="table">
  <thead>
    <tr>
      <th><a target="_blank" href="https://teachmetarot.com/numerology-destiny-number/">number</a></th>
      <th><a target="_blank" href="https://teachmetarot.com/part-iii-major-arcana/">major arcana</a></th>
      <% TarotSuit.suits.each { |suit_name| %>
        <th>
          <% begin %>
            <% if t = TarotSuit.find_by(name: suit_name) %>
              <a target="_blank" href="<%=t.teachmetarot_url%>"><%=t.name%></a>
            <% end; rescue; end %>
          <i data-toggle="tooltip" title="<%= TarotSuit.icons[suit_name.to_sym][0] %>" class="fas fa-<%= TarotSuit.icons[suit_name.to_sym][1] %>"></i>                    
        </th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% TarotNumber.numbers.each_with_index { |n,i| %>
      <tr>
        <th>
          <% begin %>
            <% if t = TarotNumber.find_by(name: n) %>
              <a target="_blank" href="<%=t.teachmetarot_url%>"><%=t.name%></a>
            <% end; rescue; end %>                    
        </th>
        <td>
          <% begin %>
            <% if t = TarotCard.find_by(tarot_suit: nil, tarot_number: TarotNumber.find_by(name: n)) %>
              <a target="_blank" href="<%=t.teachmetarot_url%>"><%=t.name%></a>
            <% end; rescue; end %>
        </td>
        <% TarotSuit.suits.each { |suit_name| %>
          <td>
            <% begin %>
              <% if t = TarotCard.find_by(tarot_suit: TarotSuit.find_by(name: suit_name), tarot_number: TarotNumber.find_by(name: n)) %>
                <a target="_blank" href="<%=t.teachmetarot_url%>"><%=t.name%></a>
              <% end; rescue; end %>
          </td>
        <% } %>
      </tr>
    <% } %>
  </tbody>
</table>