<%= ul_nav (
  %w[6h 24h 7d].map { |timeframe| ["#{timeframe} likes", "/tweets/#{timeframe}/likes"] } +
  %w[6h 24h 7d].map { |timeframe| ["#{timeframe} retweets", "/tweets/#{timeframe}/retweets"] }),
           ul_class: 'nav nav-tabs mb-3',
           li_class: 'nav-item',
           li_active_class: nil,
           a_class: 'nav-link',
           a_active_class: 'active',
           ul_id: 'coins-ul',
           generate_subnav_href_and_ul: false %>

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <% @tweets.each { |tweet| %>
    <% if tweet.data['text'].starts_with?('RT @') %>
      <a class="text-body" target="_blank" href="https://twitter.com/<%=tweet.data['user']['username']%>/status/<%=tweet.data['id']%>">
        <i class="fa fa-retweet"></i> <%=tweet.data['user']['name']%> retweeted
      </a>
    <% end %>
    <%= tweet.update_attribute(:html, tweet.get_html) if tweet.html.blank?; tweet.html %>
    <hr />
    <% } %>
  </div>
</div>
