<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% {            
      'jquery/3.2.0' => 'jquery.min.js',
      'popper.js/1.11.0' => 'umd/popper.min.js',
      'twitter-bootstrap/4.0.0-beta' => 'js/bootstrap.min.js',
      'select2/3.5.2' => 'select2.min.js select2.min.css',
      'codemirror/5.0.0' => 'codemirror.min.css theme/monokai.min.css codemirror.min.js mode/xml/xml.min.js',
      'summernote/0.6.1' => 'summernote.min.css summernote.min.js',
      'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',      
      'Chart.js/2.7.0' => 'Chart.bundle.min.js'
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <% [
      '/stylesheets/share.css',
      "/stylesheets/app.css?#{Time.now.to_i}",
      ].each { |f| %> 
      <link rel="stylesheet" href="<%=f%>" />    
    <% } %>

    <% [
      "//maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_MAPS_API_KEY']}",
      '//cdn.rawgit.com/mahnunchik/markerclustererplus/736b0e3a7d916fbeb2ee5007494f17a5329b11a8/src/markerclusterer.js',
      '//cdn.rawgit.com/wordsandwriting/activate-tools/f39002fcc10a9a554c651543b3065847130c2811/js/jquery.geopicker.js',      
      '//use.fontawesome.com/releases/v5.0.6/js/all.js',
      '//cdn.rawgit.com/davidshimjs/qrcodejs/06c7a5e134f116402699f03cda5819e10a0e5787/qrcode.min.js',
      "/javascripts/app.js?#{Time.now.to_i}"
      ].each { |f| %>
      <script src="<%=f%>"></script>
    <% } %>  

    <%= favicon_tag 'favicon.png' %>
    <title><%=@title%></title>
    <meta name="description" content="<%=@og_desc%>">
    <meta property="og:title" content="<%=@title%>" />
    <meta property="og:image" content="<%=@og_image%>" />

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=619967114806800";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>    

    <div class="container">

      <%= partial :alert %>  


      <style>
        @media(min-width: 768px) {
          #sidebar { position: sticky; top: 1rem }
        }
      </style>

      <div class="row justify-content-center">

        <div class="col-auto">

          <div id="sidebar">

            <h1 style="font-size: 2em" class="mt-2 mb-0 font-weight-bold">Stephen Reid</h1>

            <img src="/images/me-square.png" class="rounded-circle my-3" style="max-width: 200px; width: 100%" />

            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-envelope"></i></span> <a data-toggle="tooltip" title="Email" target="_blank" href="mailto:stephen@stephenreid.net">stephen@stephenreid.net</a></li>              
              <li><span class="fa-li"><i class="fab fa-facebook-square"></i></span> <a data-toggle="tooltip" title="Facebook" target="_blank" href="http://facebook.com/stephenreid.0">/stephenreid.0</a></li>              
              <li><span class="fa-li"><i class="fab fa-twitter"></i></span> <a data-toggle="tooltip" title="Twitter" target="_blank" href="http://twitter.com/stephenreid_">@stephenreid_</a></li>
              <li><span class="fa-li"><i class="fab fa-github"></i></span> <a data-toggle="tooltip" title="Github" target="_blank" href="http://github.com/wordsandwriting">wordsandwriting</a></li>  
              <li><span class="fa-li"><i class="fab fa-soundcloud"></i></span> <a data-toggle="tooltip" title="Soundcloud" target="_blank" href="http://soundcloud.com/wordsandwriting">wordsandwriting</a></li>
              <li><span class="fa-li"><i class="fab fa-medium"></i></span> <a data-toggle="tooltip" title="Medium" target="_blank" href="https://medium.com/@stephenreid_/">@stephenreid_</a></li>
              <li><span class="fa-li"><i class="fas fa-book"></i></span> <a data-toggle="tooltip" title="Goodreads" target="_blank" href="http://goodreads.com/stephenreid_">stephenreid_</a></li>
              <li><span class="fa-li"><i class="fab fa-ethereum"></i></span> <a data-toggle="tooltip" title="Ethereum" target="_blank" href="https://etherscan.io/address/stephenreid.eth">stephenreid.eth</a></li>
            </ul>

            <script>
              $(function () {
                new QRCode('qrcode', {text: '<%=@eth%>', width: 200, height: 200});
                if (typeof web3 !== 'undefined') {
                  $('#send-eth').show()
                }
              });
            </script>            
            <a href="javascript:;" onclick="$(this).hide().next().show()"><small>Show ETH address as a QR code</small></a>
            <div id="qrcode" style="display: none; width: 200px;"></div>
            <% form_tag '', :id => 'send-eth', :onsubmit => %Q{web3.eth.sendTransaction({to:'#{@eth}', value: web3.toWei($('input[name=amount]', this).val(), 'ether')}, function(error, transactionHash) { }); return false}, :class => 'my-3 form-inline', :style => 'display: none' do %>
              Send <%= text_field_tag :amount, :class => 'mx-1 form-control', :style => 'width: 3.5rem', :value => '0.01' %> <span style="font-variant: all-small-caps">ETH</span> <%= submit_tag 'Send', :class => 'ml-1 btn btn-primary btn-sm' %>
            <% end %>

            <div class="mb-1">
              <div class="fb-follow" data-href="https://www.facebook.com/stephenreid.0" data-layout="button" data-size="small" data-show-faces="true"></div>
            </div>
            <div>
              <a href="https://twitter.com/stephenreid_" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @stephenreid_</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div>
              <a class="github-button" href="https://github.com/wordsandwriting" aria-label="Follow @wordsandwriting on GitHub">Follow</a>            
            </div>                

          </div>

        </div>

        <div class="col-md">

          <script>
              $(function () {
                $('.place').hover(function () {
                  $('.bgo', this).hide()
                }, function () {
                  $('.bgo', this).show()
                })

                $("#nav a[href^=http]").attr('target', '_blank')
              })
          </script>       

          <div id="nav" class="mt-2">
            <%= ul_nav [
              ['Bio', '/'],
              ['Places', '/places'],
              ['Aspirations', '/aspirations'],
              ['Music', '/music'],       
              ['Books <i class="fas fa-external-link-alt"></i>', 'http://goodreads.com/stephenreid_'],
              ['Google Maps reviews <i class="fas fa-external-link-alt"></i>', 'https://www.google.co.uk/maps/contrib/102982136084858811312/reviews/'],
              ['Blog <i class="fas fa-external-link-alt"></i>', 'https://medium.com/@stephenreid_']
              ], ul_class: 'nav nav-pills mb-2', li_class: 'nav-item', a_class: 'nav-link' %>
          </div>

          <%= yield %>

        </div>

      </div>      

    </div>

  </body>
</html>
