<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% {            
      'jquery/3.2.0' => 'jquery.min.js',
      'jqueryui/1.12.1' => 'jquery-ui.min.js',
      'popper.js/1.11.0' => 'umd/popper.min.js',
      'twitter-bootstrap/4.0.0-beta' => 'js/bootstrap.min.js',
      'select2/3.5.2' => 'select2.min.js select2.min.css',
      'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',      
      'Chart.js/2.7.0' => 'Chart.bundle.min.js',
      'js-cookie/2.2.1' => 'js.cookie.min.js'
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <% [
      '/stylesheets/share.css',
      "/stylesheets/app.css?#{Time.now.to_i}",
      ].each { |f| %> 
      <link rel="stylesheet" href="<%=f%>" />    
    <% } %>

    <% [
      "//maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_MAPS_API_KEY']}",
      '//cdn.rawgit.com/mahnunchik/markerclustererplus/736b0e3a7d916fbeb2ee5007494f17a5329b11a8/src/markerclusterer.js',
      '//cdn.rawgit.com/wordsandwriting/activate-tools/f39002fcc10a9a554c651543b3065847130c2811/js/jquery.geopicker.js',      
      '//use.fontawesome.com/releases/v5.9.0/js/all.js',
      '//cdn.rawgit.com/davidshimjs/qrcodejs/06c7a5e134f116402699f03cda5819e10a0e5787/qrcode.min.js',
      "//cdn.rawgit.com/wordsandwriting/activate-tools/7a73525b76c8234a4803e3196b4403ec6fd6ded7/js/textboxio/textboxio.js",
      "/javascripts/app.js?#{Time.now.to_i}"
      ].each { |f| %>
      <script src="<%=f%>"></script>
    <% } %>  

    <%= favicon_tag 's.png' %>
    <title><%=if @title; "#{@title} · Stephen Reid"; else; "Stephen Reid"; end %></title>
    <meta name="description" content="<%=@og_desc%>">
    <meta property="og:image" content="<%=@og_image%>" />
    <link rel="alternate" type="application/atom+xml" title="Stephen Reid" href="/feed.rss" />
    <link rel="alternate" type="application/atom+xml" title="Stephen Reid's blog posts" href="/blog/feed.rss" />

    <script async defer src="https://buttons.github.io/buttons.js"></script>

  </head>
  <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          xfbml: true,
          version: 'v4.0'
        });
      };

      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="105831657509934"
         logged_in_greeting="Thanks for visiting! You can message me here, or email stephen@stephenreid.net"
         logged_out_greeting="Thanks for visiting! You can message me here, or email stephen@stephenreid.net"
         greeting_dialog_display="hide"
         >
    </div>    

    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=619967114806800";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>    

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1498399346894704&autoLogAppEvents=1"></script>

    <div class="mb-4 shadow-sm">      
      <%= partial :nav %>      
    </div>

    <div class="container">
      <%= partial :alert %>       
      <%= yield %>
    </div> 


    <div class="bg-dark p-3 mt-5">
      <div class="container">

        <div class="row justify-content-center mb-3">
          <div class="col-sm-auto text-center">
            <a target="_blank" class="btn btn-primary" href="https://stephenreid.substack.com/">Subscribe to my newsletter</a>
          </div>          
        </div>

        <div class="row justify-content-center">        
          <%= partial :social_networks %>        
        </div>   

        <div class="text-center mt-3">
          <span class="text-muted mr-3">View source</span>
          <a class="mr-3" target="_blank" href="https://airtable.com/shrpW8bgHdF9jMuPV"><img src="/images/airtable.png" style="height: 20px"> Airtable</a>
          <a target="_blank" href="https://github.com/stephenreid321/stephenreid"><i class="text-white fab fa-github"></i> Github</a>
        </div>

      </div>
    </div>

    <script>
      $(function () {
        if (!Cookies.get('shownModal')) {
          setTimeout(function () {
            $('#modal').modal('show')
            Cookies.set('shownModal', true)
          }, 10000)
        }
      })
    </script>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Let's stay in touch!</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>          
          </div>
          <div class="modal-body">
            <p class="lead">
              Join 1,200+ others receiving my monthly newsletter:
            </p>  

            <iframe width="100%" height="200" src="https://stephenreid.substack.com/embed" frameborder="0" scrolling="no"></iframe>

            <p>
              You can also
              <a target="_blank" href="https://facebook.com/stephenreid.net">follow me on Facebook</a>
              and
              <a target="_blank" href="https://t.me/stephenreid">join the Telegram channel</a>.
            </p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->  

  </body>
</html>
