<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% {            
      'jquery/3.2.0' => 'jquery.min.js',
      'popper.js/1.11.0' => 'umd/popper.min.js',
      'twitter-bootstrap/4.0.0-beta' => 'js/bootstrap.min.js',
      'select2/3.5.2' => 'select2.min.js select2.min.css',
      'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',      
      'Chart.js/2.7.0' => 'Chart.bundle.min.js'
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <% [
      '/stylesheets/share.css',
      "/stylesheets/app.css?#{Time.now.to_i}",
      ].each { |f| %> 
      <link rel="stylesheet" href="<%=f%>" />    
    <% } %>

    <% [
      "//maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_MAPS_API_KEY']}",
      '//cdn.rawgit.com/mahnunchik/markerclustererplus/736b0e3a7d916fbeb2ee5007494f17a5329b11a8/src/markerclusterer.js',
      '//cdn.rawgit.com/wordsandwriting/activate-tools/f39002fcc10a9a554c651543b3065847130c2811/js/jquery.geopicker.js',      
      '//use.fontawesome.com/releases/v5.0.6/js/all.js',
      '//cdn.rawgit.com/davidshimjs/qrcodejs/06c7a5e134f116402699f03cda5819e10a0e5787/qrcode.min.js',
      "//cdn.rawgit.com/wordsandwriting/activate-tools/7a73525b76c8234a4803e3196b4403ec6fd6ded7/js/textboxio/textboxio.js",
      "/javascripts/app.js?#{Time.now.to_i}"
      ].each { |f| %>
      <script src="<%=f%>"></script>
    <% } %>  

    <%= favicon_tag 'favicon.png' %>
    <title><%=if @title; "#{@title} · Stephen Reid"; else; "Stephen Reid"; end %></title>
    <meta name="description" content="<%=@og_desc%>">
    <meta property="og:image" content="<%=@og_image%>" />

    <script async defer src="https://buttons.github.io/buttons.js"></script>

  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=619967114806800";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>    

    <div class="container">

      <%= partial :alert %>  

      <style>
        #title {
          font-size: 3rem;
          font-family: 'zilap_marineregular';
        }
        @media(min-width: 768px) {
          #title {
            font-size: 6rem;
          }
        }    
      </style>
      <div style="text-align: center">
        <h1 id="title" style="display: inline-block;" class="rainbow mt-2 mb-0">
          <a style="text-decoration: none" href="/">
            STEPHEN<span style="font-family: sans-serif"> </span>Reid
          </a>
        </h1>
      </div>


      <div id="key-info" class="my-2 text-center">
        <a class="btn btn-outline-primary" href="mailto:stephen@stephenreid.net"><i class="fas fa-envelope"></i> stephen@stephenreid.net</a>        
        <div class="d-block d-sm-inline-block mt-1 mt-sm-0">
          <a class="btn btn-outline-primary" target="_blank" href="http://facebook.com/stephenreid321"><i class="fab fa-facebook-square"></i> Follow me on Facebook</a>
        </div>
      </div>      

      <div class="container">
        <%= partial :nav %>
      </div>      

      <div style="display: none">
        <%= partial :qr %>
      </div>

      <div class="mt-2">
        <%= yield %>
      </div>

      <hr />

      <div class="row justify-content-center my-3">        
        <%= partial :icons %>        
      </div>     

      <% unless request.path == '/' %>        
        <div class="row justify-content-center my-3">
          <div class="col-sm-auto">
            <h4 class="text-center">Join my mailing list</h4>
            <%= partial :mailing_list %>          
          </div>          
        </div>
      <% end %>



    </div>      



  </body>
</html>
