<!doctype html>
<html lang="en">
  <head>
    <% if Padrino.env == :production %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151445443-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-151445443-1');
      </script>
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if request.path == '/svenska' %>
      <meta name="referrer" content="no-referrer">
    <% end %>

    <link rel="preload" href="/fonts/overpass-font/stylesheet.css" as="style">
    <link href="/fonts/overpass-font/stylesheet.css" rel="stylesheet">

    <link rel="preload" href="/fonts/ZilapEvolution/stylesheet.css" as="style">
    <link href="/fonts/ZilapEvolution/stylesheet.css" rel="stylesheet">

    <link rel="preload" href="/fonts/Fira_Mono/stylesheet.css" as="style">
    <link href="/fonts/Fira_Mono/stylesheet.css" rel="stylesheet">


    <% {
         'jquery/3.2.0' => 'jquery.min.js',
         'jqueryui/1.12.1' => 'jquery-ui.min.js',
         'popper.js/1.11.0' => 'umd/popper.min.js',
         'twitter-bootstrap/4.0.0-beta' => 'js/bootstrap.min.js',
         'select2/3.5.2' => 'select2.min.js select2.min.css',
         'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',
         'Chart.js/3.5.1' => 'chart.js',
         'js-cookie/2.2.1' => 'js.cookie.min.js',
         'cytoscape/3.9.4' => 'cytoscape.min.js',
         'chroma-js/2.0.6' => 'chroma.min.js',
         'lightgallery/1.7.2' => 'js/lightgallery.min.js css/lightgallery.min.css',
         'lg-thumbnail/1.2.1' => 'lg-thumbnail.min.js',
         'sticky-table-headers/0.1.24' => 'js/jquery.stickytableheaders.min.js',
         'datatables/1.10.16' => 'js/jquery.dataTables.min.js js/dataTables.bootstrap4.min.js css/dataTables.bootstrap4.min.css',
         'iframe-resizer/4.2.1' => 'iframeResizer.min.js',
         'date-fns/1.30.1' => 'date_fns.js',
       }.each { |k,v| %>
    <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
    <% case f.split('.').last.to_sym; when :js %>
    <script src="<%= u %>"></script>
    <% when :css %>
    <link rel="stylesheet" href="<%= u %>">
  <% end %>
  <% } %>
  <% } %>

  <% [
       "/stylesheets/#{@stylesheet}.css?#{@cachebuster}"
     ].each { |f| %>
  <link rel="stylesheet" href="<%= f %>">
  <% } %>

  <% [
       '//use.fontawesome.com/releases/v5.14.0/js/all.js',
       '//rawcdn.githack.com/davidshimjs/qrcodejs/06c7a5e134f116402699f03cda5819e10a0e5787/qrcode.min.js',
       '//rawcdn.githack.com/tgdwyer/WebCola/aab7e61cd9580c4c89180cc0a30594e12743a242/WebCola/cola.min.js',
       '//rawcdn.githack.com/cytoscape/cytoscape.js-cola/8c78f9d5c11ff6162b7d902f0639e1f787277b9f/cytoscape-cola.js',
       '//cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js',
       '//unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js',
       '/javascripts/toc.min.js',
       "/javascripts/pagelets.js?#{@cachebuster}",
       "/javascripts/app.js?#{@cachebuster}"
     ].each { |f| %>
  <script src="<%= f %>"></script>
  <% } %>

  <%= favicon_tag @favicon || 'lunarpunk_icon.png' %>
  <title><%= t = if @full_title
                   @full_title
                 elsif @title
                   "#{@title} · Stephen Reid"
                 else
                   'Stephen Reid'
                 end %></title>
    <meta property="og:title" content="<%= t %>">
    <meta name="description" content="<%= @og_desc %>">
    <meta property="og:image" content="<%= @og_image %>">

    <% if @og_image && @og_desc %>
      <meta name="twitter:title" content="<%= t %>">
      <meta name="twitter:description" content="<%= @og_desc %>">
      <meta name="twitter:image" content="<%= @og_image %>">
      <meta name="twitter:card" content="summary_large_image">
    <% end %>

    <link rel="alternate" type="application/atom+xml" title="Stephen Reid" href="/feed.rss">
    <link rel="alternate" type="application/atom+xml" title="Stephen Reid's blog posts" href="/blog/feed.xml">
  </head>
  <body>

    <div class="mb-4">
      <%= partial :nav %>
    </div>

    <div class="<%= @container_class || 'container' %>">
      <%= partial :alert %>
      <%= yield %>
    </div>

    <div id="footer" class="bg-dark p-3 mt-5">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-sm-auto text-center">
            <a target="_blank" class="btn btn-primary" href="https://stephenreid.substack.com/">Subscribe to my newsletter</a>
          </div>
        </div>
        <div class="row justify-content-center">
          <%= Padrino.env == :production ? cp('social_networks') : partial(:social_networks) %>
        </div>
        <div class="text-center mt-3">
          <span class="text-muted mr-3">View source</span>
          <a class="mr-3 text-muted" target="_blank" href="https://airtable.com/shrpW8bgHdF9jMuPV"><img src="/images/airtable.png" style="height: 20px"> Airtable</a>
          <a class="text-muted" target="_blank" href="https://github.com/stephenreid321/stephenreid"><i class="text-white fab fa-github"></i> Github</a>
        </div>
      </div>
    </div>

    <script>
      $(function () {
        if (!Cookies.get('shownModal')) {
          setTimeout(function () {
            $('#modal').modal('show')
            Cookies.set('shownModal', true, {expires: 90})
          }, 5000)
        }
      })
    </script>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Let's stay in touch!</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="lead">
              Join 1,700+ others receiving my regular newsletter:
            </p>
            <iframe width="100%" height="250" src="https://stephenreid.substack.com/embed" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </body>
</html>
