<!doctype html>
<html lang="en">
  <head>
    <%= partial :head %>
  </head>
  <body>

    <div class="mb-4">
      <%= partial :nav %>
    </div>

    <div class="<%= @container_class || 'container' %>">
      <%= partial :alert %>
      <%= yield %>
    </div>

    <div id="footer" class="bg-dark p-3 mt-3">
      <div class="container">
        <% unless @hide_subscribe %>
          <div class="row justify-content-center mb-3">
            <div class="col-lg-auto text-center">
              <a target="_blank" class="btn btn-primary" href="https://stephenreid.substack.com/">Subscribe on Substack</a>
            </div>
          </div>
        <% end %>
        <div class="row justify-content-center">
          <%= cp('social_networks') %>
        </div>
        <div class="text-center mt-3">
          <i class="text-white fab fa-github"></i>
          <a class="text-muted" target="_blank" href="https://github.com/stephenreid321/stephenreid">View source</a>
        </div>
      </div>
    </div>

    <% unless params[:no_modal] %>
      <script>
        $(function () {
          // $('#modal').modal('show')
          if (!Cookies.get('shownModal')) {
            setTimeout(function () {
              $('#modal').modal('show')
              Cookies.set('shownModal', true, {expires: 90})
            }, 5000)
          }
        })
      </script>
    <% end %>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p class="lead mt-3 text-center">
              Join 2400+ others receiving my regular newsletter:
            </p>
            <iframe width="100%" height="200" src="https://stephenreid.substack.com/embed" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </body>
</html>
