<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% {            
      'jquery/3.2.0' => 'jquery.min.js',
      'popper.js/1.11.0' => 'umd/popper.min.js',
      'twitter-bootstrap/4.0.0-beta' => 'js/bootstrap.min.js',
      'font-awesome/4.7.0' => 'css/font-awesome.min.css',
      'select2/3.5.2' => 'select2.min.js select2.min.css',
      'codemirror/5.0.0' => 'codemirror.min.css theme/monokai.min.css codemirror.min.js mode/xml/xml.min.js',
      'summernote/0.6.1' => 'summernote.min.css summernote.min.js',
      'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',      
      'Chart.js/2.7.0' => 'Chart.bundle.min.js',
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <% [
      '/stylesheets/share.css',
      "/stylesheets/app.css?#{Time.now.to_i}"
      ].each { |f| %> 
      <link rel="stylesheet" href="<%=f%>" />    
    <% } %>

    <% [
      "//maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_MAPS_API_KEY']}",
      '//cdn.rawgit.com/wordsandwriting/activate-tools/f39002fcc10a9a554c651543b3065847130c2811/js/jquery.geopicker.js',      
      "/javascripts/app.js?#{Time.now.to_i}"
      ].each { |f| %>
      <script src="<%=f%>"></script>
    <% } %>  

    <%= favicon_tag 'favicon.png' %>
    <title><%=@title%></title>
    <meta name="description" content="<%=@og_desc%>">
    <meta property="og:title" content="<%=@title%>" />
    <meta property="og:image" content="<%=@og_image%>" />

  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=619967114806800";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>    

    <div class="container">

      <%= partial :alert %>  
      <%= yield %>

    </div>

  </body>
</html>
