<div class="col-sm-8 mx-auto">
  <% form_tag '/auth/account/callback' do %>

    <div class="form-group">
      <label>Email</label>
      <%= text_field_tag :email, :value => params[:email], :class => 'form-control' %>
    </div>

    <div class="form-group">
      <label>Password</label>
      <%= password_field_tag :password, :value => params[:password], :class => 'form-control' %>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Sign in</button>
      <% if Account.method_defined?(:reset_password!) %>
        &middot; <a href="javascript:;" onclick="$('form[action$=callback]').hide();
            $('form[action$=forgot_password]').show();
            $('form[action$=forgot_password] input').focus();">Forgot your password?</a>
                  <% end %>
    </div>

    <a href="/sign_up" class="btn btn-primary">
      Not yet registered? Sign up here
    </a>   
  
  <% end %>

  <% form_tag '/accounts/forgot_password', :style => 'display: none' do %>

    <div class="form-group">
      <label>Email</label>
      <%= text_field_tag :email, :value => params[:email], :class => 'form-control' %>
    </div>

    <button class="btn btn-primary" type="submit">Reset password</button>

  <% end %>

  <% if !Provider.registered.empty? %>
    <p style="margin-top: 10px">If you've connected your account to an external service:</p>

    <p style="margin: 1em 0">
      <%  Provider.registered.each { |provider| %>                   
        <a class="btn btn-default" href="/auth/<%=provider.omniauth_name%>"><i class="fab fa-<%=provider.icon%>"></i> Sign in with <%=provider.display_name%></a>
      <% } %>
    </p> 
  <% end %>

</div>