<% coinship = @account.coinships.find_by(coin: coin) %>

<%= partial :'coins/coin_tr_intro', locals: { coin: coin, coinship: coinship } %>
<%= partial :'coins/coin_tr_predictions', locals: { coin: coin, coinship: coinship } %>
<%= partial :'coins/coin_tr_holding', locals: { coin: coin, coinship: coinship } %>
<%= partial :'coins/coin_tr_stats', locals: { coin: coin, coinship: coinship } %>
<% if current_account && current_account.id == @account.id %>
  <td>
    <a class="btn btn-sm btn-danger" href="javascript:;" onclick="$.get('/coins/<%= coin.id %>/hide');$(this).closest('tr').remove()"><i class="fas fa-times"></i></a>
  </td>
<% end %>
