<td class="holding" data-sort="<%= (!coinship || coinship.holding < 1e-3 ? 0 : coinship.holding) %>">
  <% if coinship %>
    <% if current_account && current_account.id == @account.id %>
      <a
<% if coinship.holding > 1e-3 %>
  data-toggle="tooltip" title="
  $<%= number_with_precision coinship.holding / Coin.find_by(slug: 'usd-coin').price, precision: 0, delimiter: ',' %>
  <br />
  Updated <%= time_ago_in_words coin.updated_at %> ago"
<% end %>
       class="text-dark" href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()">
        <div class="p">
          <i data-toggle="tooltip" class="fas fa-pencil-alt"></i>
        </div>
      </a>
      <% form_tag "/coins/#{coin.id}/units_elsewhere", style: 'display: none' do %>
        <% if coinship.units %>
          <%= coinship.units %> +
        <% end %>
        <%= text_field_tag :units_elsewhere, placeholder: 'Elsewhere', value: coinship.try(:units_elsewhere), class: 'form-control', style: 'width: 100%;', onblur: '$(this.form).submit()', onfocus: "var val = this.value; this.value = ''; this.value = val;" %>
      <% end %>
    <% else %>
      <div class="p"></div>
    <% end %>
  <% end %>
</td>
