<% coinship = Coinship.find_by(coin: coin) %>

<td style="opacity: 0.5"></td>
<td data-sort="<%=coin.market_cap_rank%>">
  <% if coin.market_cap_rank %>
    <span data-toggle="tooltip" title="Market cap rank: #<%=coin.market_cap_rank%>">
      #<%=coin.market_cap_rank%>
    </span>
  <% end %>
</td>
<td>
  <% if current_account %>
    <% if !coinship || !coinship.starred %>
      <a class="pagelet-trigger" href="/coins/<%=coin.id%>/star"><i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i></a>
    <% else %>
      <a class="pagelet-trigger" href="/coins/<%=coin.id%>/unstar"><i class="fas fa-star" style="color: #FAC84F"></i></a>
    <% end %>
  <% else %>
    <% if !coinship || !coinship.starred %>
      <i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i>
    <% else %>
      <i class="fas fa-star" style="color: #FAC84F"></i>
    <% end %>
  <% end %>
</td>
<td style="white-space: nowrap" data-symbol="<%=coin.symbol.starts_with?('$') ? coin.symbol[1..-1] : coin.symbol%>">
  <a target="_blank" href="<%=coin.website || %Q{https://coingecko.com/en/coins/#{coin.slug}}%>"><%=coin.name%> (<%=coin.symbol%>)</a>
  <a target="_blank" href="https://coingecko.com/en/coins/<%=coin.slug%>">
    <i data-toggle="tooltip" title="Coingecko" class="fas fa-chevron-right"></i>
  </a>
  <% if coin.erc20? %>
    <a target="_blank" href="https://etherscan.io/token/<%=coin.contract_address%>">
      <i data-toggle="tooltip" title="Etherscan" style="color: #A68DFB" class="fab fa-ethereum"></i>
    </a>
  <% end %>
  <% if current_account && (asset = Asset.find_by(ticker: coin.symbol)) %>
    <small>
      <a class="text-dark" target="_blank" href="https://iconomi.com/asset/<%=coin.symbol%>">
        ICONOMI
      </a>
    </small>
  <% end %>
  <% if @virtual_tags.include?(params[:tag]) %>
    <%= tag_badge coin.tag %>
  <% end %>
</td>
<td data-sort="<%=coinship.try(:market_cap_rank_prediction)%>">
  <% if current_account %>
    <a href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()">#<%=coinship.try(:market_cap_rank_prediction)%></a>
    <% form_tag "/coins/#{coin.id}/market_cap_rank_prediction", :style => 'display: none' do %>

      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text">#</span>
        </div>
        <%= number_field_tag :p, :value => coinship.try(:market_cap_rank_prediction), :class => 'form-control', :style => 'width: 5em;', :onblur => '$(this.form).submit()', :onfocus => "var val = this.value; this.value = ''; this.value = val;" %>
      </div>
    <% end %>
  <% else %>
    <% if coinship.try(:market_cap_rank_prediction) %>
      <span data-toggle="tooltip" title="Market cap rank prediction: #<%=coinship.try(:market_cap_rank_prediction)%>">
        #<%=coinship.try(:market_cap_rank_prediction)%>
      </span>
    <% end %>
  <% end %>
</td>
<td data-sort="<%=coinship.try(:market_cap_rank_prediction_conviction)%>">
  <% if current_account %>
    <a href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()"><%=coinship.try(:market_cap_rank_prediction_conviction) || '&hellip;'%></a>
    <% form_tag "/coins/#{coin.id}/market_cap_rank_prediction_conviction", :style => 'display: none' do %>
      <%= number_field_tag :p, :value => coinship.try(:market_cap_rank_prediction_conviction), :class => 'form-control', :style => 'width: 5em;', :onblur => '$(this.form).submit()', :onfocus => "var val = this.value; this.value = ''; this.value = val;" %>
    <% end %>
  <% else %>
    <% if coinship.try(:market_cap_rank_prediction_conviction) %>
      <span data-toggle="tooltip" title="Market cap rank prediction conviction: <%=coinship.try(:market_cap_rank_prediction_conviction)%>">
        <%=coinship.try(:market_cap_rank_prediction_conviction)%>
      </span>
    <% end %>
  <% end %>
</td>
<td data-sort="<%=coinship.try(:market_cap_change_prediction)%>">
  <% if coinship.try(:market_cap_change_prediction); p = coinship.market_cap_change_prediction.round %>
    <a href="javascript:;" style="text-decoration: none" data-toggle="tooltip" title="<%=p%>x"><% p.times do %><i class="fa fa-square"></i> <% end %></a>
  <% end %>
</td>
<td class="holding" data-sort="<%= (!coinship || coinship.holding < 1e-6 ? 0 : coinship.holding) * ENV['PRICE_FACTOR'].to_i  %>">
  <% if current_account %>
    <a target="_blank" href="/admin/edit/Coin/<%=coin.id%>">
    <% end %>
    <div class="p">
      <% if coinship.try(:starred) %>
        <% if coinship.try(:all_units) %>
          <% if coinship && coinship.holding < 1e-6 %>
            <i data-toggle="tooltip" <% if current_account %> style="cursor: pointer" <% end %> class="far fa-question-circle"></i>
          <% else %>
            <i class="fas fa-spin fa-circle-notch"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if current_account %>
    </a>
  <% end %>
</td>
<td>
  <% if coinship.try(:staked_units) %>
    <i data-toggle="tooltip" title="Staked" class="fas fa-check-circle"></i>
  <% end %>
</td>
<td class="rg" <% if params[:tag] == '7d' %> style="opacity: 0.5" <% end %> >
  <% if coin.price_change_percentage_24h_in_currency %>
    <%=number_to_percentage coin.price_change_percentage_24h_in_currency, precision: 2%>
  <% end %>
</td>
<td class="rg" <% unless params[:tag] == '7d' %> style="opacity: 0.5" <% end %>>
  <% if coin.price_change_percentage_7d_in_currency %>
    <%=number_to_percentage coin.price_change_percentage_7d_in_currency, precision: 2%>
  <% end %>
</td>
<td class="rg" style="opacity: 0.5">
  <% if coin.price_change_percentage_1h_in_currency %>
    <%=number_with_precision coin.price_change_percentage_1h_in_currency, precision: 2%>%
  <% end %>
</td>
<td class="rg" data-sort="<%= coin.market_cap_change_percentage_24h || 0 %>">
  <% if coin.market_cap_change_percentage_24h %>
    <%=number_with_precision coin.market_cap_change_percentage_24h, precision: 2%>%
  <% end %>
</td>
<td>
  <% if coin.twitter_followers %>
    <a target="_blank" class="text-dark" href="https://twitter.com/<%=coin.twitter_username%>"><%= number_with_precision coin.twitter_followers, precision: 0, delimiter: ',' %></a>
  <% end %>
</td>
<td data-sort="<%= coin.uniswap_volume || 0 %>">
  <% if coin.uniswap_volume && @uniswap_slugs %>
    #<%= @uniswap_slugs.index(coin.slug)+1 %>
  <% end %>
</td>
<td data-sort="<%= coin.sushiswap_volume || 0 %>">
  <% if coin.sushiswap_volume && @sushiswap_slugs %>
    #<%= @sushiswap_slugs.index(coin.slug)+1 %>
  <% end %>
</td>
<td data-sort="<%= coin.tvl || 0 %>">
  <% if coin.tvl && @tvl_slugs %>
    #<%= @tvl_slugs.index(coin.slug)+1 %>
  <% end %>
</td>
<td>
  <% if coin.market_cap && coin.market_cap > 0 %>
    <%= number_to_percentage 100*(coin.total_volume.to_f/coin.market_cap), precision: 0%>
  <% end %>
</td>
<% if coinship && coinship.holding && coinship.holding > 1e-6 && coin.market_cap && coin.market_cap > 0 %>
  <td data-sort="<%=sprintf('%.18f', coinship.holding.to_f/coin.market_cap)%>">
    <%= BigDecimal.new((coinship.holding.to_f*100)/coin.market_cap, 2).to_f %>%
  </td>
<% else %>
  <td></td>
<% end %>
<% if current_account %>
  <td>
    <a class="btn btn-sm btn-danger" href="javascript:;" onclick="$.get('/coins/<%=coin.id%>/hide');$(this).closest('tr').remove()"><i class="fas fa-times"></i></a>
  </td>
<% end %>
