<td style="opacity: 0.5"></td>
<td data-sort="<%=coin.market_cap_rank%>">
  <% if coin.market_cap_rank %>
    <span data-toggle="tooltip" title="Market cap rank: #<%=coin.market_cap_rank%>">
      #<%=coin.market_cap_rank%>
    </span>
  <% end %>
</td>
<td>
  <% if current_account && current_account.id == @account.id %>
    <% if !coinship || !coinship.starred %>
      <a class="pagelet-trigger" href="/coins/<%=coin.id%>/star"><i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i></a>
    <% else %>
      <a class="pagelet-trigger" href="/coins/<%=coin.id%>/unstar"><i class="fas fa-star" style="color: #FAC84F"></i></a>
    <% end %>
  <% else %>
    <% if !coinship || !coinship.starred %>
      <i class="far fa-star" style="color: #FAC84F; opacity: 0.3"></i>
    <% else %>
      <i class="fas fa-star" style="color: #FAC84F"></i>
    <% end %>
  <% end %>
</td>
<td style="white-space: nowrap" data-symbol="<%=coin.symbol.starts_with?('$') ? coin.symbol[1..-1] : coin.symbol%>">
  <a data-toggle="tooltip"

<% if coin.usd_price %>
   title="$<%= coin.usd_price
if coin.usd_price < 1
  Float("%.#{3}g" % coin.usd_price)
else
  number_with_precision coin.usd_price, precision: 2, delimiter: ','
end

   %><br />Updated <%=time_ago_in_words coin.updated_at%> ago"
<% end %>
    class="text-dark font-weight-bold" target="_blank" href="https://coingecko.com/en/coins/<%=coin.slug%>">
    <%=coin.name%> (<%=coin.symbol%>)
  </a>
  <% if coinship && @virtual_tags.include?(params[:tag]) %>
    <%= tag_badge coinship.tag %>
  <% end %>
</td>
