<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Portfolios</a></li>
    <li class="breadcrumb-item"><a href="/u/<%= @account.username %>/coins"><%= @account.name %></a></li>
    <li class="breadcrumb-item active">
      <%= params[:tag] || 'Overview' %>
    </li>
  </ol>
</nav>

<%= ul_nav (
      (@virtual_tags.map { |slug| [tag_badge(slug, account: @account, html_tag: 'span'), "/u/#{@account.username}/tags/#{slug}"] }) +
      [[tag_badge('overview', account: @account, html_tag: 'span'), "/u/#{@account.username}/tags"]] +
      (tags = @account.tags.sort_by { |tag| -tag.holding }).map { |tag| [tag_badge(tag, html_tag: 'span'), "/u/#{@account.username}/tags/#{tag.name}"] }
    ),
           ul_class: 'nav nav-tabs',
           li_class: 'nav-item',
           li_active_class: nil,
           a_class: 'nav-link',
           a_active_class: 'active',
           ul_id: 'coins-ul',
           generate_subnav_href_and_ul: false %>

<% if current_account && current_account.id == @account.id %>
  <script>
    $(function() {

    $('#coins-ul').append('\
    <li class="nav-item ">\
      <a id="add-tag" class="nav-link" href="javascript:;"><i class="fa fa-plus-circle"></i></a>\
      </li>\
      ')
    $('#add-tag').click(function() {
      var tagName = prompt('Tag name');
      if(tagName)
        window.location = '/coins/add_tag/' + tagName
    })

    })
  </script>
<% end %>

<div class="mt-3">
  <% @account.tags.update_holdings if @account.coinships.count < 100 %>
  <% total_holding = @account.tags.holding %>
  <%= tags.map do |tag|
        if tag.holding && tag.holding.positive?
          relative_holding = tag.holding / total_holding
          %(<a href="/u/#{@account.username}/tags/#{tag.name}" data-toggle="tooltip" title="#{tag.name}" class="text-center d-inline-block" style="color: white; background-color: #{tag.background_color || '#6C757D'}; width: #{relative_holding * 100}%"><span class="d-inline-block p-1">#{number_to_percentage relative_holding * 100, precision: 1}</span></a>)
        end
      end.compact.join %>
</div>
