<%= cp :'coins/nav', 1.hour %>

<% unless current_account %>
  <%= md :seeds %>
<% end %>

<% case params[:tag]; when nil, 'holding' %>

<% unless current_account %>
  <div class="mt-3">
    <%= md :holding %>
  </div>
<% end %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
      :starred => true
    ).order('price_change_percentage_24h_in_currency desc')} %>

<% when 'watching' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
          :tag_id.ne => nil
        ).order('price_change_percentage_24h_in_currency desc')} %>

<% when 'watching-less-core' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
                  :tag_id.in => Tag.all.pluck(:id) - Tag.where(:name.in => ['core', 'fiat-pegged', 'yfi']).pluck(:id),
                ).order('price_change_percentage_24h_in_currency desc')} %>

<% when 'uniswap' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
                  :slug.in => @uniswap,
                ).order('uniswap_volume desc').limit(20)} %>

<% when 'sushiswap' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
                          :slug.in => @sushiswap,
                        ).order('sushiswap_volume desc').limit(20)} %>

<% when 'defi-pulse' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
                                                  :slug.in => @defi_pulse,
                                                ).order('tvl desc').limit(20)} %>

<% when '24h' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
                                                              :hidden.ne => true,
                                                              :market_cap_rank.lte => ENV['MAX_MARKET_CAP_RANK'],
                                                              :total_volume.gte => ENV['MIN_VOLUME']
                                                            ).order('price_change_percentage_24h_in_currency desc').limit(20)} %>

<% when '7d' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
                                                      :hidden.ne => true,
                                                      :market_cap_rank.lte => ENV['MAX_MARKET_CAP_RANK'],
                                                      :total_volume.gte => ENV['MIN_VOLUME']
                                                    ).order('price_change_percentage_7d_in_currency desc').limit(20)} %>

<% when 'market-cap-24h' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
                                                                  :hidden.ne => true,
                                                                  :market_cap_rank.lte => ENV['MAX_MARKET_CAP_RANK'],
                                                                  :total_volume.gte => ENV['MIN_VOLUME']
                                                                ).order('market_cap_change_percentage_24h desc').limit(20)} %>

<% when 'top-100' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
  :market_cap_rank.lte => 100,
).order('market_cap_rank asc').limit(100)} %>

<% when 'top-100-less-tagged' %>

<%= partial :'coins/coin_table', locals: {coins: Coin.where(
  :market_cap_rank.lte => 100,
  :tag_id => nil
).order('market_cap_rank asc').limit(100)} %>

<% else %>

  <div data-pagelet-url="/coins/table/<%=params[:tag]%>">
    <%= partial :'coins/coin_table', locals: { coins: Coin.where(
      tag: Tag.find_by(name: params[:tag])
    ).order('price_change_percentage_24h_in_currency desc') } %>
  </div>

<% end %>
